<div class="span-17 last section_margin_top" id="header_wrapper">
	<div class="span-6"><h1>Dashboard</h1></div>
</div>
<div class="span-17 last page_content">
  <% if @this_user.is_a? PaidAccount %>
    <div class="span-16 last section_margin_top">
        <h2>Unorganized Tasks</h2>
    </div>
    <div class="span-16 last" data-behavior="expander" data-state="contracted" data-id="new_task_form">
      <div class="list_action button round light" onclick="void(0)" data-behavior="expander" data-action="expand" data-id="new_task_form"><div class="button_content">add a task</div></div>
    </div>
    <div id="new_task_form" class="span-16 last section_margin_top" data-behavior="expander" data-state="expanded" data-id="new_task_form" style="display:none;">
      <div class="span-16 last">Enter a task</div>
    	<div class="span-16 last">
    		<%= form_for @task do |f| %>
    			<div class="span-12">
    				<%= f.text_field :title, :id => "primary_input", :class => "span-12" %>
    			</div>
    			<div class="span-4 last">
    				<%= f.hidden_field :user_id %>
    				<%= f.hidden_field :state, :value => 'active' %>
          	<div class="row_item button round small light" data-button="true" data-submit="true" onclick="void(0)">
          	  <div class="button_content">create task</div>
          	</div>
            <div class="text_with_button">
              <div onclick="void(0)" data-behavior="expander" data-action="contract" data-state="expanded" data-id="new_task_form" style="display:none;">
                or close
              </div>
            </div>
    			</div>
    		<% end %>
    	</div>
    </div> <!-- new unorganized task form -->
    <% if @this_user.tasks.active.unorganized.any? %>
      <div class="span-16 last padding_bottom">
        <div id="archive_completed_items" class="list_action button round light" style="display: none;" onclick="void(0)" data-button="true">
          <div class="button_content">
          	<%= link_to 'archive completed tasks', archive_completed_tasks_url,
          	 	:'data-ajax_behavior' => 'ajax_link',
          		:'data-ajax_method' => 'GET',
          		:'data-ajax_success_callback' => "handleArchivementSuccess();",
          		:'data-ajax_error_callback' => "jQuery(this).after('<div id=\"flash_notice\" class=\"flash_notice\"> Oops! We couldn't archive those completed tasks, please contact customer support.</div>');setTimeOut(\"jQuery('#flash_notice').fadeOut(1000);\",3000);" %>
          </div>
        </div>
      </div>
      <div class="span-16 last list_section" id="unarchived_items_wrapper">
        <div class="span-16 last list_topper">&nbsp;</div>
    		<% @this_user.tasks.active.unorganized.recent.three.each_with_index do |task, index| %>
    			<div class="span-16 last line_item" id="task_<%= task.id %>" data-role="list_item">
    			<%= render :partial => '/tasks/show', :locals => {:task => task, :needs_organization => true} %>
    			</div>
    		<% end %>
    		<% if @this_user.tasks.active.unorganized.count > 3 %>
          <div class="span-16 last text_right section_margin_top">
            <%= link_to 'See all', dashboard_unorganized_url %> &rarr;
          </div>
    		<% end %>
      </div>
      <% if @this_user.folders.empty? %>
        <div class="span-15 last explanatory section_margin_top">
          <h2><a data-modal_trigger="true" data-modal_id="new_folder_form_nav">Add your first folder &nbsp;<span class="control_font plus_icon">&oplus;</span></a></h2>
          Hi there. You don't have any folders or plans yet. Plans are lists of tasks that all work together to accomplish a single goal; like a team plan for a work project, or a personal grocery list. Folders organize your plans. One simple approach is to create two folders: "Work" and "Personal". That way you can keep your work and personal plans separate. You can get started by <a data-modal_trigger="true" data-modal_id="new_folder_form_nav">clicking here to add your first folder</a>
          
        </div>
      <% elsif @this_user.projects.empty? %>
        <% folder = @this_user.folders.first %>
      <div class="span-15 last explanatory section_margin_top">
        <h2><a data-modal_trigger="true" data-modal_id="folder_new_project_form_nav" data-modal_insert_value="<%= folder.id %>" data-modal_display_name="<%= folder.title %>">Add your first plan &nbsp;<span class="control_font plus_icon">&oplus;</span></a></h2>
        Hi there. You've created a folder, but you don't have any plans in your folder yet. Plans are lists of tasks that all work together to accomplish a single goal; like a team plan for a work project, or a personal grocery list. You can get started by <a data-modal_trigger="true" data-modal_id="folder_new_project_form_nav" data-modal_insert_value="<%= folder.id %>" data-modal_display_name="<%= folder.title %>">clicking here to add your first plan to your "<%= folder.title %>" folder.</a>
        <h3>Adding tasks to a plan</h3>
        There are two ways to add a task to a plan:
        <ul>
          <li>In the unorganized task list above, hover over the task to reveal the 'add plan' control. Click on 'add plan'.</li>
          <li>Go to the full view for the plan and click the 'add a task' button on the right side of the page.
        </ul>
      </div>
      <% end %>
    <% elsif @this_user.tasks.count > 0 %> <%# any unorganized tasks? %>
      <div class="span-15 last section_margin_top">
        You've organized all your current tasks.
      </div>
    <% else %> <%# any unorganized tasks? %>
      <div class="span-15 last section_margin_top explanatory">
        <% if @this_user.folders.empty? %>
          <h3>Welcome!</h3>
          You can enter your first task by clicking on the 'add a task' button above this box on the right side. This is your dashboard, so you can quickly add tasks here when you're busy. When you have time to organize you can come back to this page and organize your tasks into plans and folders, and add labels. Many people find it works to organize all your new tasks at the end of each day.
          <br/>&nbsp;<br/>
          <h3>Plans and Folders</h3>
          Organize your tasks by creating folders and plans. A folder organizes plans, and plans are lists of tasks that accomplish a single goal. One simple approach is to create two folders: "Work" and "Personal". That way you can keep your work and personal plans separate. You can get started by <a data-modal_trigger="true" data-modal_id="new_folder_form_nav">clicking here to add your first folder</a>
        <% elsif @this_user.projects.empty? %>
          <% folder = @this_user.folders.first %>
          <h3><a data-modal_trigger="true" data-modal_id="folder_new_project_form_nav" data-modal_insert_value="<%= folder.id %>" data-modal_display_name="<%= folder.title %>">Add your first plan &nbsp;<span class="control_font plus_icon">&oplus;</span></a></h3>
          Hi there. You've created a folder, but you don't have any plans in your folder yet. Plans are lists of tasks that all work together to accomplish a single goal; like a team plan for a work project, or a personal grocery list. You can get started by <a data-modal_trigger="true" data-modal_id="folder_new_project_form_nav" data-modal_insert_value="<%= folder.id %>" data-modal_display_name="<%= folder.title %>">clicking here to add your first plan to your "<%= folder.title %>" folder.</a>
        <% else %>
          <h3>Adding tasks to a plan</h3>
          There are three ways to add a task to a plan:
          <ul>
            <li>Create a task by clicking the 'add a task' button above this box. When the task appears in the unorganized task list on this page, hover over the task to reveal the 'add plan' control. Click on 'add plan'.</li>
            <li>Click on the Plan tab to the left and hover over the name of the plan you want to add a task to. A gray control bar will appear, click on the circled plus sign to add a task to that plan.</li>
            <li>Go to the full view for the plan by clicking on the plan name in the Plan tab and click the 'add a task' button on the right side of the plan task list page.
          </ul>
        <% end %>
      </div>
    <% end %> <%# any unorganized tasks? %>
    <% if Project.unorganized_for(@this_user).active.count > 0 %>
      <div class="span-16 last section_margin_top padding_top">
        <div class="span-5">
          <h2>Unorganized Plans Shared With You</h2>
        </div>
          <% if @this_user.show_help_text %>
        <div class="span-11 last text_right quiet">
          Consider adding these plans to a folder for organization.
        </div>
          <% end %>
      </div>
      <div class="span-16 last list_section" id="unarchived_items_wrapper">
  		<% Project.unorganized_for(@this_user).active.recent.five.each_with_index do |project, index| %>
  			<div class="span-16 last" id="project_<%= project.id %>" data-role="list_item">
  			<%= render :partial => '/projects/show', :locals => {:project => project, :hierarchical => true, :needs_organization => true} %>
  			</div>
  		<% end %>
    		<% if Project.unorganized_for(@this_user).active.count > 5 %>
        <div class="span-16 last text_right section_margin_top">
          <%= link_to 'See all', tasks_url %> &rarr;
        </div>
    		<% end %>
    </div>
    <% end %>
  <% end %> <%# PaidAccount -> unorganized tasks %>
  <div class="span-7 append-2">
    <div class="span-7 last section_margin_top">
      <h2>Recent Activity</h2>
    </div>
    <% if (@this_user.shared_comments.recent.any?) or (Task.for_user(@this_user).only_once.complete.recent.any?) %>
      <div class="span-7 last list_section">
      <% if @this_user.shared_comments.recent.any? %>
        <% for comment in @this_user.shared_comments.recent.two %>
          <div class="span-7 last small_margin_top">
            <div class="span-7 last section_heading">
              <div class="span-3 small line_fixed_width">
                <div class="overflow_fade">&nbsp;</div>
    	          <div class="span-24 padding_left"><%= comment.user.handle %></div>
    	        </div>
    	        <div class="span-0_5 allcaps small attribution"><span class="small allcaps">re:</span></div>
    	        <div class="span-3_5 last small line_fixed_width">
                <div class="overflow_fade">&nbsp;</div>
                <div class="span-24 padding_left">
        	        <%= link_to truncate_clean(comment.commentable.title,{:length => 120,:omission => "..."}), (comment.commentable_type == 'Project' ? comments_plan_url(comment.commentable_id) : comments_task_url(comment.commentable_id)) %>
        	      </div>
              </div>
      	    </div>
      	    <div class="span-7 last line_fixed_width small_margin_top">
              <div class="overflow_fade">&nbsp;</div>
              <div class="span-24 padding_left">
      	        <%= link_to truncate_clean(comment.body,{:length => 120,:omission => "..."}), (comment.commentable_type == 'Project' ? comments_plan_url(comment.commentable_id) : comments_task_url(comment.commentable_id)) %>
      	      </div>
      	    </div>
          </div>
        <% end %>
  	    <div class="span-7 last small text_right">
  	      <%= link_to 'see all recent comments', recent_comments_url %>
  	    </div>
      <% end %>
      <% if Task.for_user(@this_user).only_once.complete.recent.any? %>
        <% if @this_user.shared_comments.recent.any? %>
          <div class="section_rule">&nbsp;</div>
        <% end %>
        <% for task in Task.for_user(@this_user).only_once.complete.recent.three %>
          <div class="span-7 last small_margin_top">
            <div class="span-7 last section_heading small">
              <div class="span-3 text_right">
                Completed by:
              </div>
              <div class="span-4 last line_fixed_width">
                <div class="overflow_fade">&nbsp;</div>
                <div class="span-24 padding_left">
                  <%= task.user.handle %>
                </div>
              </div>
            </div>
            <div class="span-7 last line_fixed_width small_margin_top">
              <div class="overflow_fade">&nbsp;</div>
              <div class="span-24 padding_left completed">
                <%= link_to task.title %>
              </div>
            </div>
          </div>
        <% end %>
  	    <div class="span-7 last small text_right">
  	      <%= link_to 'see all recently completed tasks', dashboard_completed_url %>
  	    </div>
      <% end %>
      </div>
    <% else %> <%# recent activity %>
      There is no recent activity.
    <% end %> <%# recent activity %>
  </div>
  <%# if @priority_tasks.any? %>
  <!-- <div class="span-7 append-2">
  <div class="span-7 last section_margin_top">
    <h2>Priority Tasks</h2>
  </div>
  <div class="span-7 last list_section">
    <div class="span-7 last list_topper">&nbsp;</div>
    <%# @priority_tasks.each_with_index do |task,index| %>
      <div class="span-7 last line_item">
        <a href="<%# task_url(task) %>"><%# task.title %></a>
      </div>
    <%# end %>
    <%# if @total_priority_task_count > 3 %>
      <div class=" text_right section_margin_top">
        <%# link_to 'See all', priority_tasks_url %> &rarr;
      </div>
    <%# end %>
  </div>
  </div>
  <%# else %>
  <div class="span-7 append-2 section_margin_top">
    <p>
    You don't have any priority tasks.</p>
    <%# if @this_user.show_help_text %><p class="explanatory">You can make any task a priority by clicking on the star to the left of the check box in a plan's task list.</p><%# end %>
    </p>
  </div> -->
  <%# end %>
  <div class="span-7">
    <div class="span-7 last section_margin_top">
      <h2>Schedule</h2>
    </div>
    <% if @due_date_items.any?%>
      <div class="span-7 last list_section">
        <% for due_date in @due_dates %>
          <div class="span-7 last section_heading<% if due_date < Date.today %> overdue<% end %> small_margin_top">
            &nbsp; <%= due_date.to_formatted_s(:full) %>
          </div>
          <% for item in @due_date_items.select{|t| t.due_date.to_date == due_date} %>
      			<div class="span-7 last line_item_soft" id="due_date_<%= item.class.display_name.downcase %>_<%= item.id %>">
      			  <div class="span-1 small"><%= item.class.display_name %>:</div>
      			    <% if item.class.name == 'Project' %>
      			      <a href="<%= plan_url(item) %>" class="span-6 last"><%= item.title%></a>
      			    <% else %>
      		        <a href="<%= task_url(item) %>" class="span-6 last"><%= item.title%></a>
          			<% end %>
      			</div>
      		<% end %>
        <% end %>
    		<% if (@due_date_task_count > 2) or (@due_date_project_count > 2) %>
          <div class="span-7 last text_right section_margin_top">
            <%= link_to 'See all', schedule_url %> &rarr;
          </div>
    		<% end %>
      </div>
    <% else %> <!-- scheduled -->
      There are no scheduled tasks.
    <% end %> <%# schedule %>
  </div>
</div>
<%= javascript_tag do %>
  focusPrimaryInput();
<% end %>