<div class="span-18 last section_margin_top" id="header_wrapper">
	<div class="span-5"><h1>Dashboard</h1></div><% if (@help_text = true) and @this_user.tasks.count > 0 %><div class="span-13 last text-right quiet">You can add descriptions, due dates, and more to tasks by clicking on a task title in any list.</div><% end %>
</div>
<div class="span-19 last page_content">
  <h2>Enter a task</h2>
	<div class="span-18 last">
		<%= form_for @task do |f| %>
			<div class="span-9">
				<%= f.text_area :title, :id => "inbox_text_area", :class => "span-9" %>
			</div>
			<div class="span-6 last">
				<%= f.hidden_field :user_id %>
				<%= f.hidden_field :state, :value => 'active' %>
				<%= f.submit "Add it to the list.", :id => "inbox_submit_button" %>
			</div>
		<% end %>
	</div>
  <% if @this_user.tasks.active.unorganized.any? %>
  <div class="span-18 last section_margin_top">
    <div class="span-5">
      <h2>Unorganized</h2>
    </div>
    <div class="span-13 last text-right quiet">
      Consider adding these tasks to a plan, situation, or both for organization
    </div>
  </div>
  <div class="span-18 last section_wrapper">
		<% for task in @this_user.tasks.active.unorganized.recent.five %>
			<div class="span-18 last" id="task_<%= task.id %>" data-role="list_item">
			<%= render :partial => '/tasks/show', :locals => {:task => task, :needs_organization => true} %>
			</div>
		<% end %>
		<% if @this_user.tasks.active.unorganized.count > 5 %>
      <div class="span-18 last text-right section_margin_top">
        <%= link_to 'See all', tasks_url %> &rarr;
      </div>
		<% end %>
  </div>
  <% else %>
  <div class="span-18 last section_margin_top">
    <% if @this_user.tasks.count > 0 %>You've organized all your current tasks.<% else %>
    <p>You don't have any tasks yet<span class="quiet">You can add a task in the box above.</span></p>
    <% end %>
  </div>
  <% end %>
  <% if @this_user.tasks.active.priority.any? %>
  <div class="span-18 last section_margin_top">
    <h2>High Priority</h2>
  </div>
  <div class="span-18 last section_wrapper">
		<% for task in @this_user.tasks.active.priority.recent.five %>
			<div class="span-18 last" id="task_<%= task.id %>" data-role="list_item">
			<%= render :partial => '/tasks/show', :locals => {:task => task} %>
			</div>
		<% end %>
		<% if @this_user.tasks.active.priority.count > 5 %>
      <div class="span-18 last text-right section_margin_top">
        <%= link_to 'See all', due_date_tasks_url %> &rarr;
      </div>
		<% end %>
  </div>
  <% else %>
  <div class="span-18 last section_margin_top">
    <p>
    You don't have any high priority tasks.<br/> <span class="quiet">You can make any task a priority by clicking on the star to the left of the check box in any task list.</span>
    </p>
  </div>
  <% end %>
  <% if @this_user.tasks.active.overdue.any? %>
  <div class="span-18 last section_margin_top">
    <h2>Overdue</h2>
  </div>
  <div class="span-18 last section_wrapper">
		<% for task in @this_user.tasks.active.overdue.recent.five %>
			<div class="span-18 last" id="task_<%= task.id %>" data-role="list_item">
			<%= render :partial => '/tasks/show', :locals => {:task => task} %>
			</div>
		<% end %>
		<% if @this_user.tasks.active.overdue.count > 5 %>
      <div class="span-18 last text-right section_margin_top">
        <%= link_to 'See all', due_date_tasks_url %> &rarr;
      </div>
		<% end %>
  </div>
  <% elsif @this_user.tasks.active.due_today.any? %>
  <div class="span-18 last section_margin_top">
    <h2>Due Today</h2>
  </div>
  <div class="span-18 last section_wrapper">
		<% for task in @this_user.tasks.active.due_today.recent.five %>
			<div class="span-18 last" id="task_<%= task.id %>" data-role="list_item">
			<%= render :partial => '/tasks/show', :locals => {:task => task} %>
			</div>
		<% end %>
		<% if @this_user.tasks.active.due_today.count > 5 %>
      <div class="span-18 last text-right section_margin_top">
        <%= link_to 'See all', due_date_tasks_url %> &rarr;
      </div>
		<% end %>
  </div>
  <% elsif @this_user.tasks.active.due_7_days.any? %>
  <div class="span-18 last section_margin_top">
    <h2>Due in 7 days</h2>
  </div>
  <div class="span-18 last section_wrapper">
    <% for task in @this_user.tasks.active.due_7_days.recent.five %>
			<div class="span-18 last" id="task_<%= task.id %>" data-role="list_item">
			<%= render :partial => '/tasks/show', :locals => {:task => task} %>
			</div>
		<% end %>
		<% if @this_user.tasks.active.due_7_days.count > 5 %>
      <div class="span-18 last text-right section_margin_top">
        <%= link_to 'See all', due_date_tasks_url %> &rarr;
      </div>
		<% end %>
  </div>
  <% elsif @this_user.tasks.active.due_30_days.any? %>
  <div class="span-18 last section_margin_top">
    <h2>Due in 30 days</h2>
  </div>
  <div class="span-18 last section_wrapper">
		<% for task in @this_user.tasks.active.due_30_days.recent.five %>
			<div class="span-18 last" id="task_<%= task.id %>" data-role="list_item">
			<%= render :partial => '/tasks/show', :locals => {:task => task} %>
			</div>
		<% end %>
		<% if @this_user.tasks.active.due_30_days.count > 5 %>
      <div class="span-18 last text-right section_margin_top">
        <%= link_to 'See all', due_date_tasks_url %> &rarr;
      </div>
		<% end %>
  </div>
  <% else %>
  <div class="span-18 last section_margin_top">
    <p>
    There are no due dates in the next 30 days.<br/>
    <span class="quiet">You can add a due date to any task by clicking on the task title in a task list to get to the task editing page</span>
  </div>
  <% end %>
</div>