<div class="span-17 last section_margin_top" id="header_wrapper">
	<h1>All Unorganized Tasks and Plans</h1>
</div>
<div class="span-17 last page_content">
  <h2>Unorganized Tasks</h2>
  <% if @this_user.tasks.unarchived.unorganized.count > 0 %>
  <div class="span-16 last padding_bottom">
    <div id="archive_completed_items" class="list_action button round light" <% unless @this_user.tasks.complete.unorganized.any? %>style="display: none;"<% end %> onclick="void(0)" data-button="true">
      <div class="button_content">
      	<%= link_to 'archive completed tasks', archive_completed_tasks_url,
      	 	:'data-ajax_behavior' => 'ajax_link',
      		:'data-ajax_method' => 'GET',
      		:'data-ajax_success_callback' => "handleArchivementSuccess();" %>
      </div>
    </div>
  </div>
  <div  id="unarchived_items_wrapper" data-role="list" class="span-16 last list_section">
    <div class="span-16 last line_item">
      <div class="span-9 append-3 text_center small">task title</div>
      <div class="span-3 small">&nbsp;&nbsp;plan</div>
    </div>
  	<% for task in @tasks %>
  		<div class="span-16 last line_item" id="task_<%= task.id %>" data-role="list_item">
  		<%= render :partial => '/tasks/show', :locals => {:task => task, :needs_organization => true} %>
  		</div>
  	<% end %>
  </div>
	<div class="span-17 padding_top">
  <%= will_paginate @tasks %>
  </div>
  <% else %>
  <p>You don't have any unorganized tasks right now.</p>
  <% if @this_user.show_help_text %>
    <div class="span-16 last">
      <p class="explanatory">When you use the dashboard to add a task, it's a quick way to get it into the system. Later when you have more time, preferably daily, you should come back and review the tasks you've added. You'll find them here, in the Unorganized Task list.<br/>&nbsp;<br/>While you're reviewing your new tasks you can check off any you've already completed and consider yourself accomplished. If you haven't completed a task, consider adding it to a plan or a label. If it is a task that involves multiple steps itself, you can convert it to a plan and add tasks to that plan to list the steps.</p>
      
    </div>
    <% end %>
  <% end %>
  <% if @projects.any? %>
  <div class="span-16 last section_margin_top">
    <div class="span-5">
      <h2>Unorganized Plans Shared With You</h2>
    </div>
    <% if @this_user.show_help_text %>
    <div class="span-11 last text_right quiet">
      Consider adding these plans to a folder for organization.
    </div>
    <% end %>
  </div>
  <div class="span-16 last list_section" id="unarchived_items_wrapper">
		<% @projects.each_with_index do |project, index| %>
			<div class="span-16 last" id="project_<%= project.id %>" data-role="list_item">
			<%= render :partial => '/projects/show', :locals => {:project => project, :hierarchical => true} %>
			</div>
		<% end %>
  </div>
	<div class="span-17 padding_top">
  <%= will_paginate @projects, :param_name => 'plan_page' %>
  </div>
  <% elsif @this_user.shared_projects.count > 0 %>
  <div class="span-16 last section_margin_top">
    You've organized all your shared plans.
  </div>
  <% end %>
</div>
