<div class="span-16 last section_margin_top" id="header_wrapper">
	<h1>The Situations</h1>
</div>
<div class="span-17 last page_content">
  <h2>Create a new situation.</h2>
	<div class="span-16 last">
		<% form_for @situation, :url => situations_url do |f| %>
			<div class="span-12">
				<%= f.text_field :title, :id => 'primary_input', :class => "span-12" %>
			</div>
			<div class="span-6 last">
				<%= f.hidden_field :user_id %>
				<%= f.submit "Save"%>
			</div>
		<% end %>
	</div>
	<% if @this_user.situations.count > 0 %>
	<div class="span-16 last section_wrapper section_margin_top">
		<% for situation in @this_user.situations %>
			<div id="situation_<%= situation.id %>" class="span-16 last">
				<%= link_to situation.title, situation_url(situation) %>
			</div>
		<% end %>
	</div>
	<% else %>
	<div class="span-16 last section_margin_top">
  	<h2>You haven't created any situations yet</h2>
  </div>
  <% if @this_user.show_help_text %>
	<div class="span-16 last section_wrapper explanatory">
    <p>
    Situations are places or objects which are necessary to complete a task. They are different from projects because tasks that belong to a project are related by a common goal, while tasks that belong to a situation are only related by the place or object required.<br/>&nbsp;<br/>
    If I'm building a new dining table, I might create a Dining Table project. Within that project I might list tasks like 'design table', 'research building materials', 'buy materials', and 'build table'. Those tasks are all related by the goal of building a new dining table. I might need to be at my desk to design the table, but I might need to be on the phone to research building materials, and I might need to be in my car to buy the materials. 'Desk', 'Phone', and 'Car' are all examples of Situations you might want to create and use.<br/>&nbsp;<br/>
    I might also be planning a party around the same time as I'm building my dining table. 'Invite guests' might require that I be at my desk, while 'research party supplies' might require that I be on my phone, and 'buy party supplies' might require that I be in my car.<br/>&nbsp;<br/>
    If I've added all the party planning and dining table tasks to the appropriate situations, the next time I've got some time at my desk I could design my table and invite my guests. Later I have some time with my phone so I research dining table materials and party supplies. The next day I have some time in my car so I buy the materials for my table and party supplies. I've become more efficient by using Situations.
    </p>
  </div>
  <% end %>
	<% end %>
</div>
<%= javascript_tag do %>
	jQuery(document).ready(function(){
		focusPrimaryInput();
	})
<% end %>