<div class="section">
  <div class="padding">
<%= form_for comment, :html => {
	:'data-ajax_behavior' => 'ajax_form',
	:'data-ajax_method' => 'PUT',
	:'data-ajax_success_element' => "comment_#{comment.id}",
	:id => "comment_edit_form_#{comment.id}"} do |f| %>
  <%= f.text_area :body, :id => "comment_body_textarea_#{comment.id}", :class => "span-12", :rows => 5 %>
	<div class="row">
  	<div onclick="void(0)" data-button="true" data-submit="true" class="row_item button round small light "><div class="button_content">save changes</div></div>
    <div class="row_item padding_top_button small">,
    <span href="<%= comment_url(comment) %>"
      onclick="void(0)"
	    data-ajax_behavior="ajax_link"
	    data-ajax_method="GET"
	    data-ajax_success_element="comment_<%= comment.id %>">(cancel)</span>
		or <span href="<%= comment_url(comment) %>"
		  onclick="void(0)"
			data-ajax_behavior="ajax_link"
			data-ajax_method="DELETE"
			data-ajax_success_callback="jQuery('#comment_<%= comment.id %>').fadeOut(600,function(){jQuery(this).remove();});"
			data-ajax_data="{_method: 'DELETE'}"
			data-ajax_confirm="Are you sure you want to delete this comment?">(delete)</span>
    </div>
	</div>
<% end %>
  </div>
</div>