<div class="span-17 last page_content">
	<div id="comment_list_heading" class="span-16 last">
    <div class="span-14">
  		<h2><%= commentable.title %></h2>
		</div>
	</div>
	<div class="span-16 last section_margin_top" data-behavior="expander" data-state="contracted" data-id="new_comment_form">
    	<div class="list_action button round light" data-behavior="expander" data-state="contracted" data-id="new_comment_form" data-button="true"><a href="#" data-behavior="expander" data-action="expand" data-id="new_comment_form" class="button_content">add a comment</a></div>
	</div>
  <div id="new_comment_wrapper" class="span-16 last section_margin_top" style="display:none;" data-behavior="expander" data-state="expanded" data-id="new_comment_form">
    <%= render :partial => '/comments/new', :locals => {:comment => Comment.new(:commentable_id => commentable.id, :commentable_type => commentable.class.name)} %>
	</div>
	<div id="comments_list" class="span-16 last list_section section_margin_top" data-role="list">
    <div class="span-16 last line_item">
      <div class="span-9 text_center small">comment</div>
      <div class="span-3 text_center small">&nbsp;</div>
      <div class="span-3 text_center small">author & date</div>
    </div>
		<% commentable.comments.by_date.each_with_index do |comment,index| %>
		
			<div class="span-16 last line_item" id="comment_<%= comment.id %>" name="comment_<%= comment.id %>" data-role="list_item">
				<%= render :partial => '/comments/show', :locals => {:comment => comment, :editable => true} %>
			</div>
		<% end %>
	</div>
</div>