<%= form_for comment, :html => {
	:'data-ajax_behavior' => 'ajax_form',
	:'data-ajax_method' => 'POST',
	:'data-ajax_success_element' => "comments_list",
	:'data-ajax_success_placement' => 'append',
	:'data-ajax_success_callback' => 
	  "jQuery('#primary_input').val(''); contractExpander('new_comment_form'); jQuery('#new_comment_form').rebindSubmit();",
	:'data-ajax_error_element' => 'new_comment_wrapper',
	:id => 'new_comment_form'} do |f| %>
	<%= f.text_area :body, :id => "primary_input", :rows => 5 %>
	<div class="block">
		<%= f.hidden_field :user_id %>
		<%= f.hidden_field :commentable_id %>
		<%= f.hidden_field :commentable_type %>
  	<button type="submit" class="row_item button round small light ">comment</button>
	</div>
<% end %>
