<%= form_for comment, :html => {
	:'data-ajax_behavior' => 'ajax_form',
	:'data-ajax_method' => 'POST',
	:'data-ajax_success_element' => "comments_list_#{comment.commentable_type.underscore}_#{comment.commentable_id}",
	:'data-ajax_success_placement' => 'append',
	:'data-ajax_success_callback' => 
	  "jQuery('#primary_input').val('');contractExpander('new_comment_form'); jQuery('#new_comment_form').rebindSubmit();",
	:'data-ajax_error_element' => 'new_comment_wrapper',
	:id => 'new_comment_form'} do |f| %>
	<%= f.text_area :body, :id => "primary_input", :rows => 5 %>
	<div class="block">
		<%= f.hidden_field :user_id %>
		<%= f.hidden_field :commentable_id %>
		<%= f.hidden_field :commentable_type %>
  	<div onclick="void(0)" data-submit="true" data-button="true" class="row_item button round small light "><div class="button_content">comment</div></div>
	</div>
<% end %>
