<% editable = false unless defined? editable %>
<div class="block border_bottom">
  <div class="padding">
    <div class="block padding_bottom">
        <%= comment.body %>
    </div>
    <div class="block">
      <% if editable and comment.user_id == @this_user.id %>
      <div class="row_item">
        <div onclick="void(0)" href="<%= edit_comment_url(comment) %>"
          data-ajax_behavior="ajax_link"
          data-ajax_method="GET"
          data-ajax_success_element="comment_<%= comment.id %>"
          class="small">(edit)</div>
      </div>
      <% end %>
      <div class="row_item right small">
        <%= comment.user.handle %>
      </div>
      <div class="block">
        <div class="row_item right small">
        <%= time_ago_in_words(comment.created_at) %> ago
        </div>
      </div>
    </div>
  </div>
</div>