<div id="folder_page_<%= @folder.id %>" class="pager" data-children_pages="({<% if @folder.projects.active.any? %>'<%= multiple_plans_url(:ids => @folder.projects.active.ordered.map{|t| t.id}.join(','), :app_context => 'folder') %>':'multiple_projects_page_<%= @folder.projects.active.ordered.map{|t| t.id}.join('_') %>',<% end %>'<%= plans_url %>':'all_folders'})" data-direct_url="<%= folder_path(@folder) %>">
  <%= render :partial => '/layouts/subnav' %>
  <div class="page_layout">
    <% folder = @folder %>
    <div class="row_item seventy">
    <h2><%= folder.title %></h2>
    </div>
    <div class="row_item thirty">
      <div class="row_item control_font button round color2 circle" onclick="void(0)" data-behavior="expander" data-action="expand" data-state="contracted" data-id="folder_<%= @folder.id %>_new_project_form" data-button="true">+</div>
      <div class="row_item">&nbsp;&nbsp;</div>
      <div class="row_item control_font button round color2 circle ex" onclick="void(0)" data-button="true" data-confirm="All the plans in this folder will also be deleted. Are you sure you want to delete this folder?">
        <%= form_for @folder, :html => {:method => 'delete', :_method => 'delete'} do |f| %>
          <%= hidden_field_tag 'full_page', 'true' %>
          x
        <% end %>
      </div>
    </div>
    <div class="block">
      <%= render :partial => '/projects/new', :locals => {:folder => folder} %>
      <% if folder.projects.active.any? %>
        <div class="list_container" id="folder_<%= folder.id %>_plan_list" data-sort_container="true" data-sort_url="<%= sort_plans_folder_url(folder) %>" data-sort_id="folder_plan_list">
      		<% folder.projects.active.ordered.each_with_index do |project,index| %>
          <div id="project_<%= project.id %>" data-role="list_item" class="block border_bottom" data-sort_element="true" data-sort_id="folder_plan_list" data-list_index="<%= index %>">
      	    <%= render :partial => '/projects/show', :locals => {:project => project, :sortable => true} %>
          </div>
      		<% end %>
      	</div>
    	<% else %>
        <% if @this_user.show_help_text %>
          <div class="explanatory">
            <h3>The folder <strong>"<%= folder.title %>"</strong> doesn't have any active plans right now.</h3>
            <p>
              Plans are lists of tasks that all work together to accomplish a single goal; like a team plan for a work project, or a personal grocery list. You can get started by clicking the button with the plus-sign above to add your first plan to your "<%= folder.title %>" folder.
            </p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>