<div id="folder_page_<%= @folder.id %>" class="pager" data-children_pages="({<% if @folder.projects.active.any? %>'<%= multiple_plans_url(:ids => @folder.projects.active.ordered.map{|t| t.id}.join(','), :app_context => 'folder') %>':'multiple_projects_page_<%= @folder.projects.active.ordered.map{|t| t.id}.join('_') %>'<% end %>,'<%= plans_url %>':'all_folders'})" data-direct_url="<%= folder_path(@folder) %>">
<%= render :partial => '/layouts/subnav' %>
<div class="page_layout">
<% folder = @folder %>
<div class="row_item seventy">
<h2><%= folder.title %></h2>
</div>
<div class="row_item thirty">
  <div class="row_item control_font button round color2 circle" onclick="void(0)" data-behavior="expander" data-action="expand" data-state="contracted" data-id="folder_<%= @folder.id %>_new_project_form" data-button="true">+</div>
  <div class="row_item">&nbsp;&nbsp;</div>
  <div class="row_item control_font button round color2 circle ex" onclick="void(0)" data-button="true" data-confirm="All the plans in this folder will also be deleted. Are you sure you want to delete this folder?">
    <%= form_for @folder, :html => {:method => 'delete', :_method => 'delete'} do |f| %>
      <%= hidden_field_tag 'full_page', 'true' %>
      x
    <% end %>
  </div>
</div>
<div class="list_container">
  <%= render :partial => '/projects/new', :locals => {:folder => folder} %>
  <% if folder.projects.active.any? %>
  <div id="folder_<%= folder.id %>_plan_list" data-sort_container="true" data-sort_url="<%= sort_plans_folder_url(folder) %>" data-sort_id="folder_plan_list">
		<% folder.projects.active.ordered.each_with_index do |project,index| %>
    <div id="project_<%= project.id %>" data-role="list_item" class="block border_bottom" data-sort_element="true" data-sort_id="folder_plan_list" data-list_index="<%= index %>">
	    <%= render :partial => '/projects/show', :locals => {:project => project, :sortable => true} %>
    </div>
		<% end %>
	</div>
	<% else %>
  <div class="padding">The folder <strong><%= folder.title %></strong> doesn't have any active plans right now.</div>
  <% if @this_user.show_help_text %>
  <div class="explanatory">
    <p>
      Plans are groups of tasks that work together to accomplish a goal. If I want to sell my old car I could make a plan named 'Sell Car'. I could then add tasks 'Fix taillight', 'Research market value', and 'Place ad'. This page is where you create and review your plans. When you've created a plan, you can click on the arrow to the right of the plan title to go to the task list for your plan.
    </p>
  </div>
  <% end %>
  <% end %>
</div>
</div>
</div>