<div class="span-17 last section_margin_top" id="header_wrapper">
	<h1><%= @folder.title %> Folder&nbsp;</h1>
</div>
<div class="span-17 last page_content">
  <% if Project.for_folder(@folder).count > 0 %>
  <h2>Plans</h2>
  <% if @this_user.is_a? PaidAccount %>
  <div class="span-16 last section_margin_top" data-behavior="expander" data-state="contracted" data-id="folder_<%= @folder.id %>_new_project_form">
    <div onclick="void(0)" class="list_action button round light" data-behavior="expander" data-action="expand" data-id="folder_<%= @folder.id %>_new_project_form"><div class="button_content">add a plan</div></div>
  </div>
  <%= render :partial => '/projects/new', :locals => {:folder => @folder} %>
  <% end %>
	<div id="unarchived_items_wrapper" data-role="list" class="span-16 last section_margin_top">
    <div id="folder_<%= @folder.id %>_plan_list" class="span-16 last list_section">
		<% for project in Project.for_folder(@folder).active.shared_order %>
			<div id="project_<%= project.id %>" class="span-17 last" data-role="list_item">
  			<%= render :partial => '/projects/show', :locals => {:project => project, :sortable => true, :hierarchical => true} %>
			</div>
		<% end %>
    </div>
  </div>
  <% else %>
  <div class="span-16 last section_margin_top">
    <p>The folder <strong><%= @folder.title %></strong> doesn't have any active plans right now.</p>
  </div>
  <% if @this_user.show_help_text %>
  <div class="span-16 last">
    <p class="explanatory">
      Plans are groups of tasks that work together to accomplish a goal. If I want to sell my old car I could make a plan 'Sell Car'. I could then add tasks 'Fix taillight', 'Research market value', and 'Place ad'. I might need to do those in order or not. For example, I could research the market value before fixing the taillight, but I can't place the ad until both of the others are done. I can sort tasks in a plan view by grabbing a task and dragging it to a new position in the project list.<br/>&nbsp;<br/>
      Sometimes the tasks required to complete a plan can all be done in one sitting, other times tasks require that I be in different locations or have different tools available. In order to efficiently use your time when tools are available or when you're in a certain place like the office or the car, check out the Labels tab to the left. There you find an explanation of how to use labels to increase your efficiency in completing multiple tasks for multiple plans.
    </p>
  </div>
  <% end %>
  <% end %>
</div>
