<h2>Situation</h2>
<div class="span-18 last section">
	<%= form_for @task, :html => {
		:'data-ajax_behavior' => 'ajax_form',
		:'data-ajax_method' => 'PUT',
		:'data-ajax_success_element' => 'task_situation',
		:'data-ajax_error_element' => 'task_situation'
	} do |f| %>
		<%= f.select :situation_id, [['none',nil]] + Situation.all.map{|p| [p.title,p.id]},:class => 'span-9' %>
		<%= hidden_field_tag 'attribute', 'situation_id' %>
		<%= f.submit 'save' %>
		<%= link_to 'cancel', task_url(@task),
		 	:'data-ajax_behavior' => 'ajax_link',
			:'data-ajax_method' => 'GET',
			:'data-ajax_success_element' => 'task_situation',
			:'data-ajax_data' => "{attribute: 'situation_id'}"%>
	<% end %>
</div>