<h2>Due Date</h2>
<div class="half_section last section">
	<%= form_for @task, :html => {
		:'data-ajax_behavior' => 'ajax_form',
		:'data-ajax_method' => 'PUT',
		:'data-ajax_success_element' => 'task_due_date',
		:'data-ajax_error_element' => 'task_due_date',
		:id => 'edit_task_due_date'
	} do |f| %>
		<%= f.text_field :due_date, :id => 'task_due_date_field' %>
    <% unless @task.due_date.blank? %>
		<%= link_to 'remove', task_url(@task),
		 	:'data-ajax_behavior' => 'ajax_link',
			:'data-ajax_method' => 'PUT',
			:'data-ajax_success_element' => 'task_due_date',
			:'data-ajax_data' => "{attribute: 'due_date',nullify: true}"%>
		<% end %>
		<%= hidden_field_tag 'attribute', 'due_date', :id => 'attribute_due_date' %>
		<%= f.submit 'save' %> or
		<%= link_to (@task.due_date.blank? ? 'leave blank' : 'cancel'), task_url(@task),
		 	:'data-ajax_behavior' => 'ajax_link',
			:'data-ajax_method' => 'GET',
			:'data-ajax_success_element' => 'task_due_date',
			:'data-ajax_data' => "{attribute: 'due_date'}"%>
	<% end %>
</div>
<%= javascript_tag do %>
  jQuery(document).ready(function(){
    jQuery('#task_due_date_field').datetimepicker({
    	ampm: true
    });
  })
<% end %>