<h3>Plan</h3>
	<%= form_for @task do |f| %>
  <% if !@task.project or @task.project.user_id == @this_user.id %>
		<%= f.grouped_collection_select :project_id, @this_user.folders, :'projects.active', :title, :id, :title %>
  <% else %>
    <span class="small">this plan is shared with you by <%= @task.project.user.handle %>, you can only move it to other plans created by <%= @task.project.user.handle %>.</span>
    <% these_projects = @this_user.shared_projects.active.where(:user_id => @task.project.user_id) %>
		<%= f.select :project_id, these_projects.map{|p| [p.title,p.id]}, {}, :class => 'span-11', :rows => 4 %>
  <% end %>
	<div onclick="void(0)" data-button="true" data-submit="true" class="row_item button round small light "><div class="button_content">move to project</div></div>
  	<div class="row_item last padding_top_button small">&nbsp;or
    	<span onclick="void(0)" href="<%= task_url(@task, :attribute => 'project_id') %>"
    	 	data-ajax_behavior="ajax_link"
    		data-ajax_method="GET"
    		data-ajax_success_element="task_project_<%= @task.id %>"
    		class="small"> (cancel) </span>
		</div>
	<% end %>
