<div class="span-16 last">
  <%= form_for @task, :html => {
  	:'data-ajax_behavior' => 'ajax_form',
  	:'data-ajax_method' => 'PUT',
  	:'data-ajax_success_element' => 'task_title',
  	:'data-ajax_error_element' => 'task_title',
  	:id => 'edit_task_title'
  } do |f| %>
  <div class="span-16 last">
    <div class="span-13 center_elements">
  	<%= f.text_field :title, :class => 'span-10' %>
  	<%= hidden_field_tag 'attribute', 'title', :id => 'attribute_title' %>
  	<%= hidden_field_tag '_method', 'put' %>
  	<%= f.submit 'save', :class => 'vertical_center' %>
  	</div>
  	<div class="span-2 last" style="margin-top: .15em;">or
  	<%= link_to 'cancel', task_url(@task),
  	 	:'data-ajax_behavior' => 'ajax_link',
  		:'data-ajax_method' => 'GET',
  		:'data-ajax_success_element' => 'task_title',
  		:'data-ajax_data' => "{attribute: 'title'}"%>
  		</div>
  </div>
  <% end %>
</div>
