<h2>Due Date</h2>
<div class="half_section last section">
	<%= form_for @task, :html => {
		:'data-ajax_behavior' => 'ajax_form',
		:'data-ajax_method' => 'PUT',
		:'data-ajax_success_element' => 'task_due_date',
		:'data-ajax_error_element' => 'task_due_date',
		:id => 'edit_task_due_date'
	} do |f| %>
		<%= f.datetime_select :due_date %><br/>
		<%= hidden_field_tag 'attribute', 'due_date', :id => 'attribute_due_date' %>
  	<%= hidden_field_tag '_method', 'put' %>
		<%= f.submit 'save' %> or
		<%= link_to (@task.due_date.blank? ? 'leave blank' : 'cancel'), task_url(@task),
		 	:'data-ajax_behavior' => 'ajax_link',
			:'data-ajax_method' => 'GET',
			:'data-ajax_success_element' => 'task_due_date',
			:'data-ajax_data' => "{attribute: 'due_date'}"%>
	<% end %>
</div>