<h2>Description</h2>
<div class="span-18 last section">
	<%= form_for @task, :html => {
		:'data-ajax_behavior' => 'ajax_form',
		:'data-ajax_method' => 'PUT',
		:'data-ajax_success_element' => 'task_description',
		:'data-ajax_error_element' => 'task_description'
	} do |f| %>
		<%= f.text_area :description, :class => 'span-9' %>
		<%= hidden_field_tag 'attribute', 'description' %>
		<%= f.submit 'save' %>
		<%= link_to 'cancel', task_url(@task),
		 	:'data-ajax_behavior' => 'ajax_link',
			:'data-ajax_method' => 'GET',
			:'data-ajax_success_element' => 'task_description',
			:'data-ajax_data' => "{attribute: 'description'}"%>
	<% end %>
</div>