<h2>Plan</h2>
<div class="span-16 last section">
	<%= form_for @task, :html => {		:id => 'edit_task_project_id'
	} do |f| %>
	  <% if !@task.project or (@task.project and @task.project.user_id == @this_user.id) %>
	    <% if @this_user.projects.active.any? %>
    		<%= f.grouped_collection_select :project_id, @this_user.folders, :'projects.active', :title, :id, :title, {:prompt => 'none'} %>
    	<% else %>
        You don't have any active plans. You can add a plan in any folder you've created by clicking on the Plans tab on the left.
    	<% end %>
    <% else %>
      <span class="small">this plan is shared with you by <%= @task.project.user.handle %>, you can only move it to other plans created by <%= @task.project.user.handle %>.</span>
      <% these_projects = @this_user.shared_projects.active.where(:user_id => @task.project.user_id) %>
  		<%= f.select :project_id, these_projects.map{|p| [p.title,p.id]}, {}, :class => 'span-11', :rows => 4 %>
    <% end %>
    <div class="span-5 last">
    	<div class="row_item button round small light" data-button="true" data-submit="true" onclick="void(0)">
    	  <div class="button_content">save</div>
    	</div>
    	<div class="text_with_button small">
  		or   <%= link_to (@task.project ? 'cancel' : 'leave blank'), task_url(@task),
    		 	:'data-ajax_behavior' => 'ajax_link',
    			:'data-ajax_method' => 'GET',
    			:'data-ajax_success_element' => 'task_project',
    			:'data-ajax_data' => "{attribute: 'project_id'}"%>
      </div>
		</div>
	<% end %>
</div>