<div class="row">
  <%  if @tasks and @tasks.length > 1 
      tmp_string = @tasks.map{|t| '"' + t.title + '"'}.join(', ') %>
  You just added <%= @item.class.name.underscore %>s <%= tmp_string.insert(-(tmp_string.reverse.index(',')),'and ') %>.
  <% else %>
  You just added <%= @item.class.name.underscore %> "<%= @item.title %>".
  <% end %>
  <br/>&nbsp;<br/>
</div>
<div class="row">
  <div id="move_to_top_<%= @item.class.name.underscore %>_<%= @item.id %>" onclick="void(0)" class="row_item button round light">
    <div class="button_content">
      move to top
    </div>
  </div>
  <div class="row_item padding_top_button">&nbsp;or</div>
</div>
<div class="row padding_top" onclick="void(0)" id="move_to_top_<%= @item.class.name.underscore %>_<%= @item.id %>_cancel">leave it at the bottom</div>
