<% hierarchical = false unless defined? hierarchical
  sortable = false unless defined? sortable %>
<div style="display: none;" class="span-<% if hierarchical %>14 last list_section_indent<% else %>16<% end %> section_margin_top" data-behavior="expander" data-state="expanded" data-id="project_<%= project.id %>_new_task_form">
	<%= form_for Task.new(:project_id => project.id, :state => 'active'), :html => {
	  :'data-ajax_behavior' => 'ajax_form',
    :'data-ajax_method' => 'POST',
    :'data-ajax_success_element' => "project_#{project.id}_task_list",
    :'data-ajax_success_placement' => 'append',
    :'data-ajax_success_callback' => "jQuery('#project_#{project.id}_new_task_title').val('');jQuery('#project_#{project.id}_new_task_form').rebindSubmit();handleCount('project_#{project.id}_task_list','project_#{project.id}_task_list')",
	  :id => "project_#{project.id}_new_task_form"} do |f| %>
		<div class="span-<% if hierarchical %>14<% else %>16<% end %> last">
		  <%= f.label :title, 'New Task Title' %>
	  </div>
		<div class="span-<% if hierarchical %>8<% else %>10<% end %>">
			<%= f.text_field :title, :id => "project_#{project.id}_new_task_title", :'data-primary_input' => 'true', :class => ("span-" + ((hierarchical) ? "8" : "10")) %>
		</div>
		<div class="span-6 last">
			<%= f.hidden_field :state, :id => "project_#{project.id}_new_task_state" %>
			<%= f.hidden_field :project_id, :id => "project_#{project.id}_new_task_project_id" %>
      <% if hierarchical %>
  			<%= hidden_field_tag :app_context, 'hierarchical', :id => "project_#{project.id}_new_task_app_context" %>
      <% elsif sortable %>
			  <%= hidden_field_tag :app_context, 'project', :id => "project_#{project.id}_new_task_app_context" %>
  		<% end %>
  		<%= hidden_field_tag 'submit_value' %>
		  <div id="positional_addition" <% unless project.tasks.active.count > 5 %>style="display:none;"<% end %>>
      	<div class="row_item button round small light" data-button="true" data-submit="true" data-submit_value="top" onclick="void(0)">
      	  <div class="button_content">add to top</div>
      	</div>
      	<div class="row_item button round small light" data-button="true" data-submit="true" data-submit_value="bottom" onclick="void(0)">
      	  <div class="button_content">add to bottom</div>
      	</div>
      </div>
      <div id="top_addition" <% if project.tasks.active.count > 5 %>style="display:none;"<% end %>>
      	<div class="row_item button round small light" data-button="true" data-submit="true" data-submit_value="top" onclick="void(0)">
      	  <div class="button_content">add task</div>
      	</div>
      </div>
    	<div class="text_with_button small float_right" onclick="void(0)" data-behavior="expander" data-action="contract" data-id="project_<%= project.id %>_new_task_form">
			or close
      </div>
		</div>
	<% end %>
</div>
