<% sortable = false unless defined? sortable
	needs_organization = false unless defined? needs_organization
	due_date = false unless defined? due_date %>
<%= form_for task, :html => {
	:'data-ajax_behavior' => 'ajax_form',
	:'data-ajax_method' => 'PUT',
	:'data-ajax_success_callback' => "handleRetirementLink();",
	:'data-ajax_error_callback' => "jQuery('#task_#{task.id}').append('<div class=\"flash_notice span-15 last\">Ooops! Something went wrong. We're looking into it, but feel free to contact customer support with any concerns.</div>'); setTimeout(\"jQuery('.flash_notice').fadeOut(1000)\",3000);",
	:'data-ajax_success_element' => "task_#{task.id}"} do |f| %>
	<div class="span-9">
		<%= f.hidden_field :priority, :id => "priority_#{task.id}", :'data-behavior' => 'auto_submit' %>
		<div data-behavior="check_box_proxy" data-check_box="priority_<%= task.id %>" class="check_box_proxy <% if task.priority? %>checked<% end %>">&lowast;</div>
		<div class="text_with_check_box_proxy">
		<%= f.check_box :state, {:'data-behavior' => 'auto_submit'}, task.retired? ? 'retired' : 'complete', 'active' %>
    </div>
		<div class="text_with_check_box_proxy span-8 last<% if task.overdue? and due_date %> overdue<% end %>">
		<%= link_to task.title, task_url(task), :style => task.done? ? 'text-decoration:line-through;' : nil %>
		</div>
	</div>
	<div class="span-9 last text-right <% if task.overdue? and due_date %> overdue<% end %>">
		<% if needs_organization %>
		<%= f.select :project_id, [['select plan',nil]] + @this_user.projects.active.map{|p| [p.title,p.id]}, {}, :'data-role' => 'organize_item', :'data-behavior' => 'auto_submit', :'data-id' => task.id, :class => "span-4" %>
		<%= f.select :situation_id, [['select situation',nil]] + @this_user.situations.map{|s| [s.title,s.id]}, {}, :'data-role' => 'organize_item', :'data-behavior' => 'auto_submit', :'data-id' => task.id, :class => "span-4" %>
		<%= hidden_field_tag 'needs_organization', true, :'data-role' => 'organize_item' %>
		<% end %>
		<% if due_date %>
      <%= task.due_date.to_formatted_s(:short) %>
		<% end %>
		<a href="<%= task_url(task) %>"
			data-ajax_behavior="ajax_link"
			data-ajax_method="DELETE"
			data-ajax_success_callback="jQuery('#task_<%= task.id %>').remove();handleListDisplay();"
			data-ajax_data="{_method: 'DELETE'}"
			class="delete" data-role="delete">&otimes;</a>
		<% if sortable == true %><span data-role="sortable_drag_handle" class="sortable_drag_handle">&equiv;</span><% end %>
		<%= hidden_field_tag ('sortable', true) if (controller_name == 'projects' or sortable == true) %>
		<%= hidden_field_tag 'partial', true %>
		<%= hidden_field_tag '_method', 'PUT' %>
		<% if (controller_name == 'projects' and action_name == 'show') or @app_context == 'project' %>
  		<%= hidden_field_tag 'app_context', 'project' %>
		<% end %>
	</div>
<% end %>
