<div id="task_page_<%= @task.id %>" class="pager" data-children_pages="({'<%= comments_task_url(@task) %>':'comments_task_page_<%= @task.id %>',<% if @task.project %>'<%= show_full_plan_url(@task.project_id,:app_context => @app_context) %>':'project_page_<%= @task.project_id %>'<% else %>'<%= dashboard_unorganized_url %>':'tasks_page'<% end %>})" data-direct_url="<%= task_path(@task,:app_context => @app_context) %>">
<%= render :partial => '/layouts/subnav' %>
<div class="page_layout">
  <div id="task_title_<%= @task.id %>" class="block padding_bottom">
  	<%= render :partial => 'show_title' %>
  </div>
  <%= render :partial => 'tabs' %>
  <div class="list_container">
    <div class="block">&nbsp;</div>
  <div class="block controls">
    <div id="task_delete_<%= @task.id %>" class="control right button round color2 " onclick="void(0)" data-button="true" data-confirm="Are you sure you want to delete this task?"><%= render :partial => 'show_delete', :locals => {:task => @task} %></div>
        <div data-button="true" href="<%= convert_task_url(@task) %>" data-confirm="are you sure you want to convert this task to a plan" class="button control left round color2"><div class="button_content">convert to plan</div></div>
  </div>
  <div class="section">&nbsp;</div>
  <div class="section">
    <div id="task_description_<%= @task.id %>" class="padding">
    	<%= render :partial => 'show_description' %>
    </div>
  </div>
  <div class="section">
    <div id="task_due_date_<%= @task.id %>" class="padding">
    	<%= render :partial => 'show_due_date' %>
    </div>
  </div>
  <% if @task.project and @task.project.sharers.any? %>
  <div class="section">
    <div id="task_user_<%= @task.id %>" class="padding">
    	<%= render :partial => 'show_user_id' %>
    </div>
  </div>
  <% end %>
  <div class="section">
    <div id="task_project_<%= @task.id %>" class="padding">
  	  <%= render :partial => 'show_project_id' %>
    </div>
  </div>
  <div class="section">
    <div id="task_label_<%= @task.id %>" class="padding">
    	<%= render :partial => 'show_labels' %>
    </div>
  </div>
  </div>
</div>
</div>
