<% if @tasks and @tasks.class.name == 'Array' %>
<div id="multiple_tasks_page_<%= @tasks.map{|t| t.id}.join('_')%>" data-children_pages="({'<%= multiple_comments_tasks_url(:ids => @tasks.map{|t| t.id}.join(',')) %>':'multiple_comments_tasks_page_<%=  @tasks.map{|t| t.id}.join('_') %>'})">
<% end %>
<% for @task in @tasks %>
<div id="task_page_<%= @task.id %>" class="pager" data-children_pages="({'<%= comments_task_url(@task) %>':'comments_task_page_<%= @task.id %>'})">
<%= render :partial => '/layouts/subnav' %>
<div class="page_layout">
  <div id="task_title_<%= @task.id %>" class="block padding_bottom">
  	<%= render :partial => 'show_title' %>
  </div>
  <%= render :partial => 'tabs' %>
  <div class="list_container">
    <div class="block">&nbsp;</div>
  <div class="block controls">
    <div id="task_delete_<%= @task.id %>" class="control right button round color2 " onclick="void(0)" data-button="true" data-button="true"><%= render :partial => 'show_delete', :locals => {:task => @task} %></div>
        <div data-button="true" href="<%= convert_task_url(@task) %>" data-confirm="are you sure you want to convert this task to a plan" class="button control left round color2"><div class="button_content">convert to plan</div></div>
  </div>
  <div class="section">&nbsp;</div>
  <div class="section">
    <div id="task_description_<%= @task.id %>" class="padding">
    	<%= render :partial => 'show_description' %>
    </div>
  </div>
  <div class="section">
    <div id="task_due_date_<%= @task.id %>" class="padding">
    	<%= render :partial => 'show_due_date' %>
    </div>
  </div>
  <% if @task.project and @task.project.sharers.any? %>
  <div class="section">
    <div id="task_user_<%= @task.id %>" class="padding">
    	<%= render :partial => 'show_user_id' %>
    </div>
  </div>
  <% end %>
  <div class="section">
    <div id="task_project_<%= @task.id %>" class="padding">
  	  <%= render :partial => 'show_project_id' %>
    </div>
  </div>
  <div class="section">
    <div id="task_label_<%= @task.id %>" class="padding">
    	<%= render :partial => 'show_labels' %>
    </div>
  </div>
  </div>
</div>
</div>
<% end %>
<% if @tasks and @tasks.class.name == 'Array' %>
</div>
<% end %>