<% sortable = false unless defined? sortable
	needs_organization = false unless defined? needs_organization
	if (controller_name == 'projects' and ['show','sort_tasks'].include? action_name)
	  @app_context = 'project'
  end
  if (controller_name == 'labels' and action_name == 'show')
    @app_context = 'label'
  end
	 %>
<div class="span-16 last">
<%= form_for task, :html => {
	:'data-ajax_behavior' => 'ajax_form',
	:'data-ajax_method' => 'PUT',
	:'data-ajax_success_callback' => "handleArchivementLink();",
	:'data-ajax_success_element' => "task_#{task.id}"} do |f| %>
	<div class="span-12">
		<%= f.hidden_field :priority, :id => "priority_#{task.id}", :'data-behavior' => 'auto_submit' %>
		<div data-behavior="check_box_proxy" data-check_box="priority_<%= task.id %>" class="check_box_proxy <% if task.priority? %>checked<% end %>">&lowast;</div>
		<div class="line_item_height">
		<%= f.check_box :state, {:'data-behavior' => 'auto_submit'}, task.archived? ? 'archived' : 'complete', 'active' %>
    </div>
		<div class="line_item_height span-11 last">
      <%= link_to task.title, task_url(task),
        :class => task.done? ? 'completed' : nil %>
      <% unless controller_name == 'labels' and ['show','edit'].include? action_name %>
      <div class="span-11 last">
        <% for label in task.labels.for_user(@this_user) %><div class="label <%= label.color %>"><%= label.title %></div><% end %>
      </div>
      <% end %>
		</div>
	</div>
	<div class="span-4 last text_right">
    <% if @app_context == 'project' %>
    <div class="span-3 text_left line_item_height"><% if task.due_date %><%= task.due_date.to_date.to_formatted_s(:short) %><% else %>&nbsp;<% end %></div>
		<% elsif needs_organization %>
  		<%= f.select :project_id, [['choose',nil]] + Project.for_user(@this_user).active.map{|p| [p.title,p.id]}, {}, :'data-role' => 'organize_item', :'data-behavior' => 'auto_submit', :'data-id' => task.id, :class => "span-3" %>
    <% else %>
    <div class="span-3 text_left">
      <% if task.project_id.nil? %>&mdash;<% else %>
      <%= link_to truncate_clean(task.project.title, {:length => 18, :omission => '-'}), plan_url(task.project_id) %>
      <% end %>
    </div>
		<% end %>
    <% if needs_organization %>
      <%= hidden_field_tag 'needs_organization', true, :'data-role' => 'organize_item' %>
		<% end %>
		<a href="<%= task_url(task) %>"
			data-ajax_behavior="ajax_link"
			data-ajax_method="DELETE"
			data-ajax_success_callback="jQuery('#task_<%= task.id %>').remove();handleListDisplay();"
			data-ajax_data="{_method: 'DELETE'}"
			data-ajax_confirm="Are you sure you want to delete this task?"
			class="delete" data-role="delete">&otimes;</a>
		<% if sortable == true %><span data-role="sortable_drag_handle" class="sortable_drag_handle">&equiv;</span><% end %>
		<%= hidden_field_tag ('sortable', true) if (sortable == true) %>
		<%= hidden_field_tag 'partial', true %>
		<% if @app_context %>
  		<%= hidden_field_tag 'app_context', @app_context %>
		<% end %>
	</div>
<% end %>
</div>
