<% sortable = false unless defined? sortable
	needs_organization = false unless defined? needs_organization
	due_date = false unless defined? due_date
	prefix = false unless defined? prefix %>
<%= form_for task, :html => {
 	:'data-ajax_behavior' => 'ajax_form',
 	:'data-ajax_method' => 'PUT',
 	:'data-ajax_success_callback' => "handleArchivementLink();",
 	:'data-ajax_error_callback' => "jQuery('#task_#{task.id}').append('<div class=\"flash_notice span-15 last\">Ooops! Something went wrong. We're looking into it, but feel free to contact customer support with any concerns.</div>'); setTimeout(\"jQuery('.flash_notice').fadeOut(1000)\",3000);",
 	:'data-ajax_success_element' => "#{prefix ? prefix + '_' : ''}task_#{task.id}",
 	:'data-id' => "task_#{task.id}"} do |f| %>
		<%= hidden_field_tag 'partial', true %>
		<%= hidden_field_tag '_method', 'PUT' %>
		<% if (controller_name == 'projects' and action_name == 'show') or @app_context == 'project' %>
  		<%= hidden_field_tag 'app_context', 'project' %>
		<% end %>
		<div class="check_box row_item">&nbsp;
  		<%= f.check_box :state, {:'data-behavior' => 'auto_submit', :'data-role' => 'none'}, task.archived? ? 'archived' : 'complete', 'active' %>
    </div>
  	<div class="text_with_check_box_proxy line_variable_text row_item<% if task.overdue? and due_date %> overdue<% end %>">
  		<%= link_to task.title, task_url(task), :class => task.done? ? 'completed' : nil, :rel => 'external', :'data-role' => 'none' %>
		</div>
		<%= f.hidden_field :priority, :id => "priority_#{task.id}", :'data-behavior' => 'auto_submit' %>
		<div data-behavior="check_box_proxy" data-check_box="priority_<%= task.id %>" class="check_box_proxy <% if task.priority? %>checked<% end %> row_item priority last" onclick="void(0)">&nbsp;&lowast;</div>
<% end %>
