<% sortable = false unless defined? sortable
	needs_organization = false unless defined? needs_organization
	due_date = false unless defined? due_date
	prefix = false unless defined? prefix %>
<%= form_for task, :html => {
 	:'data-ajax_behavior' => 'ajax_form',
 	:'data-ajax_method' => 'PUT',
 	:'data-ajax_success_callback' => "handleArchivementLink();",
 	:'data-ajax_error_callback' => "jQuery('#task_#{task.id}').append('<div class=\"flash_notice span-15 last\">Ooops! Something went wrong. We're looking into it, but feel free to contact customer support with any concerns.</div>'); setTimeout(\"jQuery('.flash_notice').fadeOut(1000)\",3000);",
 	:'data-ajax_success_element' => "#{prefix ? prefix + '_' : ''}task_#{task.id}",
 	:'data-id' => "task_#{task.id}"} do |f| %>
		<%= hidden_field_tag 'partial', true %>
		<% if (controller_name == 'projects' and action_name == 'show') or @app_context == 'project' %>
  		<%= hidden_field_tag 'app_context', 'project' %>
		<% end %>
		<% if sortable == true %><div data-drag_handle="true" class="drag_handle row_item last twelve text_right" onclick="void(0)">&equiv;&nbsp;&nbsp;</div>
		<%= hidden_field_tag 'sortable', true %>
	  <% end %>
		<div class="check_box row_item eightteen">&nbsp;
  		<%= f.check_box :state, {:'data-behavior' => 'auto_submit', :'data-role' => 'none'}, task.archived? ? 'archived' : 'complete', 'active' %>
    </div>
  	<div class="line_item_height <% if sortable == true %>fifty_eight<% else %>seventy<% end %> row_item">
      <!-- <div onclick="void(0)" data-page_turner="true" data-page_target="task_page_<%= task.id %>" <% if task.done? %>class="completed"<% end %>> -->
        <%= truncate_clean(task.title, :length => 256, :omission => '...', :max_word_length => (session.has_key? :screen_width and (session[:screen_width].to_i < 500)) ? 20 : 256) %>
      <!-- </div> -->
  		<%# link_to task.title, task_url(task), :class => task.done? ? 'completed' : nil, :rel => 'external', :'data-role' => 'none' %>
      <% unless controller_name == 'labels' and ['show','edit'].include? action_name %>
      <div class="block labels_inline">
        <% for label in task.labels.for_user(@this_user) %><div class="label <%= label.color %>"><%= label.title %></div><% end %>
      </div>
      <% end %>
		</div>
		<div onclick="void(0)" data-page_turner="true" data-page_loader="<%= (defined? pager_target) ? pager_target : "task_page_#{task.id}" %>" data-page_target="task_page_<%= task.id %>" class="row_item twelve line_item_height" <% if controller_name == 'tasks' and action_name == 'show' %>style="visibility:hidden;"<% end %>>
      &rang;
    </div>
		
<% end %>
