<div class="section padding_bottom">Does this task involve multiple steps or parts? <%= link_to 'Convert it to plan.', convert_task_url(@task) %></div>
<div id="task_title" class="section">
	<%= render :partial => 'show_title' %>
</div>
<div class="section controls">
<div id="task_priority"><%= render :partial => 'show_priority' %></div><div id="task_delete"><%= render :partial => 'show_delete', :locals => {:task => @task} %></div>
</div>
<div id="task_description" class="section">
	<%= render :partial => 'show_description' %>
</div>
<div id="task_due_date" class="section">
	<%= render :partial => 'show_due_date' %>
</div>
<div id="task_project" class="section">
	<%= render :partial => 'show_project_id' %>
</div>
<div id="task_label" class="section">
	<%= render :partial => 'show_labels' %>
</div>
