<h3>Add a Reminder</h3>
<div class="padding">
<%= form_for reminder, :html => {
	:'data-ajax_behavior' => 'ajax_form',
	:'data-ajax_method' => 'POST',
	:'data-ajax_success_element' => "reminders_list",
	:'data-ajax_success_placement' => 'append',
	:'data-ajax_success_callback' => "jQuery('#primary_input').val(''); contractExpander('new_reminder_form'); jQuery('#new_reminder_form').rebindSubmit();",
	:'data-ajax_error_element' => 'new_reminder_wrapper',
	:id => 'new_reminder_form'} do |f| %>
	  <%= f.select :type, @this_user.available_reminder_types, {}, {:id => "new_reminder_type", :class => 'auto_width'} %>
	  <%= f.select :lead_time, (0..59).to_a.map{|lt| [lt,lt]}, {}, {:id => 'new_reminder_lead_time', :class => 'auto_width'} %><br/>
		<%= f.select :time_units, Reminder::TIME_UNITS.map{|tu| [tu,tu]}, {}, {:id => "new_reminder_time_units", :class => 'auto_width'} %>&nbsp;before<br/>
	<%= f.hidden_field :user_id, :id => "new_reminder_user_id" %>
	<%= f.hidden_field :remindable_id, :id => "new_reminder_remindable_id" %>
	<%= f.hidden_field :remindable_type, :id => "new_reminder_remindable_type" %>
  <div class="row">
  	<div onclick="void(0)" data-button="true" data-submit="true" class="row_item button round small light "><div class="button_content">save changes</div></div>
  	<div class="row_item last padding_top_button small">&nbsp;or 
  		<a href="#" data-behavior="expander" data-action="contract" data-id="new_reminder_form">(cancel)</a>
  	</div>
  </div>
<% end %>
</div>