<center>
<h1>
  Reminder
</h1>
</center>
<p>
<strong><%= @reminder.remindable.title %></strong> is due at <%= @reminder.remindable.due_date.to_formatted_s(:full) %>. You can see this plan online at <%= APP_NAME %> by clicking <a href="<%= @plan_url %>">here</a>. If your email application doesn't properly show the preceding link cut and paste this into your browser's address bar: <%= @plan_url %>
</p>
