<center>
<h1>
<%= @plan.user.handle %> shared this plan with you from http://<%= DOMAIN_NAME %>.
</h1>
</center>
<% unless @account_holder.is_a? PaidAccount %>
<p>
<%= APP_NAME %> is a simple online task manager accessible from any computer and most touch screen phones.<br/>
We've created a free account for you. Your login is <%= @account_holder.handle %> and your password is <%= @tmp_pass %><br/>
You can change your email and/or password when you log in at http://<%= DOMAIN_NAME %>/sign_in.
</p>
<p>
Because <%= @plan.user.handle %> shared this plan with you, you can use many of the features of <%= APP_NAME %> with the free account we created for you. If you sign up for a 30-day free trial of one of our paid accounts (see http://<%= DOMAIN_NAME %>/users/<%= @account_holder.id %>) you can create your own plans, organize them, and share them with others with the simplest, most powerful online task manager available.
</p>
<% end %>
<h2>
Plan: <%= link_to @plan.title, @plan_url, :target => '_blank' %>
</h2>

<p>
<% for task in @plan.tasks.active.ordered %>
· <%= task.title %> <% if !task.due_date.blank? %> -- due <%= task.due_date.to_formatted_s(:full) %><% end %><br/>
<% end %>
</p>
<% if @plan.tasks.complete.count > 0 %>
<h2>
These tasks were already completed, huzzah!:
</h2>
<p>
<% for task in @plan.tasks.complete.ordered %>
X <%= task.title %> <% if !task.due_date.blank? %> -- due <%= task.due_date.to_formatted_s(:full) %><% end %><br/>
<% end %>
</p>
<% end %>
