<div class="span-16 last">
  <%= form_for @label, :url => label_url(@label), :html => {
  	:'data-ajax_behavior' => 'ajax_form',
  	:'data-ajax_method' => 'PUT',
  	:'data-ajax_success_element' => 'label_title',
  	:'data-ajax_error_element' => 'label_title',
  	:id => 'edit_label_title'
  } do |f| %>
    <div class="span-12">
  	<%= f.text_field :title, :class => 'span-12' %>
  	<%= hidden_field_tag '_method', 'put' %>
  	<%= hidden_field_tag 'attribute', 'title' %>
    </div>
    <div class="span-4 last text_right">
    	<div class="row_item button round small light" data-button="true" data-submit="true" onclick="void(0)">
    	  <div class="button_content">save</div>
    	</div>
    	<div class="text_with_small_button small">
			or <%= link_to 'cancel', label_url(@label),
      	 	:'data-ajax_behavior' => 'ajax_link',
      		:'data-ajax_method' => 'GET',
      		:'data-ajax_success_element' => 'label_title',
      		:'data-ajax_data' => "{attribute: 'title'}"%>
      </div>
  	</div>
  <% end %>
</div>