<div class="span-16 last" id="header_wrapper">
  <div class="span-16 last section_margin_top">
  	<h1>Label</h1>
  </div>
  <%= render :partial => 'tabs' %>
</div>
<div class="span-17 last page_content">
	<div id="unarchived_item_list" class="span-16 last">
		<div id="task_list_heading" class="span-16 last">
			<div id="unarchived_item_heading" class="span-6">
				<h2><%= @label.title %></h2>
			</div>
			<div class="span-10 last">
      </div>
		</div>
		<div id="unarchived_items_wrapper" class="span-16 last list_section" data-role="list">
      <div class="span-16 last list_topper">&nbsp;</div>
			<% @tasks.each_with_index do |task,index| %>
				<div class="span-16 last line_item" id="task_<%= task.id %>" data-role="list_item">
					<%= render :partial => '/tasks/show', :locals => {:task => task, :sortable => true, :needs_organization => true} %>
				</div>
			<% end %>
		</div>
  	<div class="span-17">
		<%= will_paginate @tasks %>
		</div>
	</div>
</div>
<% if params.has_key? :added_task %>
  <%= javascript_tag do %>
    jQuery("[data-behavior='expander'][data-state='contracted'][data-id='new_task_form']")
      .hide();
    jQuery("[data-behavior='expander'][data-state='expanded'][data-id='new_task_form']")
      .show();
      focusPrimaryInput();
	<% end %>
<% end %>