<div class="span-16 last section_margin_top">
		<h2>Time Zone</h2>
</div>
<div class="span-16 last section">
  <% if @user.errors.any? %>
    <div class="error"><%= @user.errors.full_messages %></div>
  <% end %>
<%= form_for @user, :as => :user, :html => {
	:'data-ajax_behavior' => 'ajax_form',
	:'data-ajax_method' => 'PUT',
	:'data-ajax_success_element' => 'account_time_zone',
	:'data-ajax_error_element' => 'account_time_zone'
} do |f| %>
	<%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, :default => "Eastern Time (US & Canada)", :class => 'span-9' %>
	<%= hidden_field_tag 'attribute', 'time_zone', :id => 'attribute_time_zone_field' %>
	<%= f.submit 'save' %>
	<%= link_to 'cancel', account_user_url(@user),
	 	:'data-ajax_behavior' => 'ajax_link',
		:'data-ajax_method' => 'GET',
		:'data-ajax_success_element' => 'account_time_zone',
		:'data-ajax_data' => "{attribute: 'time_zone'}"%>
<% end %>
</div>