<% @all_contacts = (@sharing_parents + @sharing_children).uniq %>
<div id="all_contacts" class="pager" data-children_pages="({<% if @all_contacts.any? %>'<%= multiple_users_url(:ids => @all_contacts.map{|t| t.id}.join(',')) %>':'multiple_contacts_page_<%= @all_contacts.map{|t| t.id}.join('_') %>'<% end %>})">
<div class="page_layout">
<h2>Contacts who share projects with you</h2>
<div class="list_container">
  <% @sharing_parents.each_with_index do |sharing_parent,index| %>
    <div class="row border_bottom" data-list_index="<%= index %>">
      <div class="padding">
        <div class="row_item eighty_eight">
          <h3><%= sharing_parent.handle %></h3>
        </div>
        <div class="row_item twelve control_font" onclick="void(0)" data-page_turner="true" data-page_target="contact_page_<%= sharing_parent.id %>" data-page_loader="multiple_contacts_page_<%= @all_contacts.map{|t| t.id}.join('_') %>" style="visibility:hidden;">
          &nbsp;&nbsp;&rang;
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="block">&nbsp;</div>
<h2>Contacts you share projects with</h2>
<div class="list_container">
  <% @sharing_children.each_with_index do |sharing_child,index| %>
    <div class="row border_bottom" data-list_index="<%= index %>">
      <div class="padding">
        <div class="row_item eighty_eight">
          <h3><%= sharing_child.handle %></h3>
        </div>
        <div class="row_item twelve control_font" onclick="void(0)" data-page_turner="true" data-page_target="contact_page_<%= sharing_child.id %>" data-page_loader="multiple_contacts_page_<%= @all_contacts.map{|t| t.id}.join('_') %>" style="visibility:hidden;">
          &nbsp;&nbsp;&rang;
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>
</div>