<div class="span-17 last section_margin_top" id="header_wrapper">
  <h1>Sign up</h1>
</div>
<div class="span-12 last section">
	<% form_for @user, :as => :user, :url => @user.new_record? ? users_url : user_url(@user) do |f| %>
    <% if @user.errors.any? %> <div class="error"><b>Some problems prevented your account from being created. Please adjust your information to accommodate these requirements.</b><br/><ul><%= @user.errors.full_messages.map{|em| '<li>' + em + '</li>'}.join.html_safe %></ul></div><br /> <% end %>
	  <div class="span-12 last">
	    <h2> Account Information </h2>
      <%= f.label :email %><br/>
  		<%= f.text_field :email %><br />
  		<br />
  		<%= f.label :password %><br />
  		<%= f.password_field :password %><br />
  		<br />
  		<%= f.label :password_confirmation %><br />
  		<%= f.password_field :password_confirmation, :'data-return_submit' => true %><br />
      <br/>
      <%= hidden_field_tag :rate_class, params[:rate_class], :id => "rate_class_field" %>
      <%= hidden_field_tag :frequency, params[:frequency], :id => "frequency_field" %>
    </div>
    <div class="span-12 last">
        <div class="section_rule">&nbsp;</div>
        <h2> Payment Information </h2>
        <%= label 'card[name]', "Name on Card" %><br/>
        <%= text_field_tag 'card[name]', nil %><br/>
        <br/>
        <%= label 'card[number]', "Credit Card Number" %><br/>
        <%= text_field_tag 'card[number]', nil %><br/>
        <br/>
        <div class="span-12">
          <div class="span-5">
          <%= label 'card[cvv]', "Security Code" %><br/>
          <%= text_field_tag 'card[cvv]', nil %><br/>
          </div>
          <div class="span-7 last">
            <div class="span-6">
            I have read and I agree to the<br/> <%= link_to 'Terms of Service', terms_url %> and the<br/> <%= link_to 'Privacy Policy', privacy_url %>.
            </div>
            <div class="span-1 last">
              <%= f.check_box :tos_agreed %>
            </div>
          </div>
        </div>
        &nbsp;
        <br/>
        <%= label nil, "Expiration Date" %><br/>
    </div>
    <div class="span-12 last">
      <div class="span-7">
        <%= select_tag 'card[month]', options_for_select( Array.new(12){|i| i+1}.map{|m| [m,m]},1) %> /
        <%= select_tag 'card[year]', options_for_select( Array.new(10){|i| i + Date.today.year}.map{|year| [year,year]},Date.today.year) %>
      </div>
      <div id="create_account_button">
        <div id="create_account_stretcher">
        	<div class="row_item button round light" data-button="true" data-submit="true" onclick="void(0)">
        	  <div class="button_content">Create My Account</div>
        	</div>
        </div>
    	</div>
    </div>
	<% end %>
</div>