<h1>Sign up</h1>
<div class="span-18 last section">
	<% form_for @user do |f| %>
		<% if @user.errors[:email].any? %><div class="error"><%= f.label :email %>
		<%= @user.errors[:email].join('<br/>') %></div><br/>
		<% else %>
    <%= f.label :email %>
		<% end %>
		<%= f.text_field :email %><br />
		<br />
		<%= f.label :password %><br />
		<%= f.password_field :password %><br />
		<br />
		<%= f.label :password_confirmation %><br />
		<%= f.password_field :password_confirmation %><br />&nbsp;<br/>
	  	<%= f.submit "Create My Account" %>
	<% end %>
</div>
