<div class="span-16 last section_margin_top" id="header_wrapper">
	<h1>Reset your password</h1>
</div>
<div class="span-17 last page_content">
	<% form_for @user, :as => :user, :url => user_url(@user.perishable_token) do |f| %>
		<% if @user.errors.any? %> <%= @user.errors.full_messages %> <% end %>
		<%= f.label :password %><br />
		<%= f.password_field :password %><br />
		<br />
		<%= f.label :password_confirmation %><br />
		<%= f.password_field :password_confirmation %><br />
		<%= hidden_field_tag :reset_password, true %>
	  	<%= f.submit "Reset" %>
	<% end %>
</div>
