<div class="row">
  <div class="row_item">
    <h2>Schedule</h2>
  </div>
</div>
<% if @due_date_items.any?%>
<div class="list_container"><div class="padding">
  <% for due_date in @due_dates %>
	<div class="section heading<% if due_date < Date.today %> overdue<% end %>">
    &nbsp; <%= due_date.to_formatted_s(:full) %>
  </div>
  <% these_items = @due_date_items.select{|t| Time.parse(t['due_date']).to_date == due_date}
      these_items.each_with_index do |item,index| %>
		<div class="<% if (index + 1) == these_items.length %>block<% else %>section<% end %> padding_top padding_bottom" id="due_date_<%= item['item_type'].downcase %>_<%= item['id'] %>">
		  <span class="small"><%= item['item_type'].constantize.display_name %></span>:
		    <% if item['item_type'] == 'Project' %>
		      <%= link_to item['title'], plan_url(item['id'].to_i) %>
		    <% else %>
		      <%= link_to item['title'], task_url(item['id'].to_i) %>
  			<% end %>
		</div>
	<% end %>
  <% end %>
  <%= will_paginate @due_date_items %>
</div></div>
<% else %>
<div class="section">
  <p>
  There are no scheduled tasks.<br/>
  <% if @this_user.show_help_text %>
  <span class="quiet">You can add a due date to any task by clicking on the task title in a task list to get to the task editing page</span>
  <% end %>
</div>
<% end %>
