<div class="row">
  <div class="row_item">
    <h2>Schedule</h2>
  </div>
</div>
<% if @due_date_items.any?%>
<div data_role="list" class="block">
  <div class="section">
    <h2>Due Dates</h2>
  </div>
  <% for due_date in @due_dates %>
	<div class="section controls">
    <%= due_date.to_formatted_s(:full) %>
  </div>
  <% for item in @due_date_items.select{|t| Time.parse(t['due_date']).to_date == due_date} %>
		<div class="section padding_bottom padding_top<% if Task.overdue?(Time.parse(item['due_date'])) %> overdue<% end %>" id="due_date_<%= item['item_type'].downcase %>_<%= item['id'] %>">
		  <span class="small"><%= item['item_type'].constantize.display_name %></span>:
		    <% if item['item_type'] == 'Project' %>
		      <%= link_to item['title'], plan_url(item['id'].to_i) %>
		    <% else %>
		      <%= link_to item['title'], task_url(item['id'].to_i) %>
  			<% end %>
		</div>
	<% end %>
  <% end %>
  <%= will_paginate @due_date_items %>
</div>
<% elsif @this_user.show_help_text %>
<div class="section">
  <p>
  There are no tasks with due dates.<br/>
  <span class="quiet">You can add a due date to any task by clicking on the task title in a task list to get to the task editing page</span>
</div>
<% end %>
