<div class="span-17 last section_margin_top" id="header_wrapper">
  <h1 class="coolvetica">We've Got You Covered</h1>
</div>
<div class="free_trial_block last section">
  <h2>All plans below include a 30-day free trial.</h2>
  <span class="loud">No credit card required to start the free trial.</span>
</div>
<div class="span-19 last section_margin_top">
  <div class="span-5 section text_center">
    <h2 class="coolvetica">Basic</h2>
    <div class="section_rule">&nbsp;</div>
    <p>
      <strong>$7.99/mo</strong><br/>
      Unlimited Sharing<br/>
      15 Active Plans<br/>
      <div class="row_item button round green plan_button" data-button="true" onclick="void(0)">
    	  <div class="button_content"><%= link_to 'Choose monthly', new_user_url(:rate_class => 'BasicRate',:frequency => 'month', :protocol => (request.domain == 'getgolist.com') ? 'https://' : 'http://')%></div>
    	</div>
      <div class="section_rule">&nbsp;</div>
    	<div class="block section_margin_top">
      	or for $79.99/yr:<br/>&nbsp;
      </div>
      <div class="row_item button round green plan_button" data-button="true" onclick="void(0)">
    	  <div class="button_content"><%= link_to 'Choose yearly', new_user_url(:rate_class => 'BasicRate',:frequency => 'year', :protocol => (request.domain == 'getgolist.com') ? 'https://' : 'http://')%></div>
    	</div>
    	
    </p>
  </div>
  <div class="span-1">&nbsp;</div>
  <div class="span-5 section text_center">
    <h2 class="coolvetica">Super</h2>
    <div class="section_rule">&nbsp;</div>
    <p>
      <strong>$14.99/mo</strong><br/>
      Unlimited Sharing<br/>
      50 Active Plans<br/>
      <div class="row_item button round green plan_button" data-button="true" onclick="void(0)">
    	  <div class="button_content"><%= link_to 'Choose monthly', new_user_url(:rate_class => 'SuperRate', :frequency => 'month', :protocol => (request.domain == 'getgolist.com') ? 'https://' : 'http://')%></div>
    	</div>
      <div class="section_rule">&nbsp;</div>
    	<div class="block section_margin_top">
      	or for $149.99/yr:<br/>&nbsp;
      </div>
      <div class="row_item button round green plan_button" data-button="true" onclick="void(0)">
    	  <div class="button_content"><%= link_to 'Choose yearly', new_user_url(:rate_class => 'SuperRate', :frequency => 'year', :protocol => (request.domain == 'getgolist.com') ? 'https://' : 'http://')%></div>
    	</div>
    </p>
  </div>
  <div class="span-1">&nbsp;</div>
  <div class="span-5 section text_center">
    <h2 class="coolvetica">Unlimited</h2>
    <div class="section_rule">&nbsp;</div>
    <p>
      <strong>$29.99/mo</strong><br/>
      Unlimited Sharing<br/>
      Unlimited Active Plans<br/>
      <div class="row_item button round green plan_button" data-button="true" onclick="void(0)">
    	  <div class="button_content"><%= link_to 'Choose monthly', new_user_url(:rate_class => 'UnlimitedRate',:frequency => 'month', :protocol => (request.domain == 'getgolist.com') ? 'https://' : 'http://')%></div>
    	</div>
      <div class="section_rule">&nbsp;</div>
    	<div class="block section_margin_top">
      	or for $299.99/yr:<br/>&nbsp;
      </div>
      <div class="row_item button round green plan_button" data-button="true" onclick="void(0)">
    	  <div class="button_content"><%= link_to 'Choose yearly', new_user_url(:rate_class => 'UnlimitedRate',:frequency => 'year', :protocol => (request.domain == 'getgolist.com') ? 'https://' : 'http://')%></div>
    	</div>
    </p>
  </div>
</div>