<div class="span-17 last section_margin_top" id="header_wrapper">
  <h1 class="coolvetica">We've Got You Covered</h1>
</div>
<div class="span-19 last">
  <div class="span-5 section text_center">
    <h2 class="coolvetica">Basic</h2>
    <div class="section_rule">&nbsp;</div>
    <p>
      <strong>$7.99/mo</strong><br/>
      Unlimited Sharing<br/>
      15 Active Plans<br/>
      &nbsp;<br/>
      <div class="row_item button round green plan_button" data-button="true" onclick="void(0)">
    	  <div class="button_content"><%= link_to 'Choose monthly', new_user_url(:rate_class => 'BasicRate',:frequency => 'month')%></div>
    	</div>
    	<div class="block section_margin_top">
      	or for $79.99/yr:<br/>&nbsp;
      </div>
      <div class="row_item button round green plan_button" data-button="true" onclick="void(0)">
    	  <div class="button_content"><%= link_to 'Choose yearly', new_user_url(:rate_class => 'BasicRate',:frequency => 'year')%></div>
    	</div>
    	
    </p>
  </div>
  <div class="span-1">&nbsp;</div>
  <div class="span-5 section text_center">
    <h2 class="coolvetica">Super</h2>
    <div class="section_rule">&nbsp;</div>
    <p>
      <strong>$14.99/mo</strong><br/>
      Unlimited Sharing<br/>
      50 Active Plans<br/>
      &nbsp;<br/>
      <div class="row_item button round green plan_button" data-button="true" onclick="void(0)">
    	  <div class="button_content"><%= link_to 'Choose monthly', new_user_url(:rate_class => 'SuperRate', :frequency => 'month')%></div>
    	</div>
    	<div class="block section_margin_top">
      	or for $149.99/yr:<br/>&nbsp;
      </div>
      <div class="row_item button round green plan_button" data-button="true" onclick="void(0)">
    	  <div class="button_content"><%= link_to 'Choose yearly', new_user_url(:rate_class => 'SuperRate', :frequency => 'year')%></div>
    	</div>
    </p>
  </div>
  <div class="span-1">&nbsp;</div>
  <div class="span-5 section text_center">
    <h2 class="coolvetica">Unlimited</h2>
    <div class="section_rule">&nbsp;</div>
    <p>
      <strong>$29.99/mo</strong><br/>
      Unlimited Sharing<br/>
      Unlimited Active Plans<br/>
      &nbsp;<br/>
      <div class="row_item button round green plan_button" data-button="true" onclick="void(0)">
    	  <div class="button_content"><%= link_to 'Choose monthly', new_user_url(:rate_class => 'UnlimitedRate',:frequency => 'month')%></div>
    	</div>
    	<div class="block section_margin_top">
      	or for $299.99/yr:<br/>&nbsp;
      </div>
      <div class="row_item button round green plan_button" data-button="true" onclick="void(0)">
    	  <div class="button_content"><%= link_to 'Choose yearly', new_user_url(:rate_class => 'UnlimitedRate',:frequency => 'year')%></div>
    	</div>
    </p>
  </div>
</div>