<h3>Due Date</h3>
<%= form_for @project, :url => plan_url(@project), :html => {
	:'data-ajax_behavior' => 'ajax_form',
	:'data-ajax_method' => 'PUT',
	:'data-ajax_success_element' => 'project_due_date',
	:'data-ajax_error_element' => 'project_due_date',
	:id => 'edit_due_date'
} do |f| %>
  <%= f.date_select :due_date, {:use_short_month => true}, {:class => 'auto_width'} %><br/>
  <select id="project_due_date_4i" name="project[due_date(4i)]" class="auto_width"><%= options_for_select hour_select_options_array, (@project.due_date.blank? ? (Time.now() + 1.hour).in_time_zone(@this_user.time_zone).hour : @project.due_date.in_time_zone(@this_user.time_zone).hour) %></select>
  <%= select_minute @project.due_date, {:prefix => 'project',:field_name => 'due_date(5i)', :minute_step => 5, :value => (@project.due_date.blank? ? 0 : @project.due_date.in_time_zone(@this_user.time_zone).min)},{:class => 'auto_width'} %>
	<%= hidden_field_tag 'attribute', 'due_date', :id => 'attribute_due_date_field' %>
  <div class="row">
	<button type="submit" class="row_item button round small light ">save due date</button>
	<div class="row_item last padding_top_button small">
    <% unless @project.due_date.blank? %>,
		<%= link_to '(remove)', plan_url(@project),
		 	:'data-ajax_behavior' => 'ajax_link',
			:'data-ajax_method' => 'PUT',
			:'data-ajax_success_element' => 'project_due_date',
			:'data-ajax_data' => "{attribute: 'due_date',nullify: true}"%> or 
    <% else %>
      &nbsp;
		<% end %>or
	<%= link_to (@project.due_date.blank? ? '(leave blank)' : '(cancel)'), plan_url(@project),
	 	:'data-ajax_behavior' => 'ajax_link',
		:'data-ajax_method' => 'GET',
		:'data-ajax_success_element' => 'project_due_date',
		:'data-ajax_data' => "{attribute: 'due_date'}"%>
	</div>
	</div>
<% end %>
