<h2>Folder</h2>
<% if @this_user.is_a? PaidAccount %>
  <%= form_for @project, :url => plan_url(@project), :html => {		:id => 'edit_project_folder_id'
  } do |f| %>
  <% if @project.user_id == @this_user.id %>
  	<%= f.select :folder_id, [['none',nil]] +  @this_user.folders.ordered.map{|p| [p.title,p.id]} %>
  <% else %>
    <%= select_tag 'shared_folder_id', options_for_select([['none',nil]] +  @this_user.folders.ordered.map{|p| [p.title,p.id]}, @project.folder_for(@this_user)) %>
  <% end %>
  	<div onclick="void(0)" data-button="true" data-submit="true" class="row_item button round small light "><div class="button_content">move to folder</div></div>
  	<div class="row_item last padding_top_button small">&nbsp;or
  	<span onclick="void(0)" href="<%= plan_url(@project) %>"
  	 	data-ajax_behavior="ajax_link"
  		data-ajax_method="GET"
  		data-ajax_success_element="project_folder_id"
  		data-ajax_data="{attribute: 'folder_id'}">
		  <%= (@project.folder_for(@this_user) ? 'cancel' : 'leave blank') %></span>
  		</div>
  <% end %>
<% else %>
  <p>You currently have a free account. Upgrade to a paid account now and create your own plans and folders, share them with friends and colleagues, and more!<br/>&nbsp;
  </p>
  <p>With a free account all the plans that others have shared with you will be placed in the automatically created folder "Free Account Folder".
  </p>
<% end %>
