<h3>Sharing</h3>
<%= form_for @project, :url => plan_url(@project), :html => {
	:'data-ajax_behavior' => 'ajax_form',
	:'data-ajax_method' => 'PUT',
	:'data-ajax_success_element' => 'project_sharing',
	:'data-ajax_error_element' => 'project_sharing',
	:id => 'edit_project_sharing'
} do |f| %>
  add email
  <%= text_field_tag :sharer_email %>
  <%= hidden_field_tag :project_id %>
  <div class="row">
  	<div onclick="void(0)" data-button="true" data-submit="true" class="row_item button round small light "><div class="button_content">share</div></div>
    <div class="row_item last padding_top_button small">&nbsp;or
      <%= link_to (@project.shared? ? '(cancel)' : "(don't share)"), plan_url(@project),
       	:'data-ajax_behavior' => 'ajax_link',
      	:'data-ajax_method' => 'GET',
      	:'data-ajax_success_element' => 'project_sharing',
      	:'data-ajax_data' => "{attribute: 'sharing'}"%>
    </div>
  </div>
<% end %>
<% if @project.project_sharers.count > 0 %>
<div class="row">&nbsp;</div>
<div class="section">
  <div class="row padding_bottom">
  <strong>Shared with</strong>
  </div>
  <% for project_sharer in @project.project_sharers %>
  <div class="row padding_bottom" id="project_sharer_<%= project_sharer.id %>">
    <%= project_sharer.user.handle %> <a href="<%= project_sharer_url(project_sharer) %>"
    	data-ajax_behavior="ajax_link"
    	data-ajax_method="DELETE"
    	data-ajax_confirm="Are you sure you want to remove this user from sharing this plan?"
    	data-ajax_success_method="jQuery('#project_sharer_<%= project_sharer.id %>').remove();"
    	class="delete" data-role="delete">&otimes;</a>
  </div>
  <% end %>
</div>
<% end %>
