<h3>Due Date</h3>
<%= form_for @project, :url => plan_url(@project), :html => {
	:'data-ajax_behavior' => 'ajax_form',
	:'data-ajax_method' => 'PUT',
	:'data-ajax_success_element' => 'project_due_date',
	:'data-ajax_error_element' => 'project_due_date',
	:id => 'edit_due_date'
} do |f| %>
  <%= f.date_select :due_date, {:use_short_month => true}, {:class => 'auto_width'} %><br/>
	<%= hidden_field_tag 'attribute', 'due_date', :id => 'attribute_due_date_field' %>
  <div class="row">
	<div onclick="void(0)" data-button="true" data-submit="true" class="row_item button round small light "><div class="button_content">save due date</div></div>
	<div class="row_item last padding_top_button small">
    <% unless @project.due_date.blank? %>,
		<span onclick="void(0)" href="<%= plan_url(@project) %>"
		 	data-ajax_behavior="ajax_link"
			data-ajax_method="PUT"
			data-ajax_success_element="project_due_date"
			data-ajax_data="{attribute: 'due_date',nullify: true}">(remove)</span> or 
    <% else %>
      &nbsp;or
		<% end %>
	<span onclick="void(0)" href="<%= plan_url(@project) %>"
	 	data-ajax_behavior="ajax_link"
		data-ajax_method="GET"
		data-ajax_success_element="project_due_date"
		data-ajax_data="{attribute: 'due_date'}"> <%= (@project.due_date.blank? ? '(leave blank)' : '(cancel)') %> </span>
	</div>
	</div>
<% end %>
