<div class="span-16 last">
  <%= form_for @project, :url => plan_url(@project), :html => {
  	:'data-ajax_behavior' => 'ajax_form',
  	:'data-ajax_method' => 'PUT',
  	:'data-ajax_success_element' => 'project_title',
  	:'data-ajax_error_element' => 'project_title',
  	:id => 'edit_project_title'
  } do |f| %>
    <div class="span-12">
  	<%= f.text_field :title, :class => 'span-10' %>
  	<%= hidden_field_tag 'attribute', 'title' %>
  	<%= hidden_field_tag '_method', 'put' %>
  	</div>
  	<div class="span-4 last text_right text_field_button_label">
  	<%= f.submit 'save' %>
  	or
  	<%= link_to 'cancel', plan_url(@project),
  	 	:'data-ajax_behavior' => 'ajax_link',
  		:'data-ajax_method' => 'GET',
  		:'data-ajax_success_element' => 'project_title',
  		:'data-ajax_data' => "{attribute: 'title'}"%>&nbsp;&nbsp;
  	</div>
  <% end %>
</div>
