<div class="span-7">
  <div class="span-7 last">You just added the plan "<%= @item.title %>."</div>
  <div class="span-7 last section_margin_top">
    <div id="go_to_<%= @item.class.name.underscore %>_<%= @item.id %>" onclick="void(0)" class="row_item button round light"><div class="button_content">go to plan</div></div><div class="text_with_button">or</div><div class="full_width padding_top" onclick="void(0)" id="go_to_<%= @item.class.name.underscore %>_<%= @item.id %>_cancel">stay on this page</div>
  </div>
</div>