<div id="all_folders" class="pager" data-children_pages="({<% if @this_user.folders.any? %>'<%= multiple_folders_url(:ids => @this_user.folders.ordered.map{|t| t.id}.join(',')) %>':'multiple_folders_page_<%= @this_user.folders.ordered.map{|t| t.id}.join('_') %>'<% end %>})">
<div class="page_layout">
<div class="row_item">
<h2>Folders</h2>
</div>
<div class="row_item">&nbsp;&nbsp;</div>
<div class="row_item control_font button round color2 circle" onclick="void(0)" data-behavior="expander" data-action="expand" data-state="contracted" data-id="new_folder_form" data-button="true">+</div>
<div class="row_item control_font button round color2 circle arrow" onclick="void(0)" data-behavior="expander" data-action="contract" data-state="expanded" data-id="new_folder_form" style="display: none;" data-button="true">&uarr;</div>
<div class="block padding_bottom" style="display:none;" data-behavior="expander" data-state="expanded" data-id="new_folder_form">
  <%= form_for Folder.new(:user_id => @this_user.id) do |f| %>
		<%= f.text_field :title, :class => "span-12" %>
		<%= f.hidden_field :user_id %>
  	<div onclick="void(0)" data-button="true" data-submit="true" class="row_item button round small light "><div class="button_content">save</div></div>
  <% end %>
</div>
<div class="list_container" data-sort_container="true" data-sort_id="folder_list" data-sort_url="<%= sort_folders_url %>">
<% @this_user.folders.ordered.each_with_index do |folder,index| %>
  <div id="folder_<%= folder.id %>" class="block border_bottom" data-sort_element="true" data-sort_id="folder_list" data-list_index="<%= index %>">
    <div class="row padding">
  	  <div class="row_item eightteen control_font" data-drag_handle="true">&nbsp;&nbsp;&equiv;</div>
      <div class="row_item seventy" onclick="void(0)" data-button="true" href="<%= folder_url(folder) %>">
		    <div class="row_item"><h3><%= folder.title %> <span class="small">(</span><span class="small" data-sort_count="true" data-sort_id="folder_plan_list" data-sort_count_id="folder_<%= folder.id %>_plan_list"><%= folder.projects.active.count %></span><span class="small">)</span> &nbsp;</h3></div>
      </div>
      <div class="row_item twelve">
        <div onclick="void(0)" class="row_item control_font" data-page_turner="true" data-page_target="folder_page_<%= folder.id %>" data-page_loader="multiple_folders_page_<%= @this_user.folders.ordered.map{|t| t.id}.join('_') %>" style="visibility:hidden;">
          &nbsp;&nbsp;&rang;
        </div>
      </div>
  	</div>
  </div>
<% end %>
</div>
</div>