<div class="row">
<div class="row_item">
	<h3>Sharing</h3>
</div>
<% if @project.user_id == @this_user.id %>
<div class="row_item last h3_padding list_action">
	<%= link_to (@project.shared? ? 'edit sharing' : 'add sharers'), edit_plan_url(@project, :attribute => 'sharing'),
	 	:'data-ajax_behavior' => 'ajax_link',
		:'data-ajax_method' => 'GET',
		:'data-ajax_success_element' => 'project_sharing'
	%>
</div>
<% end %>
</div>
<div>
  <% if @project.user_id == @this_user.id %>
    <% if @project.sharers.count > 0 %>
      You are sharing this plan with <%= DOMAIN_NAME %> users
      <%= to_str_list(@project.sharers.map{|s| "<strong>#{s.email}</strong>"}).html_safe %>.
    <% else %>
      You aren't sharing this plan with any <%= DOMAIN_NAME %> users.
    <% end %>
    <% if @project.project_emails.count > 0 %>
      <br/>&nbsp;<br/> You sent this plan in an email to
      <%= to_str_list(@project.project_emails.map{|e| "<strong>#{e.email}</strong>"}).html_safe %>.<br/>
      If they join <%= DOMAIN_NAME %> using the same email address, they'll be able to add, edit, and complete tasks in this plan.
    <% end %>
  <% else %>
    This plan is shared with you by <%= @project.user.email %>
  <% end %>
</div>
