<%  sortable = false unless defined? sortable
    hierarchical = false unless defined? hierarchical %>
<div class="span-16 last <% if hierarchical %>section_heading padded<% end %>" data-binding="hover_show_more" data-hover_div="[data-hover_id='plan_line_item_<%= project.id %>']" data-hover_fade_time="50" data-hover_fadein_time="50">
  <div class="span-12">
    <% if hierarchical %>
    	<div onclick="void(0)" class="row_item rarr_width" data-behavior="expander" data-state="contracted" data-action="expand" data-id="project_<%= project.id %>_task_list">
        &nbsp;&nbsp;&gt;
      </div>
    	<div onclick="void(0)" class="row_item rarr_width" data-behavior="expander" data-state="expanded" data-action="contract" data-id="project_<%= project.id %>_task_list" style="display:none;">
    	  &nbsp;&nbsp;&or;
    	</div>
    <% end %>
    <div class="span-11 title_text">
		  <a href="<%= plan_url(project) %>" <% if project.all_complete? %>class="completed"<% end %>><%= project.title %></a>
  	</div>
  </div>
  <div class="span-1_5"><span class="count" data-sort_count="true" data-sort_id="project_task_lists" data-sort_count_id="project_<%= project.id %>_task_list"><%= project.archived? ? project.tasks.count : project.tasks.active.count %></span>
    <% unless project.archived? %>
  <span data-behavior="expander" data-state="expanded" data-id="project_<%= project.id %>_task_list" style="display:none;"> &nbsp;
    <a class="plus_icon" data-behavior="expander" data-action="expand" data-id="project_<%= project.id %>_new_task_form" style="display:none;" data-hover_id="plan_line_item_<%= project.id %>">&oplus;</a>
  </span>
    <% end %>
	</div>
  <div class="span-1_5 last text_right" data-hover_id="plan_line_item_<%= project.id %>" style="display:none;">
  	<a href="<%= plan_url(project) %>"
  		data-ajax_behavior="ajax_link"
  		data-ajax_method="DELETE"
  		data-ajax_success_callback="jQuery('#project_<%= project.id %>').remove();handleListDisplay();"
  		data-ajax_confirm="<% if project.user_id == @this_user.id %>Are you sure you want to delete this plan?<% else %>This plan is being shared with you. Deleting it will not affect the owner's copy of the plan, it will only remove it from your list. Are you sure you want to remove this plan from your list?<% end %>"
  		class="delete" data-role="delete">&otimes;</a>
  </div>
</div>
<% if hierarchical %>
<div class="span-16 last" data-behavior="expander" data-state="expanded" data-id="project_<%= project.id %>_task_list" style="display:none;">
  <%= render :partial => '/tasks/new', :locals => {:project => project, :hierarchical => true} %>
  <div id="project_<%= project.id %>_task_list" class="span-16 last task_list" data-sort_container="true" data-sort_id="user_<%= project.user_id %>_project_task_lists" data-sort_url="<%= sort_tasks_plan_url(project) %>">
    <% for task in project.archived? ? project.tasks.ordered : project.tasks.active.ordered %>
      <div id="task_<%= task.id %>" class="span-16 last line_item_quiet" data-sort_element="true" data-sort_id="user_<%= project.user_id %>_project_task_lists">
        <div id="task_<%= task.id %>_inner_wrapper" data-role="list_item" data-id="task_<%= task.id %>" class="list_section_indent span-16 last">
          <%= render :partial => '/tasks/show', :locals => {:task => task, :sortable => true, :hierarchical => true} %>
    	  </div>
  	  </div>
    <% end %>
  </div>
</div>
<% end %>