<%  sortable = false unless defined? sortable
    hierarchical = false unless defined? hierarchical
    needs_organization = false unless defined? needs_organization %>
<div class="span-16 last <% if hierarchical %>section_heading padded<% end %>" data-binding="hover_show_more" data-hover_div="[data-hover_id='plan_line_item_<%= project.id %>']" data-hover_fade_time="50" data-hover_fadein_time="50">
  <% if hierarchical %>
  	<div onclick="void(0)" class="row_item rarr_width" data-behavior="expander" data-state="contracted" data-action="expand" data-id="project_<%= project.id %>_task_list">
      &nbsp;&nbsp;&gt;
    </div>
  	<div onclick="void(0)" class="row_item rarr_width" data-behavior="expander" data-state="expanded" data-action="contract" data-id="project_<%= project.id %>_task_list" style="display:none;">
  	  &nbsp;&nbsp;&or;
  	</div>
  <% end %>
  <div class="span-11 title_text">
	  <a href="<%= plan_url(project) %>" <% if project.all_complete? %>class="completed"<% end %>><%= project.title %></a>
	</div>
  <div class="span-4 last">
    <% unless project.all_complete? %>
    <span class="count" data-sort_count="true" data-sort_id="project_task_lists" data-sort_count_id="project_<%= project.id %>_task_list"><%= project.archived? ? project.tasks.count : project.tasks.active.count %></span>
    <% end %>
    <% if needs_organization %>
    <div id="project_<%= project.id %>_add_to_folder" class="project_add_folder" style="display:none;" onclick="void(0)" data-behavior="expander" data-action="expand" data-id="project_<%= project.id %>_folder_select" data-hover_id="plan_line_item_<%= project.id %>" data-hover_stop="true">
      <span class="small">add to folder</span>
    </div>
    <div class="project_folder_select" style="display:none;" data-behavior="expander" data-state="expanded" data-id="project_<%= project.id %>_folder_select">
      <%= form_for project, :url => plan_url(project), :html => {
        :'data-ajax_behavior' => 'ajax_form',
        :'data-ajax_method' => 'put',
        :'data-ajax_success_element' => "project_#{project.id}",
        :'data-ajax_success_callback' => "jQuery('#project_#{project.id}').remove();"
      } do |f| %>
    	  <% if project.user_id == @this_user.id %>
      		<%= f.select :folder_id, [['none',nil]] +  @this_user.folders.ordered.map{|p| [p.title,p.id]}, {}, :class => 'span-11', :rows => 4 %>
      	<% else %>
          <%= select_tag 'shared_folder_id', options_for_select([['none',nil]] +  @this_user.folders.ordered.map{|p| [p.title,p.id]}, project.folder_for(@this_user)), :class => 'span-11', :rows => 4 %>
      	<% end %>
      	<div class="row_item button round small light" data-button="true" data-submit="true" onclick="void(0)">
      	  <div class="button_content">save</div>
      	</div>
        <div class="text_with_button small" onclick="void(0)" data-behavior="expander" data-action="contract" data-id="project_<%= project.id %>_folder_select" data-hover_rebind="true" href="<%= project_sharer_url(project.project_sharers.where(:user_id => @this_user.id).first) %>" data-ajax_behavior="ajax_link" data-ajax_method="PUT" data-ajax_success_callback="jQuery('#project_<%= project.id %>').remove();" data-ajax_data="{'project_sharer':{'no_folder':true}}">
      		or only show under Contacts tab.
        </div>
      <% end %>
    </div>
    <% end %>
	</div>
  <div class="project_line_item_tools" data-hover_id="plan_line_item_<%= project.id %>" style="display:none;">
    <% unless project.archived? %>
    <span data-behavior="expander" data-state="expanded" data-id="project_<%= project.id %>_task_list" style="display:none;"> &nbsp;
      <a class="plus_icon" data-behavior="expander" data-action="expand" data-id="project_<%= project.id %>_new_task_form" style="display:none;" data-hover_id="plan_line_item_<%= project.id %>">&oplus;</a>
    </span>
    <% end %>
  	<a href="<%= plan_url(project) %>"
  		data-ajax_behavior="ajax_link"
  		data-ajax_method="DELETE"
  		data-ajax_success_callback="jQuery('#project_<%= project.id %>').remove();jQuery('#project_<%= project.id %>nav').remove();handleListDisplay();<% if project.folder_for(@this_user) %>handleCount('folder_<%= project.folder_for(@this_user).id %>_plan_list','folder_<%= project.folder_for(@this_user).id %>_plan_list');<% end %>"
  		data-ajax_confirm="<% if project.user_id == @this_user.id %>Are you sure you want to delete this plan?<% else %>This plan is being shared with you. Deleting it will not affect the owner's copy of the plan, it will only remove it from your list. Are you sure you want to remove this plan from your list?<% end %>"
  		class="delete" data-role="delete">&otimes;</a>&nbsp;
  </div>
</div>
<% if hierarchical %>
<div class="span-16 last small_margin_top" data-behavior="expander" data-state="expanded" data-id="project_<%= project.id %>_task_list" style="display:none;">
  <%= render :partial => '/tasks/new', :locals => {:project => project, :hierarchical => true} %>
  <div id="project_<%= project.id %>_task_list" class="span-16 last task_list" data-sort_container="true" data-sort_id="user_<%= project.user_id %>_project_task_lists" data-sort_url="<%= sort_tasks_plan_url(project) %>" data-sort_count_id="project_<%= project.id %>_task_list">
    <% for task in project.archived? ? project.tasks.ordered : project.tasks.active.ordered %>
      <div id="task_<%= task.id %>" class="span-16 last line_item_quiet" data-sort_element="true" data-sort_id="user_<%= project.user_id %>_project_task_lists">
        <div id="task_<%= task.id %>_inner_wrapper" data-role="list_item" data-id="task_<%= task.id %>" class="list_section_indent span-16 last">
          <%= render :partial => '/tasks/show', :locals => {:task => task, :sortable => true, :hierarchical => true} %>
    	  </div>
  	  </div>
    <% end %>
  </div>
</div>
<% end %>