<%  sortable = false unless defined? sortable
    hierarchical = false unless defined? hierarchical %>
<div class="row padding">
  <% if sortable %>
  <div data-drag_handle="true" class="row_item eightteen control_font">&nbsp;&nbsp;&equiv;</div>
	<div class="row_item seventy" onclick="void(0)" data-page_turner="true" data-page_target="project_page_<%= project.id %>" data-page_loader="multiple_projects_page_<%= (@nav_tab == 'contacts') ? @all_projects.map{|t| t.id}.join('_') : project.folder.projects.active.ordered.map{|t| t.id}.join('_') %>" style="visibility:hidden;">
	<% else %>
	<div class="row_item eighty_eight" onclick="void(0)" data-page_turner="true" data-page_target="project_page_<%= project.id %>" data-page_loader="multiple_projects_page_<%= (@nav_tab == 'contacts') ? @all_projects.map{|t| t.id}.join('_') : project.folder.projects.active.ordered.map{|t| t.id}.join('_') %>" style="visibility:hidden;">
	<% end %>
    <div class="row_item<% if project.all_complete? %> completed<% end %>"><h3>
	  <%= truncate_clean(project.title, :length => 256, :omission => '...', :max_word_length => (session.has_key? :screen_width and (session[:screen_width].to_i < 500)) ? 20 : 256) %>
	  <span class="small">(</span><span id="project_<%= project.id %>_count_display"  data-list_count="project_<%= project.id %>_task_list" class="small"><%= project.tasks.active.count %></span><span class="small">)</span></h3>
	  </div>
	</div>
	<% if @nav_tab == 'contacts' %>
    <% @projects_shared_to = @this_user.projects.active.joins(:project_sharers).where("project_sharers.user_id = :user_id",{:user_id => @user.id})
    @projects_shared_from = @user.projects.active.joins(:project_sharers).where("project_sharers.user_id = :user_id",{:user_id => @this_user.id})
    @all_projects = (@projects_shared_from + @projects_shared_to).uniq.sort{|a,b| a.id <=> b.id}
     %>
	<% end %>
  <div class="row_item twelve">
    <div onclick="void(0)" class="row_item control_font" data-page_turner="true" data-page_target="project_page_<%= project.id %>" data-page_loader="multiple_projects_page_<%= (@nav_tab == 'contacts') ? @all_projects.map{|t| t.id}.join('_') : project.folder.projects.active.ordered.map{|t| t.id}.join('_') %>" style="visibility:hidden;">&nbsp;&nbsp;&rang;</div>
  </div>
</div>

<% if hierarchical %>
<div class="block"><div class="padding">
  <div class="row_item thirtteen_left" data-behavior="expander" data-state="expanded" data-id="project_<%= project.id %>_task_list" style="display:none;"><div class="section invisible_side_borders">&nbsp;</div></div>
  <div id="project_<%= project.id %>_task_list" class="row_item thirtteen_left" data-behavior="expander" data-state="expanded" data-id="project_<%= project.id %>_task_list" data-sort_container="true" data-sort_id="project_task_lists" data-sort_url="<%= sort_tasks_plan_url(project) %>" style="display:none;">
    <% for task in project.tasks.active.ordered %>
      <div id="task_<%= task.id %>" data-role="list_item" data-id="task_<%= task.id %>" data-sort_element="true" data-sort_id="project_task_lists" class="section side_borders">
        <%= render :partial => '/tasks/show', :locals => {:task => task, :sortable => true} %>
  	  </div>
    <% end %>
  </div>
</div></div>
<% end %>