<div class="span-18 last" id="header_wrapper">
  <div id="project_title" class="span-18 last section_margin_top">
  	<%= render :partial => 'show_title' %>
  </div>
  <%= render :partial => 'tabs' %>
</div>
<div class="span-19 last page_content">
  <div id="show_delete" class="list_action last"><%= render :partial => 'show_delete', :locals => {:project => @project} %></div>
  <div id="show_done" class="list_action"><%= render :partial => 'show_done', :locals => {:project => @project} %></div>
  <div id="project_description" class="span-18 last section_margin_top">
  	<%= render :partial => 'show_description' %>
  </div>
  <div id="project_due_date" class="span-18 last section_margin_top">
  	<%= render :partial => 'show_due_date' %>
  </div>
</div>