<div class="span-17 last" id="header_wrapper">
  <div class="span-17 last section_margin_top">
    <h1>Plan</h1>
  </div>
  <%= render :partial => 'tabs' %>
</div>
<div class="span-17 last page_content">
  <div id="project_title" class="span-16 last padding_bottom">
	<%= render :partial => 'show_title' %>
	</div>
	<div class="span-16 last">&nbsp;</div>
	<div class="span-16 last">
  <div class="list_action attributes button round light" onclick="void(0)" data-button="true"><div class="button_content" id="project_delete"><%= render :partial => 'show_delete', :locals => {:project => @project} %></div></div>
  <div class="list_action attributes button round light" onclick="void(0)"  data-behavior="check_box_proxy" data-check_box="project_state_checkbox">
  <div class="button_content" id="project_done"><%= render :partial => 'show_done', :locals => {:project => @project} %></div></div>
  </div>
  <div id="project_description" class="span-16 last section_margin_top">
  	<%= render :partial => @project.description.blank? ? 'edit_description' : 'show_description' %>
  </div>
  <div id="project_due_date" class="span-16 last section_margin_top">
  	<%= render :partial => @project.due_date.blank? ? 'edit_due_date' : 'show_due_date' %>
  </div>
  <div id="project_folder_id" class="span-16 last section_margin_top">
  	<%= render :partial => @project.folder_for(@this_user) ? 'show_folder_id' : 'edit_folder_id' %>
  </div>
  <div id="project_sharing" class="span-16 last section_margin_top">
  	<%= render :partial => @project.shared? ? 'show_sharing' : 'edit_sharing' %>
  </div>
</div>