<div class="span-18 last section_margin_top" id="header_wrapper">
	<div class="span-4"><h1>Plans</h1></div><% if (@help_text = true) and @this_user.projects.count > 0%><div class="span-14 last quiet text-right">You can add tasks to a plan, add a plan description, and more by clicking on the plan title in any list</div><% end %>
</div>
<div class="span-19 last page_content">
  <h2>Make a new plan.</h2>
	<div class="span-18 last">
		<% form_for @project, :url => plans_url do |f| %>
			<div class="span-12">
				<%= f.text_field :title, :id => 'primary_input', :class => "span-12" %>
			</div>
			<div class="span-6 last">
				<%= f.hidden_field :user_id %>
				<%= f.hidden_field :state, :value => 'active' %>
				<%= f.submit "Save", :id => "plan_submit_button" %>
			</div>
		<% end %>
	</div>
	<% if @this_user.projects.unarchived.count > 0 %>
	<div class="span-18 last section_margin_top">
    <div class="span-6">
  		<h2>Active Plans</h2>
  	</div>
  	<div class="span-12 last">
      <div id="archive_completed_items" class="list_action attach_above" <% unless @this_user.projects.complete.any? %>style="display: none;"<% end %>>
      	<%= link_to 'archive completed plans', archive_completed_plans_url,
      	 	:'data-ajax_behavior' => 'ajax_link',
      		:'data-ajax_method' => 'GET',
      		:'data-ajax_success_callback' => "handleArchivementSuccess();" %>
      </div>
    </div>
	</div>
	<div id="unarchived_items_wrapper" data-role="list" class="span-18 last section_wrapper" data-behavior="sortable" data-sort_url="<%= sort_plans_url %>">
		<% for project in @projects %>
			<div id="project_<%= project.id %>" class="span-18 last" data-role="list_item">
  			<%= render :partial => 'show', :locals => {:project => project, :sortable => true} %>
			</div>
		<% end %>
	</div>
	<%= will_paginate @projects %>
	<% else %>
    <div class="span-18 last section_margin_top">
      <h2>You don't have any current plans right now.</h2>
    </div>
    <% if @this_user.show_help_text %>
    <div class="span-18 last section_wrapper explanatory">
      <p>
        Plans are groups of tasks that work together to accomplish a goal. If I want to sell my old car I could make a plan 'Sell Car'. I could then add tasks 'Fix taillight', 'Research market value', and 'Place ad'. I might need to do those in order or not. For example, I could research the market value before fixing the taillight, but I can't place the ad until both of the others are done. I can sort tasks in a plan view by grabbing a task and dragging it to a new position in the project list.<br/>&nbsp;<br/>
        Sometimes the tasks required to complete a plan can all be done in one sitting, other times tasks require that I be in different locations or have different tools available. In order to efficiently use your time when tools are available or when you're in a certain place like the office or the car, check out the Situations tab to the left. There you find an explanation of how to use situations to increase your efficiency in completing multiple tasks for multiple plans.
      </p>
    </div>
    <% end %>
  <% end %>
</div>
<%= javascript_tag do %>
	jQuery(document).ready(function(){
		bindSortables();
		focusPrimaryInput();
	})
<% end -%>