<div class="page_layout">
  <h2>Sign In</h2>
  <div class="list_container">
    <div class="padding">
  	<%= form_for @user_session, :as => :user_session, :url => user_session_url do |f| %>
  	  <% if @user_session.errors.any? %> <%= @user_session.errors.full_messages %><br/> <% end %>
  	  <%= f.label :email %><br />
  	  <%= f.text_field :email %><br />
  	  <br />
  	  <%= f.label :password %><br />
  	  <%= f.password_field :password %><br />
  	  <br />
	  	<div onclick="void" data-button="true" data-submit="true" class="row_item button round small light "><div class="button_content">Login</div></div>
  	<% end %>
  	<br />&nbsp;<br/>
  	<div class="row">
    	<%= link_to 'Forget your password?', forgot_password_user_url('none') %>
  	</div>
    </div>
  </div>
</div>