<% if defined? hierarchical and hierarchical%>
<div id="task_<%= task.id %>_inner_wrapper" data-role="list_item" data-id="task_<%= task.id %>" class="list_section_indent span-16 last">
<%= yield %>
</div>
<% else %>
<%= yield %>
<% end %>
<%= render :partial => '/layouts/line_item_javascript' %>