<%= yield %>
<%= javascript_tag do %>
	jQuery(document).ready(function(){
    <% if params[:attribute] == 'title' %>
    	<% if action_name == 'edit' %>
      	jQuery('#<%= @item.class.name.underscore %>_<%= params[:attribute] %>').addClass('section');
      <% else %>
        jQuery('#<%= @item.class.name.underscore %>_<%= params[:attribute] %>').removeClass('section');
      <% end %>
    <% end %>
  	<% unless flash[:ajax_notice].blank? %>
  	function clearFlash(){
  		jQuery('#flash_notice').fadeOut(500);
  		setTimeout("jQuery('#flash_notice').remove();",1000);
  	}
  	jQuery('body').append('<div id="flash_notice" style="display:none;" class="flash_notice"><%= flash[:ajax_notice] %></div>');
		repositionDialog('#flash_notice', 'center');
  	jQuery('#flash_notice').fadeIn(500);
  	setTimeout(clearFlash,2500);
  	<% end %>
  	<% if @item.respond_to?(params[:attribute]) %>
  	jQuery("[data-resource_attr='<%= @item.class.name.underscore %>_<%= params[:attribute] %>'][data-resource_id='<%= @item.id %>']").html('<%= @item.send(params[:attribute]) %>');
    <% end %>
  	addDatePicker("[data-behavior='date_picker']");
	  roundCorners();
	  popButtons();
	});
<% end %>
