<div id="top_nav">
  <div class="meta_nav">
		<% if @this_user %>
			<div class="left"><div onclick="void(0)" data-button="true" href="<%= account_user_url(@this_user) %>" class="button round dark" %>account</div></div>
			<h1><%= @page_title %></h1>
			<div class="right"><div onclick="void(0)" data-button="true" href="<%= sign_out_url %>" class="button round dark" %>sign out</div></div>
		<% else %>
		  <div class="left"><div onclick="void(0)" data-button="true" href="/page/Pricing" class="button round dark" %>sign up</div></div>
			<h1><%= @page_title %></h1>
		  <div class="right"><div onclick="void(0)" data-button="true" href="<%= sign_in_url %>" class="button round dark" %>sign in</div></div>
		<% end %>
	</div>
    <% if @this_user %>
    <div data-role="navbar" class="main_nav">
      <div class="quarter_nav"><div onclick="void(0)" data-button="true" onclick="void(0)" href="<%= dashboard_url %>" class="border_wrapper button <% if @nav_tab == 'dashboard' %> dark<% else %> medium <% end %>">
  				Dashboard
  		</div></div>
  		<div class="quarter_nav" onclick="void(0)" data-button="true"><div class="border_wrapper button <% if @nav_tab == 'plans' %> dark<% else %> medium<% end %>">
  				<%= link_to 'Plans', plans_url %>
  		</div></div>
  		<div class="quarter_nav" onclick="void(0)" data-button="true"><div class="border_wrapper button <% if @nav_tab == 'contacts' %> dark<% else %> medium<% end %>">
  				<%= link_to 'Shared', users_url %>
  		</div></div>
  		<div class="quarter_nav" onclick="void(0)" data-button="true" data-button="true"><div class="border_wrapper button <% if @nav_tab == 'labels' %> dark<% else %> medium<% end %> last">
  				<%= link_to 'Labels', labels_url %>
  		</div></div>
		</div>
		<% end %>
</div>
<% unless @this_user %>
  <div id="main_logo" onclick="document.location.href = '<%= root_url %>'">
    <div id="main_logo_inner">
      <div id="main_logo_glare">&nbsp;</div>
      <div id="main_logo_content">
        Get Go <div class="rarr_logo">&rarr;</div>
      </div>
    </div>
  </div>
<% end %>
<div id="main_content" class="container">
  <%= yield %>
</div>
<% unless flash[:notice].blank? %>
<%= javascript_tag do %>
	jQuery(document).ready(function(){
			function clearFlash(){
				jQuery('#flash_notice').fadeOut(1000);
				setTimeout("jQuery('#flash_notice').remove();",1000);
			}
			jQuery('#main_content').prepend('<div id="flash_notice" style="display:none;" class="flash_notice"><%= flash[:notice] %></div>');
  		repositionDialog('#flash_notice', 'top');
			jQuery('#flash_notice').fadeIn(500);
			setTimeout(clearFlash,3000);
	})
<% end %>
<% end %>
