<%= javascript_tag do %>
	jQuery(document).ready(function(){
	  <% if @state_changed and @item.active? and @move %>
	    element = jQuery('#<%= @item.class.name.underscore %>_<%= @item.id %>');
      parent_count = element.parents('#unarchived_items_wrapper').length;
	    if(parent_count == 0){
        jQuery('#<%= @item.class.name.underscore %>_<%= @item.id  %>').moveToParent('#unarchived_items_wrapper');
        setTimeout(handleListDisplay,1200);
      }
	  <% else %>
    	flashBackground('<%= @item.class.name.underscore %>_<%= @item.id %>');
    <% end %>
  	<% unless flash[:ajax_notice].blank? %>
		function clearFlash(){
			jQuery('#flash_notice_<%= @item.class.name.underscore %>_<%= @item.id %>').fadeOut(1000);
			setTimeout("jQuery('#flash_notice_<%= @item.class.name.underscore %>_<%= @item.id %>').remove();",1000);
		}
		jQuery('body').append('<div id="flash_notice_<%= @item.class.name.underscore %>_<%= @item.id %>" style="display:none;" class="flash_notice"><%= flash[:ajax_notice] %></div>');
		repositionDialog('#flash_notice_<%= @item.class.name.underscore %>_<%= @item.id %>', 'top');
		jQuery('#flash_notice_<%= @item.class.name.underscore %>_<%= @item.id %>').fadeIn(500);
    setTimeout(clearFlash,2500);
  	<% end %>
  	<% unless flash[:ajax_dialog].blank? %>
  	jQuery('body').append('<div id="flash_dialog_<%= @item.class.name.underscore %>_<%= @item.id %>" style="display:none;" class="flash_dialog"><%= escape_javascript(flash[:ajax_dialog]) %></div>');
		repositionDialog('#flash_dialog_<%= @item.class.name.underscore %>_<%= @item.id %>', 'center');
		jQuery('#flash_dialog_<%= @item.class.name.underscore %>_<%= @item.id %>').fadeIn(500);
    <%= render :partial => @ajax_dialog_javascript %>
  	<% end %>
	  roundCorners();
    bindHoverShowMore();
    bindLineItemControls();
    popButtons();
  	addDatePicker("[data-behavior='date_picker']");
  	bindHoverShowMore();
	});
<% end %>