<% if defined? sortable %>
<div id="task_<%= task.id %>" data-role="list_item" data-id="task_<%= task.id %>" data-sort_element="true" data-sort_id="plan_<%= task.project_id %>_task_list" class="section">
  <%= yield %>
</div>
<% else %>
<div id="unorganized_task_<%= task.id %>" data-role="list_item" data-id="task_<%= task.id %>" class="section">
  <%= yield %>
</div>
<% end %>
<%= render :partial => '/layouts/line_item_javascript' %>
<%= javascript_tag do %>
jQuery(document).ready(function(){
	children_pages = {'<%= show_full_task_url(task) %>':'task_page_<%= task.id %>'};
	loadPages(children_pages);
	jQuery('#dashboard_overview').addClass('current_page');
});
<% end %>