<div class="sub_nav">
  <%-    if @subnav_tab.class.name == 'Fixnum'
          case controller_name
          when 'tasks'
            if @task.project
              this_title = @task.project.title
              this_target = "project_page_#{@task.project_id}"
              this_link = plan_url(@task.project)
            else
              this_title = 'All Unorganized Tasks'
              this_target = 'tasks_page'
            end
          when 'projects'
            if @app_context == 'folder'
              this_title = @project.folder_for(@this_user).title
              this_target = "folder_page_#{@project.folder_for(@this_user).id}"
              this_link = folder_url(@project.folder_for(@this_user))
            else
              this_title = 'Projects from ' + User.find(@app_context.to_i).handle
              this_target = "contact_page_#{@app_context}"
              this_link = user_url(@project.user_id)
            end
          when 'folders'
            this_title = 'All Folders'
            this_target = 'all_folders'
            this_link = plans_url
          when 'users'
            this_title = 'All Contacts'
            this_target = 'all_contacts'
            this_link = users_url
          end
        elsif @nav_tab
          case @nav_tab
          when 'dashboard'
            case @subnav_tab
            when 'unorganized'
              this_title = 'All Unorganized Tasks'
              this_target = 'tasks_page'
            else
              this_title = 'Dashboard Overview'
              this_target = 'dashboard_overview'
              this_link = dashboard_url
            end
          when 'plans'
            case controller_name
            when 'folders'
              this_title = 'All Folders'
              this_target = 'all_folders'
            when 'projects'
              if @app_context == 'folder'
                this_title = @project.folder_for(@this_user).title
                this_target = "folder_page_#{@project.folder_for(@this_user).id}"
                this_link = folder_url(@project.folder_for(@this_user))
              else
                this_title = 'Projects from ' + User.find(@app_context.to_i).handle
                this_target = "contact_page_#{@app_context}"
                this_link = user_url(@project.user_id)
              end
            end
          when 'labels'
            this_title = "All Labels"
            this_target = "all_labels"
          end
        else
          if controller_name == 'tasks' and action_name == 'multiple'
            if @app_context =~ /label/
              this_label = Label.find(@app_context.to_i)
              this_title = this_label.title
              this_target = "label_page_#{this_label.id}"
            elsif @task.project
              this_title = @task.project.title
              this_target = "project_page_#{@task.project_id}"
              this_link = plan_url(@task.project)
            else
              this_title = 'All Unorganized Tasks'
              this_target = 'tasks_page'
            end
          end
          if controller_name == 'users' and action_name == 'multiple'
            this_title = 'All Contacts'
            this_target = 'all_contacts'
          end
        end
   -%>
    <div class="full_nav">
      <div class="border_wrapper last" onclick="void(0)" data-page_back="true" data-page_target="<%= this_target %>">
        &lang;&nbsp;&nbsp;&nbsp;&nbsp;<%= this_title %> <%= @nav_tab %>:<%= @subnav_tab %>:<%= controller_name %>:<%= @app_context %>
      </div>
    </div>
</div>
