<!DOCTYPE html>
<html>
<head>
  <title><%= @html_page_title %></title>
  <%= render :partial => '/layouts/base_stylesheets' %>
  <%= render :partial => '/layouts/base_javascripts' %>
  <%= csrf_meta_tag %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body class="mytime">
	<div id="top_nav">
	  <div class="glare">&nbsp;</div>
		<div class="container">
			<div id="top_nav_wrapper" class="span-24 vertical-padding">
			  <div class="left_nav_wrapper">&nbsp;</div>
				<div class="span-18 last" data-role="top_nav_element">
          <div class="span-9" style="padding-left:24px;">
						<%= link_to 'Home', root_url, :class => 'loud' %>
					</div>
  				<div class="span-8 last text_center" data-role="top_nav_element">
  					<% if current_user %>
  						hello <%= @this_user.email %>
  						<%= link_to '(sign out)', sign_out_url, :class => 'quiet' %>
  						<%= link_to 'account', user_url(@this_user) %>
  					<% else %>
  						<%= link_to 'Sign Up', sign_up_url %> or
  						<%= link_to 'Sign in', sign_in_url %>
  					<% end %>
  				</div>
        </div>
			</div>
		</div>
	</div>
	<div id="main_content" class="container">
		<div class="span-24">
			<div class="left_nav_wrapper">
			  <div class="left_nav_wrapper last" id="left_nav_spacer">&nbsp;</div>
        <% if @this_user %>
				<div class="left_nav_wrapper last">
					<div class="vert-line-nav-wrapper-main<% if @nav_tab == 'dashboard' %> selected padding_bottom<% end %>">
						<%= link_to 'Dashboard', dashboard_url, :class => (@nav_tab == 'dashboard') ? 'selected loud' : 'loud' %>
            <% if @nav_tab == 'dashboard' %>
            <% if @this_user.is_a? PaidAccount
                 subnav_links = {
                   'overview' => dashboard_url,
                   'unorganized' => tasks_url,
                   'priority' => priority_tasks_url,
                   'schedule' => schedule_url,
                   'archived' => archived_unorganized_tasks_url
                 }
                 subnav_tags = ['overview','unorganized','priority','schedule','archived']
               else
                 subnav_links = {
                   'overview' => dashboard_url,
                   'priority' => priority_tasks_url,
                   'schedule' => schedule_url
                 }
                 subnav_tags = ['overview','priority','schedule']
               end
            %>
            <% for subnav in subnav_tags %>
            <div class="vert_line_subnav_wrapper<% if @subnav_tab == subnav %> selected<% end %>">
             <%= link_to subnav.capitalize, subnav_links[subnav] %>
						</div>
						<% end %>
						<% end %>
					</div>
				</div>
				<div id="project_nav" class="left_nav_wrapper last<% if @nav_tab == 'plans' %> selected<% end %>">
					<div class="vert-line-nav-wrapper-main<% if @nav_tab == 'plans' %> selected<% end %>">
              <div onclick="void(0)" class="loud" <% unless @nav_tab == 'plans' %> data-behavior="expander" data-action="expand" data-state="contracted" data-id="folder_list"<% end %>>Plans</div>
              <div onclick="void(0)" class="loud" <% unless @nav_tab == 'plans' %> data-behavior="expander" data-action="contract" data-state="expanded" data-id="folder_list"<% end %> style="display: none;">Plans</div>
  						<div class="expandable_subnav" id="folder_subnav" data-sort_container="true" data-sort_id="folder_list" data-sort_url="<%= sort_folders_url %>" <% unless @nav_tab == 'plans' %> style="display:none;" data-behavior="expander" data-state="expanded" data-id="folder_list"<% end %>>
  						  <% for folder in @this_user.folders.ordered %>
						      <%  selected = (@nav_tab == 'plans' and @folder and !@project and @folder.id == @subnav_tab and @folder.id == folder.id)
						          super_selected = (@nav_tab == 'plans' and @project and @project.folder_for(@this_user) == folder) %>
                  <div id="folder_<%= folder.id %>" class="expandable_subnav" data-sort_element="true" data-sort_id="folder_list">
                    <div class="expandable_subnav <% if selected %> selected<% end %>" data-binding="hover_show_more" data-hover_div="[data-hover_id='folder_nav_<%= folder.id %>']" data-hover_fade_time="50" data-hover_fadein_time="50">
      						    <div class="expand_arrow_width" data-behavior="expander" data-action="expand" data-state="contracted" data-id="folder_<%= folder.id %>" <% if selected or super_selected %>style="display:none;"<% end %>>&nbsp;&gt;</div>
      						    <div class="expand_arrow_width" data-behavior="expander" data-action="contract" data-state="expanded" data-id="folder_<%= folder.id %>" <% unless selected or super_selected %>style="display:none;"<% end %>>&nbsp;&or;</div>
      						    <div class="expanded_subnav">
                        <div data-drag_handle="true" class="allcaps">
                          &nbsp;<%= link_to folder.title, folder_url(folder) %>
                        </div>
                        <div class="nav_tools" data-hover_id="folder_nav_<%= folder.id %>" style="display:none;">
                          <div class="nav_tool_text"><div class="count" data-sort_count="true" data-sort_id="folder_plan_list" data-sort_count_id="folder_<%= folder.id %>_plan_list"><%= Project.for_folder(folder).active.count %></div>&nbsp;</div>
                          <div class="nav_tool_icons">
                          <a class="plus_icon" data-modal_trigger="true" data-modal_id="folder_new_project_form_nav" data-modal_insert_value="<%= folder.id %>" data-modal_display_name="<%= folder.title %>">&oplus;</a>
                  		    <a href="<%= folder_url(folder) %>"
                      			data-ajax_behavior="ajax_link"
                      			data-ajax_method="DELETE"
                      			data-ajax_success_callback="jQuery('#folder_<%= folder.id %>').remove();handleListDisplay();"
                      			data-ajax_data="{_method: 'DELETE'}"
                      			data-ajax_confirm="Are you sure you want to delete this folder? You'll delete all the plans and tasks inside as well."
                      			class="delete" data-role="delete">&otimes;</a>&nbsp;
                      		</div>
                    		</div>
                  		</div>
                  	</div>
        						<div class="expandable_subnav" id="folder_<%= folder.id %>_plan_list" <% unless selected or super_selected %>style="display:none;"<% end %> data-behavior="expander"  data-state="expanded" data-id="folder_<%= folder.id %>" data-sort_container="true" data-sort_url="<%= sort_plans_folder_url(folder) %>" data-sort_id="folder_plan_list">
        						  <% for project in Project.for_folder(folder).active.shared_order %>
        							<div id="project_<%= project.id %>nav" class="expanded_subnav_indent <% if @project and @subsubnav_tab == @project.id and project.id == @project.id %>selected<% end %>" data-sort_element="true" data-sort_id="folder_plan_list" data-binding="hover_show_more" data-hover_div="[data-hover_id='project_nav_<%= project.id %>']" data-hover_fade_time="50" data-hover_fadein_time="50">
                        <div class="nav_tools" data-hover_id="project_nav_<%= project.id %>" style="display:none;">
          							  <div class="nav_tool_text"><div class="count small" data-sort_count="true" data-sort_id="project_task_lists" data-sort_count_id="project_<%= project.id %>_task_list" data-hover_id="project_nav_<%= project.id %>" style="display:none;"><%= project.tasks.active.count %></div>&nbsp;</div>
                          <div class="nav_tool_icons">
                          <a class="plus_icon" data-modal_trigger="true" data-modal_id="project_new_task_form_nav" data-modal_insert_value="<%= project.id %>" data-modal_display_name="<%= project.title %>">&oplus;</a>
                  		    <a href="<%= plan_url(project) %>"
                      			data-ajax_behavior="ajax_link"
                      			data-ajax_method="DELETE"
                      			data-ajax_success_callback="jQuery('#project_<%= project.id %>nav').remove();jQuery('#project_<%= project.id %>').remove();handleListDisplay();"
                      			data-ajax_data="{_method: 'DELETE'}"
                      			data-ajax_confirm="Are you sure you want to delete this project? You'll delete all the tasks inside as well."
                      			class="delete" data-role="delete">&otimes;</a>&nbsp;
                      		</div>
                    		</div>
        							  <div class="expandable_subnav_stretcher" data-drag_handle="true">
                        &nbsp;  <%= link_to project.title, plan_url(project) %>
                        </div>
                      </div>
                      <% end %>
                    </div>
                  </div>
                <% end %>
                <div class="span-5 height_zero nav_divider">&nbsp;</div>
  						  <div class="expandable_subnav">
  						    <%  selected = (@nav_tab == 'plans' and !@folder and @subnav_tab)
  						        super_selected = selected %>
                  <div class="expandable_subnav <% if selected or super_selected %> bold<% end %>">
    						    <div class="expand_arrow_width" data-behavior="expander" data-action="expand" data-state="contracted" data-id="folder_misc"<% if selected or super_selected %>style="display:none;"<% end %>>&nbsp;&gt;</div>
    						    <div class="expand_arrow_width" data-behavior="expander" data-action="contract" data-state="expanded" data-id="folder_misc" <% unless selected or super_selected %>style="display:none;"<% end %>>&nbsp;&or;</div>
                    <div class="expanded_subnav allcaps">&nbsp;Misc.</div>
                  </div>
      						<div id="folder_misc_subnav" class="expandable_subnav margin_bottom" <% unless selected or super_selected %>style="display:none;"<% end %> data-behavior="expander"  data-state="expanded" data-id="folder_misc">
                    <% if (@this_user.shared_projects.active.count + @this_user.projects.shared.count) > 0 %>
      							<div class="expandable_subnav">
                      <div class="expanded_subnav_indent<% if @subnav_tab == 'shared' %> selected<% end %>">
        								<%= link_to "Shared Plans", shared_plans_url %>
        							</div>
      							</div>
      							<% end %>
      						  <% if Project.for_user(@this_user).archived.count > 0 %>
      							<div class="expandable_subnav">
                      <div class="expanded_subnav_indent<% if @subnav_tab == 'archived' %> selected<% end %>">
      								  <%= link_to "Archived Plans (#{Project.for_user(@this_user).archived.count})", archived_plans_url %>
      								</div>
      							</div>
      							<% end %>
      							<div class="expandable_subnav">
                      <div class="expanded_subnav_indent<% if @subnav_tab == 'active' %> selected<% end %>" data-binding="hover_show_more" data-hover_div="[data-hover_id='folder_nav_all']" data-hover_fade_time="50" data-hover_fadein_time="50">
                        <div class="nav_tools" data-hover_id="folder_nav_all" style="display:none;">
                          <div class="nav_tool_icons">
                          <a class="plus_icon" data-modal_trigger="true" data-modal_id="new_folder_form_nav">&nbsp;&oplus;&nbsp;</a>
                      		</div>
                    		</div>
      								  <%= link_to "All Folders (#{Project.for_user(@this_user).active.count})", plans_url %>
      								</div>
      							</div>
                  </div>
                </div>
              </div>
					</div>
				</div>
				<div id="label_nav" class="left_nav_wrapper last">
					<div class="vert-line-nav-wrapper-main<% if @nav_tab == 'labels' %> selected <% if @subnav_tab %>padding_bottom<% end %><% end %>"<% unless @nav_tab == 'labels' %> data-binding="hover_show_more" data-hover_div="#label_subnav" data-hover_fade_time="100"<% end %>>
						<%= link_to 'Labels', labels_url, :class => (@nav_tab == 'labels') ? 'selected loud' : 'loud' %>
						<% if @this_user.labels.count > 0 and !(@nav_tab == 'labels' and !@subnav_tab) %>
						<div id="label_subnav"<% unless @nav_tab == 'labels' %>style="display:none;"<% end %> class="left_subnav_wrapper<% unless @nav_tab == 'labels' %> hover_nav<% end %>">
              <% unless @nav_tab == 'labels' %>
						  <div class="hover_nav_pointer">&rarr;</div>
						  <% end %>
						  <% for label in @this_user.labels %>
							<div class="vert_line_subnav_wrapper<% if @nav_tab == 'labels' and @subnav_tab == label.id %> selected<% end %>">
                <div class="label <%= label.color %>">
                <%= link_to truncate_clean(label.title,{:length => 100, :max_word_length => (@nav_tab == 'labels') ? 20 : nil, :omission => '-'}) + " (#{label.tasks.active.count})", label_url(label), :class => (@nav_tab == 'labels' and @subnav_tab == label.id) ? 'selected' : '' %>
                </div>
              </div>
              <% end %>
            </div>
            <% end %>
					</div>
				</div>
  			<% end %>
  			<div id="testone" class="span-3 last">
        </div>
        
			</div>
			<div class="span-18 last">
				<%= yield %>
			</div>
		</div>
	</div>
  <div id="modal_mask" style="display: none;">&nbsp;</div>
	<div style="display:none;" id="main_modal_view">
	</div>
	<% if @this_user %>
  <div style="display:none;" class="form_modal" data-modal="true" data-modal_id="new_folder_form_nav">
    <% if @this_user.is_a? PaidAccount %>
    <h2>Create a new Folder</h2>
    <%= form_for Folder.new(:user_id => @this_user.id) do |f| %>
      <div class="span-12">
        <%= f.label :title, 'Folder Title' %>
  			<%= f.text_field :title, :class => "span-12" %>
  		</div>
  		<div class="span-4 last">
  			<%= f.hidden_field :user_id %>
  			<%= hidden_field_tag :return_to, request.request_uri %>
      	<div class="row_item button round small light" data-button="true" data-submit="true" onclick="void(0)">
      	  <div class="button_content">add folder</div>
      	</div>
      	<div class="text_with_small_button small" onclick="void(0)" data-modal_closer="true" data-modal_id="new_folder_form_nav">
  			or cancel
        </div>
  		</div>
    <% end %>
    <% else %>
      <div class="span-16 last">
        <div class="span-15 last">
          You currently have a free account. Upgrade to a paid account now and create your own plans and folders, share them with friends and colleagues, and more!
        </div>
        <div class="span-3 prepend-13 last padding_bottom">
        	<div class="text_with_small_button small" onclick="void(0)" data-modal_closer="true" data-modal_id="new_folder_form_nav">
    			close
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div style="display:none;" class="form_modal" data-modal="true" data-modal_id="folder_new_project_form_nav">
    <% if @this_user.is_a? PaidAccount %>
    <div id="folder_new_project_form_wrapper_nav" class="span-15 last section_margin_top">
      <h2>Add a new plan to the folder <span data-modal_display_name="true"></span></h2>
    	<%= form_for Project.new(:folder_id => nil, :state => 'active'), :url => plans_url, :html => {:id => "folder_new_project_form_nav"} do |f| %>
    		<div class="span-11">
    			<%= f.text_field :title, :id => "folder_new_project_title_nav", :class => "span-11" %>
    		</div>
    		<div class="span-4 last">
    			<%= f.hidden_field :state, :id => "folder_new_project_state_nav" %>
    			<%= f.hidden_field :folder_id, :id => "folder_new_project_folder_id", :'data-modal_insert' => true %>
    			<%= hidden_field_tag :return_to, request.request_uri %>
        	<div class="row_item button round small light" data-button="true" data-submit="true" onclick="void(0)">
        	  <div class="button_content">add plan</div>
        	</div>
        	<div class="text_with_small_button small" onclick="void(0)" data-modal_closer="true" data-modal_id="folder_new_project_form_nav">
    			or cancel
          </div>
    		</div>
    	<% end %>
    </div>
    <% else %>
      <div class="span-16 last">
        <div class="span-15 last">
          You currently have a free account. Upgrade to a paid account and create your own plans and folders, share them with friends and colleagues, and more!
        </div>
        <div class="span-3 prepend-13 last padding_bottom">
        	<div class="text_with_small_button small" onclick="void(0)" data-modal_closer="true" data-modal_id="folder_new_project_form_nav">
    			close
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div style="display:none;" class="form_modal" data-modal="true" data-modal_id="project_new_task_form_nav">
    <div class="span-16 section_margin_top">
      <h2>Add a new task to the plan "<span data-modal_display_name="true"></span>"</h2>
    	<%= form_for Task.new(:state => 'active'), :html => {
    	  :id => "project_new_task_form_nav"} do |f| %>
    		<div class="span-12">
    			<%= f.text_field :title, :id => "project_new_task_title_nav", :class => "span-12" %>
    		</div>
    		<div class="span-4 last">
    			<%= f.hidden_field :state, :id => "project_new_task_state_nav" %>
    			<%= f.hidden_field :project_id, :id => "project_new_task_project_id_nav", :'data-modal_insert' => true %>
    			<%= hidden_field_tag :return_to, request.request_uri %>
        	<div class="row_item button round small light" data-button="true" data-submit="true" onclick="void(0)">
        	  <div class="button_content">add task</div>
        	</div>
        	<div class="text_with_small_button small" onclick="void(0)" data-modal_closer="true" data-modal_id="project_new_task_form_nav">
    			or cancel
          </div>
    		</div>
    	<% end %>
    </div>
  </div>
  <% end %>
<%= javascript_tag do %>
	jQuery(document).ready(function(){
  	<% unless flash[:notice].blank? %>
  		function clearFlash(){
  			jQuery('#flash_notice').fadeOut(1000);
  			setTimeout("jQuery('#flash_notice').remove();",1000);
  		}
  		jQuery('#main_content').before('<div id="flash_notice" style="display:none;margin-top: -17px;" class="container flash_notice"><%= flash[:notice] %></div>');
  		jQuery('#flash_notice').fadeIn(500);
  		setTimeout(clearFlash,3000);
  		flash.discard;
  	<% end %>
		<% if params.has_key? :added_task %>
      jQuery("[data-behavior='expander'][data-state='contracted'][data-id='new_task_form']")
        .hide();
      jQuery("[data-behavior='expander'][data-state='expanded'][data-id='new_task_form']")
        .show();
        popButtons();
      jQuery('#primary_input').focus();
		<% end %>
	})
<% end %>
<%= render :partial => '/layouts/google_analytics' %>
</body>
</html>
