<!DOCTYPE html>
<html>
<head>
  <title><%= @html_page_title %></title>
  <%= render :partial => '/layouts/base_stylesheets' %>
  <%= render :partial => '/layouts/base_javascripts' %>
  <%= csrf_meta_tag %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body class="mytime">
  <div id="modal_mask" style="display: none;">&nbsp;</div>
	<div id="top_nav">
		<div class="container">
			<div id="top_nav_wrapper" class="span-24 vertical-padding">
			  <div class="left_nav_wrapper">&nbsp;</div>
				<div class="span-18 last" data-role="top_nav_element">
          <div class="span-9" style="padding-left:24px;">
						<%= link_to 'Home', root_url, :class => 'loud' %>
					</div>
  				<div class="span-8 last text-center" data-role="top_nav_element">
  					<% if current_user %>
  						hello <%= @this_user.email %>
  						<%= link_to '(sign out)', sign_out_url, :class => 'quiet' %>
  						<%= link_to 'account', user_url(@this_user) %>
  					<% else %>
  						<%= link_to 'Sign Up', sign_up_url %> or
  						<%= link_to 'Sign in', sign_in_url %>
  					<% end %>
  				</div>
        </div>
			</div>
		</div>
	</div>
	<div id="main_content" class="container">
		<div class="span-24">
			<div class="left_nav_wrapper">
			  <div class="left_nav_wrapper last" id="left_nav_spacer">&nbsp;</div>
        <% if @this_user %>
				<div class="left_nav_wrapper last">
					<div class="vert-line-nav-wrapper-main<% if controller_name == 'dashboard' %> selected<% end %>">
						<%= link_to 'Dashboard', dashboard_url, :class => (controller_name == 'dashboard') ? 'selected loud' : 'loud' %>
					</div>
				</div>
				<div class="left_nav_wrapper last">
					<div class="vert-line-nav-wrapper-main<% if controller_name == 'schedule' %> selected<% end %>">
						<%= link_to 'Schedule', schedule_url, :class => (controller_name == 'schedule') ? 'selected loud' : 'loud' %>
					</div>
				</div>
				<div class="left_nav_wrapper last">
					<div class="vert-line-nav-wrapper-main<% if controller_name == 'tasks' %> selected<% end %>" <% unless controller_name == 'tasks' %> data-binding="hover_show_more" data-hover_div="task_subnav"<% end %>>
						<%= link_to 'Tasks', tasks_url, :class => (controller_name == 'tasks') ? 'selected loud' : 'loud' %>
						<div id="task_subnav"<% unless controller_name == 'tasks' %>style="display:none;" class="hover_nav"<% end %>>
						  <% unless controller_name == 'tasks' %>
						  <div class="hover_nav_pointer">&rarr;</div>
						  <% end %>
							<div class="vert-line-subnav-wrapper<% if controller_name == 'tasks' and action_name == 'index' %> selected<% end %>">
                <% if controller_name == 'tasks' and action_name == 'index' %><div class="selected_indicator">-</div><% end %>
								<%= link_to "Unorganized (#{Task.for_user(@this_user).unarchived.unorganized.count})", tasks_url, :class => (action_name == 'index' and controller_name == 'tasks') ? 'selected' : '' %>
							</div>
							<div class="vert-line-subnav-wrapper<% if controller_name == 'tasks' and action_name == 'priority' %> selected<% end %>">
                <% if controller_name == 'tasks' and action_name == 'priority' %><div class="selected_indicator">-</div><% end %>
								<%= link_to "Priority (#{Task.for_user(@this_user).active.priority.count})", priority_tasks_url, :class => (action_name == 'priority' and controller_name == 'tasks') ? 'selected' : '' %>
							</div>
							<% if Task.for_user(@this_user).unorganized.archived.count > 0 %>
							<div class="vert-line-subnav-wrapper<% if controller_name == 'tasks' and action_name == 'archived_unorganized' %> selected<% end %>">
                <% if controller_name == 'tasks' and action_name == 'archived_unorganized' %><div class="selected_indicator">-</div><% end %>
								<%= link_to "Archived (#{Task.for_user(@this_user).archived.unorganized.count})", archived_unorganized_tasks_url, :class => (action_name == 'archived_unorganized' and controller_name == 'tasks') ? 'selected' : '' %>
							</div>
							<% end %>
						</div>
					</div>
				</div>
				<div class="left_nav_wrapper last">
					<div class="vert-line-nav-wrapper-main<% if controller_name == 'projects' %> selected<% end %>" <% unless controller_name == 'projects' %>data-binding="hover_show_more" data-hover_div="project_subnav"<% end %>>
						<% if controller_name == 'projects' %>
            <div class="hover_nav_selected"<% if action_name != 'show' or Project.for_user(@this_user).active.count > 1 %> data-binding="hover_show_more" data-hover_div="project_subnav"<% end %>>
              <%= link_to 'Plans', plans_url, :class => (controller_name == 'projects') ? 'selected loud' : 'loud' %>
  						<div id="project_subnav" style="display:none;" class="left_subnav_wrapper hover_nav">
  						  <div class="hover_nav_pointer">&rarr;</div>
  							<div class="vert-line-subnav-wrapper">
    						  <% for project in Project.for_user(@this_user).active.ordered - [@project] %>
    							<div class="vert-line-subnav-wrapper">
                    <%= link_to truncate_clean(project.title,{:length => 100, :max_word_length =>  nil, :omission => '-'}), plan_url(project), :class => (action_name == 'show' and @project.id == project.id) ? 'selected' : '' %>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
						<div id="project_subnav" class="left_subnav_wrapper">
							<div class="vert-line-subnav-wrapper <% if action_name == 'index' %>selected<% end %>">
                <% if action_name == 'index' %><div class="selected_indicator">-</div><% end %>
								<%= link_to "Active (#{@this_user.projects.active.count})", plans_url, :class => (action_name == 'index') ? 'selected' : '' %>
							</div>
							<div class="vert-line-subnav-wrapper <% if action_name == 'shared' %>selected<% end %>">
                <% if action_name == 'shared' %><div class="selected_indicator">-</div><% end %>
								<%= link_to "Shared (#{@this_user.project_sharers.active.count})", shared_plans_url, :class => (action_name == 'shared') ? 'selected' : '' %>
							</div>
							<div class="vert-line-subnav-wrapper <% if action_name == 'archived' %>selected<% end %>">
                <% if action_name == 'archived' %><div class="selected_indicator">-</div><% end %>
								<%= link_to "Archived (#{Project.for_user(@this_user).archived.count})", archived_plans_url, :class => (action_name == 'archived') ? 'selected' : '' %>
							</div>
						  <% if action_name == 'show' %>
							<div class="vert-line-subnav-wrapper selected">
							  <div class="selected_indicator">-</div>
                <%= truncate_clean(@project.title,{:length => 100, :max_word_length => 20, :omission => '-'}) %>
              </div>
              <% end %>
            </div>
						<% else %>
            <%= link_to 'Plans', plans_url, :class => (controller_name == 'projects') ? 'selected loud' : 'loud' %>
						<div id="project_subnav" style="display:none;" class="left_subnav_wrapper hover_nav">
						  <div class="hover_nav_pointer">&rarr;</div>
							<div class="vert-line-subnav-wrapper">
								<%= link_to "Active (#{@this_user.projects.unarchived.count})", plans_url %>
							</div>
							<div class="vert-line-subnav-wrapper">
								<%= link_to "Shared (#{@this_user.project_sharers.active.count})", shared_plans_url %>
							</div>
							<div class="vert-line-subnav-wrapper">
								<%= link_to "Archived (#{Project.for_user(@this_user).archived.count})", archived_plans_url %>
							</div>
						  <% for project in Project.for_user(@this_user).active.ordered %>
							<div class="vert-line-subnav-wrapper">
                <%= link_to truncate_clean(project.title,{:length => 100, :max_word_length =>  nil, :omission => '-'}), plan_url(project) %>
              </div>
              <% end %>
            </div>
            <% end %>
					</div>
				</div>
				<div class="left_nav_wrapper last">
					<div class="vert-line-nav-wrapper-main<% if controller_name == 'situations' %> selected<% end %>"<% unless controller_name == 'situations' %> data-binding="hover_show_more" data-hover_div="situation_subnav"<% end %>>
						<%= link_to 'Situations', situations_url, :class => (controller_name == 'situations') ? 'selected loud' : 'loud' %>
						<% if @this_user.situations.count > 0 %>
						<div id="situation_subnav"<% unless controller_name == 'situations' %>style="display:none;"<% end %> class="left_subnav_wrapper<% unless controller_name == 'situations' %> hover_nav<% end %>">
              <% unless controller_name == 'situations' %>
						  <div class="hover_nav_pointer">&rarr;</div>
						  <% end %>
						  <% for situation in @this_user.situations %>
							<div class="vert-line-subnav-wrapper<% if controller_name == 'situations' and action_name == 'show' and @situation.id == situation.id %> selected<% end %>">
                <% if controller_name == 'situations' and action_name == 'show' and @situation.id == situation.id %><div class="selected_indicator">-</div><% end %>
                <%= link_to truncate_clean(situation.title,{:length => 100, :max_word_length => (controller_name == 'situations') ? 20 : nil, :omission => '-'}) + " (#{situation.tasks.active.count})", situation_url(situation), :class => (controller_name == 'situations' and action_name == 'show' and @situation.id == situation.id) ? 'selected' : '' %>
              </div>
              <% end %>
            </div>
            <% end %>
					</div>
				</div>
			</div>
			<% end %>
			<div class="span-18 last">
				<%= yield %>
			</div>
		</div>
	</div>
	<div style="display:none;" id="main_modal_view">
	</div>
<%= javascript_tag do %>
	jQuery(document).ready(function(){
		bindHoverShowMore();
		jQuery("[data-role='top_nav_element']").each(function(i){
			vertCenterDiv(jQuery(this),jQuery('#top_nav_wrapper'));
		});
		jQuery("#left_nav_spacer").height(jQuery("#header_wrapper").outerHeight(true));
		<% unless flash[:notice].blank? %>
			function clearFlash(){
				jQuery('#flash_notice').fadeOut(1000);
				setTimeout("jQuery('#flash_notice').remove();",1000);
			}
			jQuery('#main_content').before('<div id="flash_notice" style="display:none;margin-top: -17px;" class="container flash_notice"><%= flash[:notice] %></div>');
			jQuery('#flash_notice').fadeIn(500);
			setTimeout(clearFlash,3000);
		<% end %>
	})
<% end %>
</body>
</html>
