<!DOCTYPE html>
<html>
<head>
  <title><%= @html_page_title %></title>
  <%= render :partial => '/layouts/base_stylesheets' %>
  <%= render :partial => '/layouts/base_javascripts' %>
<% if @sortable %>
	<%= javascript_include_tag "jquery-ui-1.8.7.custom.min.js" %>
<% end %>
  <%= csrf_meta_tag %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
	<div id="top_nav">
		<div class="container">
			<div id="top_nav_wrapper" class="span-24 vertical-padding">
				<div class="span-5 text-right" data-role="top_nav_element">
					<div class="vert-line-nav-wrapper-header">
						<%= link_to 'Home', root_url, :class => 'loud' %>
					</div>
				</div>
				<div class="span-9" data-role="top_nav_element">&nbsp;</div>
				<div class="span-8 last text-center" data-role="top_nav_element">
					<% if current_user %>
						hello <%= @this_user.email %>
						<%= link_to '(sign out)', sign_out_url, :class => 'quiet' %>
						<%= link_to 'account', user_url(@this_user) %>
					<% else %>
						<%= link_to 'Sign Up', sign_up_url %> or
						<%= link_to 'Sign in', sign_in_url %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<div id="main_content" class="container">
		<div class="span-24">
			<div class="left_nav_wrapper">
			  <div class="left_nav_wrapper last" id="left_nav_spacer">&nbsp;</div>
        <% if @this_user %>
				<div class="left_nav_wrapper last">
					<div class="vert-line-nav-wrapper-main<% if controller_name == 'dashboard' %> selected<% end %>">
						<%= link_to 'Dashboard', dashboard_url, :class => (controller_name == 'dashboard') ? 'selected loud' : 'loud' %>
					</div>
				</div>
				<div class="left_nav_wrapper last">
					<div class="vert-line-nav-wrapper-main<% if controller_name == 'tasks' %> selected<% end %>" <% unless controller_name == 'tasks' %> data-binding="hover_show_more" data-hover_div="task_subnav"<% end %>>
						<%= link_to 'Tasks', tasks_url, :class => (controller_name == 'tasks') ? 'selected loud' : 'loud' %>
						<div id="task_subnav"<% unless controller_name == 'tasks' %>style="display:none;" class="hover_nav"<% end %>>
						  <% unless controller_name == 'tasks' %>
						  <div class="hover_nav_pointer">&rarr;</div>
						  <% end %>
							<div class="vert-line-subnav-wrapper">
								<%= link_to "Unorganized(#{@this_user.tasks.unarchived.unorganized.count})", tasks_url, :class => (action_name == 'index' and controller_name == 'tasks') ? 'selected' : '' %>
							</div>
							<div class="vert-line-subnav-wrapper">
								<%= link_to "Priority(#{@this_user.tasks.active.priority.count})", priority_tasks_url, :class => (action_name == 'priority' and controller_name == 'tasks') ? 'selected' : '' %>
							</div>
							<% if @this_user.tasks.active.with_due_date.count > 0 %>
							<div class="vert-line-subnav-wrapper">
								<%= link_to "By Due Date(#{@this_user.tasks.active.with_due_date.count})", due_date_tasks_url, :class => (action_name == 'due_date' and controller_name == 'tasks') ? 'selected' : '' %>
							</div>
							<% end %>
							<% if @this_user.tasks.unorganized.archived.count > 0 %>
							<div class="vert-line-subnav-wrapper">
								<%= link_to "Archived(#{@this_user.tasks.archived.unorganized.count})", archived_unorganized_tasks_url, :class => (action_name == 'archived_unorganized' and controller_name == 'tasks') ? 'selected' : '' %>
							</div>
							<% end %>
						</div>
					</div>
				</div>
				<div class="left_nav_wrapper last">
					<div class="vert-line-nav-wrapper-main<% if controller_name == 'projects' %> selected<% end %>" <% unless controller_name == 'projects' %>data-binding="hover_show_more" data-hover_div="project_subnav"<% end %>>
						<%= link_to 'Plans', plans_url, :class => (controller_name == 'projects') ? 'selected loud' : 'loud' %>
						<div id="project_subnav"<% unless controller_name == 'projects' %>style="display:none;"<% end %> class="left_subnav_wrapper<% unless controller_name == 'projects' %> hover_nav<% end %>">
              <% unless controller_name == 'projects' %>
						  <div class="hover_nav_pointer">&rarr;</div>
						  <% end %>
						  <% for project in @this_user.projects.active.ordered %>
							<div class="vert-line-subnav-wrapper">
                <%= link_to truncate_clean(project.title,{:length => 100, :max_word_length => (controller_name == 'projects') ? 15 : nil, :omission => '-'}), plan_url(project), :class => (controller_name == 'projects' and action_name == 'show' and @project.id == project.id) ? 'selected' : '' %>
              </div>
              <% end %>
							<div class="vert-line-subnav-wrapper">
								<%= link_to "Active(#{@this_user.projects.unarchived.count})", plans_url, :class => (controller_name == 'projects' and action_name == 'index') ? 'selected' : '' %>
							</div>
							<div class="vert-line-subnav-wrapper">
								<%= link_to "Archived(#{@this_user.projects.archived.count})", archived_plans_url, :class => (controller_name == 'projects' and action_name == 'archived') ? 'selected' : '' %>
							</div>
            </div>
					</div>
				</div>
				<div class="left_nav_wrapper last">
					<div class="vert-line-nav-wrapper-main<% if controller_name == 'situations' %> selected<% end %>"<% unless controller_name == 'situations' %> data-binding="hover_show_more" data-hover_div="situation_subnav"<% end %>>
						<%= link_to 'Situations', situations_url, :class => (controller_name == 'situations') ? 'selected loud' : 'loud' %>
						<div id="situation_subnav"<% unless controller_name == 'situations' %>style="display:none;"<% end %> class="left_subnav_wrapper<% unless controller_name == 'situations' %> hover_nav<% end %>">
              <% unless controller_name == 'situations' %>
						  <div class="hover_nav_pointer">&rarr;</div>
						  <% end %>
						  <% for situation in @this_user.situations %>
							<div class="vert-line-subnav-wrapper">
                <%= link_to truncate_clean(situation.title,{:length => 100, :max_word_length => (controller_name == 'situations') ? 15 : nil, :omission => '-'}), situation_url(situation), :class => (controller_name == 'situations' and action_name == 'show' and @situation.id == situation.id) ? 'selected' : '' %>
              </div>
              <% end %>
            </div>
					</div>
				</div>
			</div>
			<% end %>
			<div class="span-20 last">
				<%= yield %>
			</div>
		</div>
	</div>
<%= javascript_tag do %>
	jQuery(document).ready(function(){
		bindHoverShowMore();
		jQuery("[data-role='top_nav_element']").each(function(i){
			vertCenterDiv(jQuery(this),jQuery('#top_nav_wrapper'));
		});
		jQuery("#left_nav_spacer").height(jQuery("#header_wrapper").outerHeight(true));
		<% unless flash[:notice].blank? %>
			function clearFlash(){
				jQuery('#flash_notice').fadeOut(1000);
				setTimeout("jQuery('#flash_notice').remove();",1000);
			}
			jQuery('#main_content').before('<div id="flash_notice" style="display:none;margin-top: -17px;" class="container flash_notice"><%= flash[:notice] %></div>');
			jQuery('#flash_notice').fadeIn(500);
			setTimeout(clearFlash,3000);
		<% end %>
	})
<% end %>
</body>
</html>
