<!DOCTYPE html>
<html>
<head>
  <title><%= @html_page_title %></title>
  <%= render :partial => '/layouts/base_stylesheets' %>
  <%= render :partial => '/layouts/base_javascripts' %>
  <%= csrf_meta_tag %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body class="mytime">
  <div id="modal_mask" style="display: none;">&nbsp;</div>
	<div id="top_nav">
		<div class="container">
			<div id="top_nav_wrapper" class="span-24 vertical-padding">
			  <div class="left_nav_wrapper">&nbsp;</div>
				<div class="span-18 last" data-role="top_nav_element">
          <div class="span-9" style="padding-left:24px;">
						<%= link_to 'Home', root_url, :class => 'loud' %>
					</div>
  				<div class="span-8 last text_center" data-role="top_nav_element">
  					<% if current_user %>
  						hello <%= @this_user.email %>
  						<%= link_to '(sign out)', sign_out_url, :class => 'quiet' %>
  						<%= link_to 'account', user_url(@this_user) %>
  					<% else %>
  						<%= link_to 'Sign Up', sign_up_url %> or
  						<%= link_to 'Sign in', sign_in_url %>
  					<% end %>
  				</div>
        </div>
			</div>
		</div>
	</div>
	<div id="main_content" class="container">
		<div class="span-24">
			<div class="left_nav_wrapper">
			  <div class="left_nav_wrapper last" id="left_nav_spacer">&nbsp;</div>
        <% if @this_user %>
				<div class="left_nav_wrapper last">
					<div class="vert-line-nav-wrapper-main<% if controller_name == 'dashboard' %> selected<% end %>">
						<%= link_to 'Dashboard', dashboard_url, :class => (controller_name == 'dashboard') ? 'selected loud' : 'loud' %>
					</div>
				</div>
				<div class="left_nav_wrapper last">
					<div class="vert-line-nav-wrapper-main<% if controller_name == 'schedule' %> selected<% end %>">
						<%= link_to 'Schedule', schedule_url, :class => (controller_name == 'schedule') ? 'selected loud' : 'loud' %>
					</div>
				</div>
				<div id="task_nav" class="left_nav_wrapper last">
					<div class="vert-line-nav-wrapper-main<% if controller_name == 'tasks' %> selected<% end %>" <% unless controller_name == 'tasks' %> data-binding="hover_show_more" data-hover_div="task_subnav"<% end %>>
						<%= link_to 'Tasks', tasks_url, :class => (controller_name == 'tasks') ? 'selected loud' : 'loud' %>
						<div id="task_subnav"<% unless controller_name == 'tasks' %>style="display:none;" class="hover_nav"<% end %>>
						  <% unless controller_name == 'tasks' %>
						  <div class="hover_nav_pointer">&rarr;</div>
						  <% end %>
							<div class="vert_line_subnav_wrapper<% if controller_name == 'tasks' and action_name == 'index' %> selected<% end %>">
                <% if controller_name == 'tasks' and action_name == 'index' %><div class="selected_indicator">-</div><% end %>
								<%= link_to "Unorganized (#{Task.for_user(@this_user).unarchived.unorganized.count})", tasks_url, :class => (action_name == 'index' and controller_name == 'tasks') ? 'selected' : '' %>
							</div>
							<div class="vert_line_subnav_wrapper<% if controller_name == 'tasks' and action_name == 'priority' %> selected<% end %>">
                <% if controller_name == 'tasks' and action_name == 'priority' %><div class="selected_indicator">-</div><% end %>
								<%= link_to "Priority (#{Task.for_user(@this_user).active.priority.count})", priority_tasks_url, :class => (action_name == 'priority' and controller_name == 'tasks') ? 'selected' : '' %>
							</div>
							<% if Task.for_user(@this_user).unorganized.archived.count > 0 %>
							<div class="vert_line_subnav_wrapper<% if controller_name == 'tasks' and action_name == 'archived_unorganized' %> selected<% end %>">
                <% if controller_name == 'tasks' and action_name == 'archived_unorganized' %><div class="selected_indicator">-</div><% end %>
								<%= link_to "Archived (#{Task.for_user(@this_user).archived.unorganized.count})", archived_unorganized_tasks_url, :class => (action_name == 'archived_unorganized' and controller_name == 'tasks') ? 'selected' : '' %>
							</div>
							<% end %>
						</div>
					</div>
				</div>
				<div id="project_nav" class="left_nav_wrapper last<% if controller_name == 'projects' %> selected<% end %>">
					<div class="vert-line-nav-wrapper-main<% if controller_name == 'projects' %> selected<% end %>" <% unless controller_name == 'projects' %>data-binding="hover_show_more" data-hover_div="project_subnav"<% end %>>
						<% if controller_name == 'projects' %>
            <div class="hover_nav_selected"<% if action_name != 'show' or Project.for_user(@this_user).active.count > 1 %> data-binding="hover_show_more" data-hover_div="project_subnav"<% end %>>
              <%= link_to 'Plans', plans_url, :class => (controller_name == 'projects') ? 'selected loud' : 'loud' %>
  						<div id="project_subnav" style="display:none;" class="left_subnav_wrapper hover_nav">
  						  <div class="hover_nav_pointer">&rarr;</div>
  							<div class="vert_line_subnav_wrapper">
    						  <% for project in Project.for_user(@this_user).active.ordered - [@project] %>
    							<div class="vert_line_subnav_wrapper">
                    <%= link_to truncate_clean(project.title,{:length => 100, :max_word_length =>  nil, :omission => '-'}), plan_url(project), :class => (['show','edit'].include? action_name and @project.id == project.id) ? 'selected' : '' %>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
						<div class="left_subnav_wrapper">
							<div class="vert_line_subnav_wrapper <% if action_name == 'index' %>selected<% end %>">
                <% if action_name == 'index' %><div class="selected_indicator">-</div><% end %>
								<%= link_to "Active (#{Project.for_user(@this_user).active.count})", plans_url, :class => (action_name == 'index') ? 'selected' : '' %>
							</div>
							<div class="vert_line_subnav_wrapper <% if action_name == 'archived' %>selected<% end %>">
                <% if action_name == 'archived' %><div class="selected_indicator">-</div><% end %>
								<%= link_to "Archived (#{Project.for_user(@this_user).archived.count})", archived_plans_url, :class => (action_name == 'archived') ? 'selected' : '' %>
							</div>
						  <% if ['show','edit'].include? action_name %>
							<div class="vert_line_subnav_wrapper selected">
							  <div class="selected_indicator">-</div>
                <%= truncate_clean(@project.title,{:length => 100, :max_word_length => 20, :omission => '-'}) %>
              </div>
              <% end %>
            </div>
						<% else %>
            <%= link_to 'Plans', plans_url, :class => (controller_name == 'projects') ? 'selected loud' : 'loud' %>
						<div id="project_subnav" style="display:none;" class="left_subnav_wrapper hover_nav">
						  <div class="hover_nav_pointer">&rarr;</div>
							<div class="vert_line_subnav_wrapper">
								<%= link_to "Active (#{Project.for_user(@this_user).unarchived.count})", plans_url %>
							</div>
							<div class="vert_line_subnav_wrapper">
								<%= link_to "Archived (#{Project.for_user(@this_user).archived.count})", archived_plans_url %>
							</div>
						  <% for project in Project.for_user(@this_user).active.ordered %>
							<div class="vert_line_subnav_wrapper">
                <%= link_to truncate_clean(project.title,{:length => 100, :max_word_length =>  nil, :omission => '-'}), plan_url(project) %>
              </div>
              <% end %>
            </div>
            <% end %>
					</div>
				</div>
				<div id="label_nav" class="left_nav_wrapper last">
					<div class="vert-line-nav-wrapper-main<% if controller_name == 'labels' %> selected<% end %>"<% unless controller_name == 'labels' %> data-binding="hover_show_more" data-hover_div="label_subnav"<% end %>>
						<%= link_to 'Labels', labels_url, :class => (controller_name == 'labels') ? 'selected loud' : 'loud' %>
						<% if @this_user.labels.count > 0 %>
						<div id="label_subnav"<% unless controller_name == 'labels' %>style="display:none;"<% end %> class="left_subnav_wrapper<% unless controller_name == 'labels' %> hover_nav<% end %>">
              <% unless controller_name == 'labels' %>
						  <div class="hover_nav_pointer">&rarr;</div>
						  <% end %>
						  <% for label in @this_user.labels %>
							<div class="vert_line_subnav_wrapper<% if controller_name == 'labels' and ['show','edit'].include? action_name and @label.id == label.id %> selected<% end %>">
                <% if controller_name == 'labels' and ['show','edit'].include? action_name and @label.id == label.id %><div class="selected_indicator">-</div><% end %>
                <div class="label <%= label.color %>">
                <%= link_to truncate_clean(label.title,{:length => 100, :max_word_length => (controller_name == 'labels') ? 20 : nil, :omission => '-'}) + " (#{label.tasks.active.count})", label_url(label), :class => (controller_name == 'labels' and ['show','edit'].include? action_name and @label.id == label.id) ? 'selected' : '' %>
                </div>
              </div>
              <% end %>
            </div>
            <% end %>
					</div>
				</div>
  			<% end %>
			</div>
			<div class="span-18 last">
				<%= yield %>
			</div>
		</div>
	</div>
	<div style="display:none;" id="main_modal_view">
	</div>
<%= javascript_tag do %>
	jQuery(document).ready(function(){
  	<% unless flash[:notice].blank? %>
  		function clearFlash(){
  			jQuery('#flash_notice').fadeOut(1000);
  			setTimeout("jQuery('#flash_notice').remove();",1000);
  		}
  		jQuery('#main_content').before('<div id="flash_notice" style="display:none;margin-top: -17px;" class="container flash_notice"><%= flash[:notice] %></div>');
  		jQuery('#flash_notice').fadeIn(500);
  		setTimeout(clearFlash,3000);
  	<% end %>
		<% if params.has_key? :added_task %>
      jQuery("[data-behavior='expander'][data-state='contracted'][data-id='new_task_form']")
        .hide();
      jQuery("[data-behavior='expander'][data-state='expanded'][data-id='new_task_form']")
        .show();
      jQuery('#primary_input').focus();
		<% end %>
	})
<% end %>
</body>
</html>
