<!DOCTYPE html>
<html>
<head>
  <!-- <%= session.inspect.html_safe %> -->
  <title><%= @html_page_title %></title>
  <%= render :partial => '/layouts/base_stylesheets' %>
  <%= render :partial => '/layouts/base_javascripts' %>
  <%= csrf_meta_tag %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!--
  /*
   * MyFonts Webfont Build ID 790549, 2011-04-21T12:55:54-0400
   * 
   * The fonts listed in this notice are subject to the End User License
   * Agreement(s) entered into by the website owner. All other parties are 
   * explicitly restricted from using the Licensed Webfonts(s).
   * 
   * You may obtain a valid license at the URLs below.
   * 
   * Webfont: Coolvetica
   * URL: http://new.myfonts.com/fonts/larabie/coolvetica/coolvetica/
   * Foundry: Larabie
   * Copyright: (c) 1999-2009 Ray Larabie. See attached license agreement for more information. If EULA is missing, visit www.larabiefonts.com for an updated version of this font. Languages by Chikako Larabie
   * License: http://www.myfonts.com/viewlicense?1056
   * Licensed pageviews: unlimited/month
   * CSS font-family: CoolveticaRg-Regular
   * CSS font-weight: normal
   * 
   * (c) 2011 Bitstream, Inc
  */


  -->
  <link rel="shortcut icon" href="/images/GetGo.ico" />  
</head>
<body class="mytime <% unless @this_user %>public<% end %>">
	<div id="top_nav">
	  <div class="glare">&nbsp;</div>
		<div class="container">
			<div id="top_nav_wrapper" class="span-24 vertical-padding">
		    <% if @this_user %>
			    <div class="left_nav_wrapper">
            <div id="top_logo_content">
              <div class="row_item"><%= link_to 'Get Go', root_url %></div> <div class="row_item rarr_logo"><%= link_to '&rarr;'.html_safe, root_url %></div>
            </div>
  			  </div>
  				<div class="span-18 last" data-role="top_nav_element">
        <% else %>
          <div class="span-24 last" data-role="top_nav_element">
        <% end %>
        <% if @this_user %>
          <div class="span-5" style="margin-left: -16px;">
        <% else %>
          <div class="span-13">
        <% end %>
            <% unless current_user %>
              <div class="row_item top_nav_text_shadow <%= (@nav_tab == 'pages' and @subnav_tab == 'Features') ? 'selected' : '' %>">
                <%= link_to 'Features', '/page/Features' %>
              </div>
              <div class="row_item top_nav_text_shadow <%= (@nav_tab == 'pages' and @subnav_tab == 'Pricing') ? 'selected' : '' %>">
                <%= link_to 'Plans/Pricing', '/page/Pricing' %>
              </div>
            <% end %>
            <div class="row_item top_nav_text_shadow <%= (@nav_tab == 'pages' and @subnav_tab == 'Support') ? 'selected' : '' %>"><%= link_to 'Support', '/page/Support' %></div>
            <div class="row_item top_nav_text_shadow <%= (@nav_tab == 'pages' and @subnav_tab == 'Contact') ? 'selected' : '' %>"><%= link_to 'Contact', '/page/Contact' %></div>
          </div>
  				<div class="span-<% if @this_user %>13<% else %>10<% end %> last text_right top_nav_text_shadow" data-role="top_nav_element">
  					<% if current_user %>
  						hello <%= @this_user.handle %>
  						<%= link_to '(sign out)', sign_out_url, :class => 'quiet' %>
  					<% else %>
  						<%= link_to 'Sign Up', '/page/Pricing', :class => 'yellow_text' %> or
  						<%= link_to 'Sign in', sign_in_url, :class => 'yellow_text' %>
  					<% end %>
  				</div>
        </div>
			</div>
		</div>
	</div>
	<div id="main_content" class="container">
		<div class="span-24">
			<div class="left_nav_wrapper">
			  <div class="left_nav_wrapper last" id="left_nav_spacer">
			  </div>
        <% if @this_user %>
				<div class="left_nav_wrapper last">
					<div class="vert-line-nav-wrapper-main<% if @nav_tab == 'dashboard' %> selected padding_bottom<% end %>">
						<%= link_to 'Dashboard', dashboard_url, :class => (@nav_tab == 'dashboard') ? 'selected loud' : 'loud' %>
            <% if @nav_tab == 'dashboard' %>
            <% if @this_user.is_a? PaidAccount
                 subnav_links = {
                   'overview' => dashboard_url,
                   'unorganized' => dashboard_unorganized_url,
                   'comments' => recent_comments_url,
                   'schedule' => schedule_url,
                   'completed' => dashboard_completed_url,
                   'archived tasks' => archived_unorganized_tasks_url
                 }
                 subnav_tags = ['overview','unorganized','comments','schedule','completed','archived tasks']
                 if @this_user.shared_comments.recent.empty?
                   subnav_tags.delete('comments')
                 end
                 if @this_user.tasks.unarchived.unorganized.empty?
                   subnav_tags.delete('unorganized')
                 end
                 if @this_user.tasks.unorganized.archived.empty?
                   subnav_tags.delete('archived tasks')
                 end
               else
                 subnav_links = {
                   'overview' => dashboard_url,
                   'schedule' => schedule_url,
                   'completed' => dashboard_completed_url
                 }
                 subnav_tags = ['overview','schedule','completed']
               end
            %>
            <% for subnav in subnav_tags %>
            <div class="vert_line_subnav_wrapper<% if @subnav_tab == subnav %> selected<% end %>">
             <span class="allcaps"><%= link_to subnav.split.map{|word| word.capitalize}.join(' '), subnav_links[subnav] %></span>
						</div>
						<% end %>
						<% end %>
					</div>
				</div>
				<div id="project_nav" class="left_nav_wrapper last<% if @nav_tab == 'plans' %> selected<% end %>">
					<div class="vert-line-nav-wrapper-main<% if @nav_tab == 'plans' %> selected<% end %>">
              <div onclick="void(0)" class="loud" <% unless @nav_tab == 'plans' %> data-behavior="expander" data-action="expand" data-state="contracted" data-id="folder_list"<% end %>>Plans</div>
              <div onclick="void(0)" class="loud" <% unless @nav_tab == 'plans' %> data-behavior="expander" data-action="contract" data-state="expanded" data-id="folder_list"<% end %> style="display: none;">Plans</div>
  						<div class="expandable_subnav" id="folder_subnav" data-sort_container="true" data-sort_mirror="#folder_list" data-sort_type="folder" data-sort_id="folder_list" data-sort_url="<%= sort_folders_url %>" <% unless @nav_tab == 'plans' %> style="display:none;" data-behavior="expander" data-state="expanded" data-id="folder_list"<% end %>>
  						  <% if @this_user.folders.any? %>
    						  <% for folder in @this_user.folders.ordered %>
  						      <%  selected = (@nav_tab == 'plans' and @folder and !@project and @folder.id == @subnav_tab and @folder.id == folder.id)
  						          super_selected = (@nav_tab == 'plans' and @project and @project.folder_for(@this_user) == folder) %>
                    <div id="folder_<%= folder.id %>_nav" class="expandable_subnav" data-sort_element="true" data-sort_id="folder_list">
                      <div class="expandable_subnav <% if selected %> selected<% end %>" data-binding="hover_show_more" data-hover_div="[data-hover_id='folder_nav_<%= folder.id %>']" data-hover_fade_time="50" data-hover_fadein_time="50">
        						    <div class="expand_arrow_width" data-behavior="expander" data-action="expand" data-state="contracted" data-id="folder_<%= folder.id %>" <% if selected or super_selected %>style="display:none;"<% end %>>&nbsp;&gt;</div>
        						    <div class="expand_arrow_width" data-behavior="expander" data-action="contract" data-state="expanded" data-id="folder_<%= folder.id %>" <% unless selected or super_selected %>style="display:none;"<% end %>>&nbsp;&or;</div>
        						    <div class="expanded_subnav">
        						      <div class="overflow_fade">&nbsp;</div>
                          <div data-drag_handle="true" class="allcaps expandable_subnav_stretcher">
                            &nbsp;<a href="<%= folder_url(folder) %>" data-resource_attr="folder_title" data-resource_id="<%= folder.id %>"><%= folder.title %></a>
                          </div>
                          <div class="nav_tools" data-hover_id="folder_nav_<%= folder.id %>" style="display:none;">
                            <div class="nav_tool_text"><div class="count" data-sort_count="true" data-sort_id="folder_plan_list" data-sort_count_id="folder_<%= folder.id %>_plan_list"><%= Project.for_folder(folder).only_once.active.count %></div>&nbsp;</div>
                            <div class="nav_tool_icons">
                            <a class="plus_icon" data-modal_trigger="true" data-modal_id="folder_new_project_form_nav" data-modal_insert_value="<%= folder.id %>" data-modal_display_name="<%= folder.title %>">&oplus;</a>
                    		    <a href="<%= folder_url(folder) %>"
                        			data-ajax_behavior="ajax_link"
                        			data-ajax_method="DELETE"
                        			data-ajax_success_callback="jQuery('#folder_<%= folder.id %>_nav').remove();jQuery('#folder_<%= folder.id %>').remove();handleListDisplay();"
                        			data-ajax_data="{_method: 'DELETE'}"
                        			data-ajax_confirm="Are you sure you want to delete this folder? You'll delete all the plans and tasks inside as well."
                        			class="delete" data-role="delete">&otimes;</a>&nbsp;
                        		</div>
                      		</div>
                    		</div>
                    	</div>
          						<div class="expandable_subnav" id="folder_<%= folder.id %>_plan_list_nav" <% unless selected or super_selected %>style="display:none;"<% end %> data-behavior="expander"  data-state="expanded" data-id="folder_<%= folder.id %>" data-sort_container="true" data-sort_mirror="#folder_<%= folder.id %>_plan_list" data-sort_type="project" data-sort_url="<%= sort_plans_folder_url(folder) %>" data-sort_id="folder_plan_list" data-sort_count_id="folder_<%= folder.id %>_plan_list">
          						  <% for project in Project.for_folder(folder).only_once.active.shared_order %>
          							<div id="project_<%= project.id %>nav" class="expanded_subnav_indent <% if @project and @subsubnav_tab == @project.id and project.id == @project.id %>selected<% end %> line_fixed_width" data-sort_element="true" data-sort_id="folder_plan_list" data-binding="hover_show_more" data-hover_div="[data-hover_id='project_nav_<%= project.id %>']" data-hover_fade_time="50" data-hover_fadein_time="50">
          							  <div class="overflow_fade">&nbsp;</div>
                          <div class="nav_tools" data-hover_id="project_nav_<%= project.id %>" style="display:none;">
            							  <div class="nav_tool_text"><div class="count small" data-sort_count="true" data-sort_id="project_task_lists" data-sort_count_id="project_<%= project.id %>_task_list" data-hover_id="project_nav_<%= project.id %>" style="display:none;"><%= project.tasks.active.count %></div>&nbsp;</div>
                            <div class="nav_tool_icons">
                            <% unless @project and @project.id == project.id %>
                            <a class="plus_icon" data-modal_trigger="true" data-modal_id="project_new_task_form_nav" data-modal_insert_value="<%= project.id %>" data-modal_display_name="<%= project.title %>">&oplus;</a>
                    		    <a href="<%= plan_url(project) %>"
                        			data-ajax_behavior="ajax_link"
                        			data-ajax_method="DELETE"
                        			data-ajax_success_callback="jQuery('#project_<%= project.id %>nav').remove();jQuery('#project_<%= project.id %>').remove();handleListDisplay();handleCount('folder_<%= project.folder_for(@this_user).id %>_plan_list','folder_<%= project.folder_for(@this_user).id %>_plan_list_nav');"
                        			data-ajax_data="{_method: 'DELETE'}"
                        			data-ajax_confirm="Are you sure you want to delete this project? You'll delete all the tasks inside as well."
                        			class="delete" data-role="delete">&otimes;</a><% end %>&nbsp;
                        		</div>
                      		</div>
          							  <div class="expandable_subnav_stretcher" data-drag_handle="true">
                            &nbsp; <a href="<%= plan_url(project) %>" data-resource_attr="project_title" data-resource_id="<%= project.id %>" <% if project.archived? %>class="archived"<% end %> <% if project.all_complete? %>class="completed"<% end %>><%= project.title %></a>
                          </div>
                        </div>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                  <div class="span-5 nav_divider">&nbsp;</div>
    						  <div class="expandable_subnav">
    						    <%  selected = (@nav_tab == 'plans' and !@folder and @subnav_tab)
    						        super_selected = selected %>
                    <div class="expandable_subnav <% if selected or super_selected %> bold<% end %>">
      						    <div class="expand_arrow_width" data-behavior="expander" data-action="expand" data-state="contracted" data-id="folder_misc"<% if selected or super_selected %>style="display:none;"<% end %>>&nbsp;&gt;</div>
      						    <div class="expand_arrow_width" data-behavior="expander" data-action="contract" data-state="expanded" data-id="folder_misc" <% unless selected or super_selected %>style="display:none;"<% end %>>&nbsp;&or;</div>
                      <div class="expanded_subnav allcaps">&nbsp;Misc.</div>
                    </div>
        						<div id="folder_misc_subnav" class="expandable_subnav margin_bottom" <% unless selected or super_selected %>style="display:none;"<% end %> data-behavior="expander"  data-state="expanded" data-id="folder_misc">
        						  <% if Project.for_user(@this_user).only_once.archived.count > 0 %>
        							<div class="expandable_subnav">
                        <div class="expanded_subnav_indent<% if @subnav_tab == 'archived' %> selected<% end %>">
        								  &nbsp;<%= link_to "Archived Plans", archived_plans_url %>
        								</div>
        							</div>
        							<% end %>
        						  <% if @this_user.plan_templates.any? %>
        							<div class="expandable_subnav">
                        <div class="expanded_subnav_indent<% if @subnav_tab == 'plan_templates' %> selected<% end %>">
        								  &nbsp;<%= link_to "Plan Templates", plan_templates_url %>
        								</div>
        							</div>
        							<% end %>
        							<div class="expandable_subnav">
                        <div class="expanded_subnav_indent<% if @subnav_tab == 'active' %> selected<% end %>" data-binding="hover_show_more" data-hover_div="[data-hover_id='folder_nav_all']" data-hover_fade_time="50" data-hover_fadein_time="50">
                          <div class="nav_tools" data-hover_id="folder_nav_all" style="display:none;">
                            <div class="nav_tool_icons">
                            <a class="plus_icon" data-modal_trigger="true" data-modal_id="new_folder_form_nav">&nbsp;&oplus;&nbsp;</a>
                        		</div>
                      		</div>
        								  &nbsp;<%= link_to "All Folders", plans_url %>
        								</div>
        							</div>
                    </div>
                  </div>
                <% else %>
    							<div class="expandable_subnav">
                    <a data-modal_trigger="true" data-modal_id="new_folder_form_nav">add a folder</a>
                  </div>
                <% end %>
              </div>
					</div>
				</div>
				<div id="contacts_nav" class="left_nav_wrapper last">
					<div class="vert-line-nav-wrapper-main<% if @nav_tab == 'contacts' %> selected <% if @subnav_tab %>padding_bottom<% end %><% end %>">
            <div onclick="void(0)" class="loud" <% unless @nav_tab == 'contacts' %> data-behavior="expander" data-action="expand" data-state="contracted" data-id="contact_list" data-switch="hide"<% end %>>Contacts</div>
            <div onclick="void(0)" class="loud" <% unless @nav_tab == 'contacts' %> data-behavior="expander" data-action="contract" data-state="expanded" data-id="contact_list" data-switch="hide"<% end %> style="display: none;">Contacts</div>
						<div class="expandable_subnav" id="contact_subnav" <% unless @nav_tab == 'contacts' %> style="display:none;" data-behavior="expander" data-state="expanded" data-id="contact_list"<% end %>>
              <% if User.contacts_for(@this_user).empty? %>
                <div class="expandable_subnav">
                  <span onclick="void(0)" data-modal_trigger="true" data-modal_id="contacts_intro_help">learn about contacts</span>
                </div>
              <% end %>
						  <% for contact in User.contacts_for(@this_user) %>
					      <%  selected = (@nav_tab == 'contacts' and @user and !@project and @user.id == @subnav_tab and @user.id == contact.id)
					          super_selected = (@nav_tab == 'contacts' and @project and (@project.user_id == contact.id or @project.project_sharers.detect{|ps| ps.user_id = contact.id})) %>
                <div id="contact_<%= contact.id %>_nav" class="expandable_subnav" data-sort_element="true" data-sort_id="contact_list">
                  <div class="expandable_subnav <% if selected %> selected<% end %>" data-binding="hover_show_more" data-hover_div="[data-hover_id='contact_nav_<%= contact.id %>']" data-hover_fade_time="50" data-hover_fadein_time="50">
    						    <div class="expand_arrow_width" data-behavior="expander" data-action="expand" data-state="contracted" data-id="contact_<%= contact.id %>" <% if selected or super_selected %>style="display:none;"<% end %>>&nbsp;&gt;</div>
    						    <div class="expand_arrow_width" data-behavior="expander" data-action="contract" data-state="expanded" data-id="contact_<%= contact.id %>" <% unless selected or super_selected %>style="display:none;"<% end %>>&nbsp;&or;</div>
    						    <div class="expanded_subnav">
    						      <div class="overflow_fade">&nbsp;</div>
                      <div data-drag_handle="true" class="allcaps expandable_subnav_stretcher">
                        &nbsp;<a href="<%= user_url(contact) %>" data-resource_attr="contact_title" data-resource_id="<%= contact.id %>"><%= contact.handle %></a>
                      </div>
                		</div>
                	</div>
      						<div class="expandable_subnav" id="contact_<%= contact.id %>_plan_list_nav" <% unless selected or super_selected %>style="display:none;"<% end %> data-behavior="expander"  data-state="expanded" data-id="contact_<%= contact.id %>">
      						  <%  @contact_projects = (@this_user.shared_projects.active.where("projects.user_id = :user_id",{:user_id => contact.id}) + contact.shared_projects.active.where("projects.user_id = :user_id",{:user_id => @this_user.id})).uniq
      						      unless @contact_projects.any?
                          @contact_projects = (@this_user.shared_projects.where("projects.user_id = :user_id",{:user_id => contact.id}) + contact.shared_projects.where("projects.user_id = :user_id",{:user_id => @this_user.id})).uniq
    						        end
      						      for project in @contact_projects %>
      							<div id="project_<%= project.id %>_contact_<%= contact.id %>nav" class="expanded_subnav_indent <% if @project and @subsubnav_tab == @project.id and project.id == @project.id %>selected<% end %> line_fixed_width" data-sort_element="true" data-sort_id="contact_plan_list" data-binding="hover_show_more" data-hover_div="[data-hover_id='project_<%= project.id %>_contact_<%= contact.id %>nav']" data-hover_fade_time="50" data-hover_fadein_time="50">
      							  <div class="overflow_fade">&nbsp;</div>
                      <div class="nav_tools" data-hover_id="project_<%= project.id %>_contact_<%= contact.id %>nav" style="display:none;">
        							  <div class="nav_tool_text"><div class="count small" data-sort_count="true" data-sort_id="project_task_lists" data-list_count="project_<%= project.id %>_task_list" data-hover_id="project_<%= project.id %>_contact_<%= contact.id %>nav" style="display:none;"><%= project.tasks.active.count %></div>&nbsp;</div>
                        <div class="nav_tool_icons">
                        <% unless @project and @project.id == project.id %>
                        <a class="plus_icon" data-modal_trigger="true" data-modal_id="project_new_task_form_nav" data-modal_insert_value="<%= project.id %>" data-modal_display_name="<%= project.title %>">&oplus;</a>
                		    <a href="<%= plan_url(project) %>"
                    			data-ajax_behavior="ajax_link"
                    			data-ajax_method="DELETE"
                    			data-ajax_success_callback="jQuery('#project_<%= project.id %>nav').remove();jQuery('#project_<%= project.id %>').remove();handleListDisplay();handleCount();"
                    			data-ajax_data="{_method: 'DELETE'}"
                    			data-ajax_confirm="Are you sure you want to delete this project?"
                    			class="delete" data-role="delete">&otimes;</a><% end %>&nbsp;
                    		</div>
                  		</div>
      							  <div class="expandable_subnav_stretcher" data-drag_handle="true">
                        &nbsp; <a href="<%= plan_url(project) %>" data-resource_attr="project_title" data-resource_id="<%= project.id %>" <% if project.archived? %>class="archived"<% end %> <% if project.all_complete? %>class="completed"<% end %>><%= project.title %></a>
                      </div>
                    </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
				<div id="label_nav" class="left_nav_wrapper last">
					<div class="vert-line-nav-wrapper-main<% if @nav_tab == 'labels' %> selected <% if @subnav_tab %>padding_bottom<% end %><% end %>">
						<%= link_to 'Labels', labels_url, :class => (@nav_tab == 'labels') ? 'selected loud' : 'loud' %>
						<% if @nav_tab == 'labels' and @subnav_tab and @label %>
						<div id="label_subnav" class="left_subnav_wrapper">
							<div class="vert_line_subnav_wrapper selected">
                <div class="label <%= @label.color %>">
                <%= link_to truncate_clean(@label.title,{:length => 100, :max_word_length => 20, :omission => '-'}) + " (#{@label.tasks.only_once.for_user(@this_user).active.count})", label_url(@label), :class => 'selected' %>
                </div>
              </div>
            </div>
            <% end %>
					</div>
				</div>
				<div class="left_nav_wrapper last">
					<div class="vert-line-nav-wrapper-main<% if @nav_tab == 'account' %> selected padding_bottom<% end %>">
						<%= link_to 'Account', account_user_url(@this_user), :class => (@nav_tab == 'account') ? 'selected loud' : 'loud' %>
            <% if @nav_tab == 'account' %>
            <% subnav_links = {
                 'info' => account_user_url(@this_user),
                 'settings' => settings_user_url(@this_user)
               }
               subnav_tags = ['info','settings']
            %>
            <% for subnav in subnav_tags %>
            <div class="vert_line_subnav_wrapper<% if @subnav_tab == subnav %> selected<% end %>">
              <span class="allcaps"><%= link_to subnav.capitalize, subnav_links[subnav] %></span>
						</div>
						<% end %>
						<% end %>
					</div>
				</div>
				<% else %>
        <div class="span-6">
          <div id="main_logo" onclick="document.location.href = '<%= root_url %>'">
            <div id="main_logo_inner">
              <div id="main_logo_glare">&nbsp;</div>
              <div id="main_logo_content">
                Get Go <span class="rarr_logo">&rarr;</span>
              </div>
            </div>
          </div>
        </div>
  			<% end %>
  			<div id="testone" class="span-3 last">
        </div>
        
			</div>
			<div class="span-18 last">
				<%= yield %>
			</div>
		</div>
	</div>
  <div id="modal_mask" style="display: none;">&nbsp;</div>
	<div style="display:none;" id="main_modal_view">
	</div>
	<% if @this_user %>
	<% if User.contacts_for(@this_user).empty? %>
    <%= render :partial => '/context_help/contacts_intro_help' %>
  <% end %>
  <div style="display:none;" class="form_modal" data-modal="true" data-modal_id="new_folder_form_nav">
    <% if @this_user.is_a? PaidAccount %>
      <% if @this_user.in_good_standing? %>
        <h2>Create a new Folder</h2>
        <div class="span-16 section_margin_top">
          <%= form_for Folder.new(:user_id => @this_user.id) do |f| %>
            <div class="span-12">
              <%= f.label :title, 'Folder Title' %>
        			<%= f.text_field :title, :class => "span-12" %>
        		</div>
        		<div class="span-4 last">
        			<%= f.hidden_field :user_id %>
        			<%= hidden_field_tag :return_to, request.request_uri %>
            	<div class="row_item button round small light" data-button="true" data-submit="true" onclick="void(0)">
            	  <div class="button_content">add folder</div>
            	</div>
            	<div class="text_with_button small" onclick="void(0)" data-modal_closer="true" data-modal_id="new_folder_form_nav">
        			or cancel
              </div>
        		</div>
          <% end %>
        </div>
      <% else %>
        <div class="span-16 last">
          <div class="span-15 last">
            Your account is currently on hold. Please visit the account view and update your credit card information before proceeding. Thanks!
          </div>
          <div class="span-3 prepend-13 last padding_bottom">
          	<div class="text_with_button small" onclick="void(0)" data-modal_closer="true" data-modal_id="new_folder_form_nav">
      			close
            </div>
          </div>
        </div>
      
      <% end %>
    <% else %>
      <div class="span-16 last">
        <div class="span-15 last">
          You currently have a free account for collaborators. Upgrade to a paid account now and create your own plans and folders, share them with friends and colleagues, and more!
        </div>
        <div class="span-3 prepend-13 last padding_bottom">
        	<div class="text_with_button small" onclick="void(0)" data-modal_closer="true" data-modal_id="new_folder_form_nav">
    			close
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div style="display:none;" class="form_modal" data-modal="true" data-modal_id="folder_new_project_form_nav">
    <% if @this_user.is_a? PaidAccount %>
      <% if @this_user.in_good_standing? %>
        <div id="folder_new_project_form_wrapper_nav" class="span-15 last section_margin_top">
          <h2>Add a new plan to the folder "<span data-modal_display_name="true"></span>"</h2>
        	<%= form_for Project.new(:folder_id => nil, :state => 'active'), :url => plans_url, :html => {:id => "folder_new_project_form_nav"} do |f| %>
            <div class="span-15 last">
          		<div class="span-8">
          			<%= f.text_field :title, :id => "folder_new_project_title_nav", :class => "span-8" %>
          		</div>
          		<div class="span-4 last">
          			<%= f.hidden_field :state, :id => "folder_new_project_state_nav" %>
          			<%= f.hidden_field :folder_id, :id => "folder_new_project_folder_id", :'data-modal_insert' => true %>
          			<%= hidden_field_tag :return_to, request.request_uri %>
              	<div class="row_item button round small light" data-button="true" data-submit="true" onclick="void(0)">
              	  <div class="button_content">add plan</div>
              	</div>
              	<div class="text_with_button small" onclick="void(0)" data-modal_closer="true" data-modal_id="folder_new_project_form_nav">
          			or cancel
                </div>
          		</div>
            </div>
        	<% end %>
        </div>
      <% else %>
        <div class="span-16 last">
          <div class="span-15 last">
            Your account is currently on hold. Please visit the account view and update your credit card information before proceeding. Thanks!
          </div>
          <div class="span-3 prepend-13 last padding_bottom">
          	<div class="text_with_button small" onclick="void(0)" data-modal_closer="true" data-modal_id="new_folder_form_nav">
      			close
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="span-16 last">
        <div class="span-15 last">
          You currently have a free account for collaborator's. Upgrade to a paid account and create your own plans and folders, share them with friends and colleagues, and more!
        </div>
        <div class="span-3 prepend-13 last padding_bottom">
        	<div class="text_with_button small" onclick="void(0)" data-modal_closer="true" data-modal_id="folder_new_project_form_nav">
    			close
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div style="display:none;" class="form_modal" data-modal="true" data-modal_id="project_new_task_form_nav">
    <div class="span-16 section_margin_top">
      <h2>Add a new task to the plan "<span data-modal_display_name="true"></span>"</h2>
    	<%= form_for Task.new(:state => 'active'), :html => {
    	  :id => "project_new_task_form_nav"} do |f| %>
    		<div class="span-12">
    			<%= f.text_field :title, :id => "project_new_task_title_nav", :class => "span-12" %>
    		</div>
    		<div class="span-4 last">
    			<%= f.hidden_field :state, :id => "project_new_task_state_nav" %>
    			<%= f.hidden_field :project_id, :id => "project_new_task_project_id_nav", :'data-modal_insert' => true %>
    			<%= hidden_field_tag :return_to, request.request_uri %>
        	<div class="row_item button round small light" data-button="true" data-submit="true" onclick="void(0)">
        	  <div class="button_content">add task</div>
        	</div>
        	<div class="text_with_button small" onclick="void(0)" data-modal_closer="true" data-modal_id="project_new_task_form_nav">
    			or cancel
          </div>
    		</div>
    	<% end %>
    </div>
  </div>
  <div style="display:none;" id="ajax_loading">working to complete your request...</div>
  <% end %>
<%= javascript_tag do %>
	jQuery(document).ready(function(){
  	<% unless flash[:notice].blank? %>
  		function clearFlash(){
  			jQuery('#flash_notice').fadeOut(1000);
  			setTimeout("jQuery('#flash_notice').remove();",1000);
  		}
  		jQuery('#main_content').before('<div id="flash_notice" style="display:none;" class="flash_notice"><%= flash[:notice] %></div>');
  		repositionDialog('#flash_notice', 'top');
  		jQuery('#flash_notice').fadeIn(500);
  		setTimeout(clearFlash,3000);
  		<% flash.discard %>
  	<% end %>
		<% if params.has_key? :added_task and @this_user.projects.any? %>
      jQuery("[data-behavior='expander'][data-state='contracted'][data-id='new_task_form']")
        .hide();
      jQuery("[data-behavior='expander'][data-state='expanded'][data-id='new_task_form']")
        .show();
        popButtons();
		<% end %>
		<% unless @this_user %>
  		jQuery("a:not(.button a,#top_nav_wrapper a)").css('text-decoration','underline');
  	<% end %>
  	<% unless flash[:ajax_dialog].blank? %>
  	jQuery('body').append('<div id="flash_dialog_<%= @item.class.name.underscore %>_<%= @item.id %>" style="display:none;" class="flash_dialog"><%= escape_javascript(flash[:ajax_dialog]) %></div>');
		repositionDialog('#flash_dialog_<%= @item.class.name.underscore %>_<%= @item.id %>', 'center');
		jQuery('#flash_dialog_<%= @item.class.name.underscore %>_<%= @item.id %>').fadeIn(500);
    <%= render :partial => '/projects/go_to_javascript' %>
    <% flash.discard %>
  	<% end %>
    <% if @focus_primary_input %>
      jQuery('#primary_input').focus();
    <% end %>
	})
<% end %>
<% if session[:signed_up] %>
  <% session[:signed_up] = nil %>
  <!-- Google Code for sign up Conversion Page -->
  <script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 1016805753;
  var google_conversion_language = "en";
  var google_conversion_format = "2";
  var google_conversion_color = "fdfcf8";
  var google_conversion_label = "thd7COe6iQIQ-fLs5AM";
  var google_conversion_value = 0;
  /* ]]> */
  </script>
  <script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
  </script>
  <noscript>
  <div style="display:inline;">
  <img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/1016805753/?label=thd7COe6iQIQ-fLs5AM&amp;guid=ON&amp;script=0"/>
  </div>
  </noscript>
  
<% end %>
<%= render :partial => '/layouts/google_analytics' %>
</body>
</html>
